/* CSS Document */

*  {
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	}

body {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #656565;
	}
	
#content {
	position: relative;
	padding: 10px 0 0 0;
	left: 2%;
	width: 96%;
	text-align: left;
	}

#content #title {
	border-bottom: solid 1px #cfcfcf;
	padding-bottom: 15px;
	}

#content #left-column {
	padding-top: 10px;
	width: 52%;
	}

#content #right-column{
	float: right;
	padding-top: 10px;
	width: 43%;
	}

ul 	{
	list-style-type: none;
	}

li {
	padding-left: 37px;
	min-height: 37px;
	background-repeat: no-repeat;
	background-position: 0 2px;
	color: #656565;
	position: relative;
	margin-bottom: 10px;
	}

li ul {
	padding-left: 25px;
}
li ul li {
	padding-left: 0px;
	list-style-type: square;
	min-height: 0px;
	margin-bottom: 0px;
}

li h2 {
	margin-bottom: 1px;
	font-size: 14px;
	font-family: arial;
	}

li img {
	position: absolute;
	top: 2px;
	left: -3px;
	border: none;
	}

h1 {
	font-size: 14px;
	}
	
h2 {
	font-size: 11px;
	}

h3 {
	font-weight: bold;
	font-size: 11px;
	}

a {
	color: #0063a2;
	text-decoration: none;
	}

li#komodo-ide {
	margin-top: 13px;
	}

li#komodo-ide img{
	position: absolute;
	left: -6px;
	top: 0px;
	}
	
p {
	margin-bottom: 7px;
	}	
	
p.icons {
	margin-top: 15px;
	}
	
p.icons img {
	margin-right: 30px;
	border: 0;
	}
		

#announcement img {
	float: left;
	}

#announcement .copy h2 a{
	font-size: 14px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	}
	
#announcement .copy h2 {
	margin-bottom: 5px;
	}
	
#three-boxes {
	text-align: center;
	clear: both;
	}

.box {
	float: left;
	height: 10em;
	width: 33.3%;
	min-height: 15em;
	min-width: 19em;
	text-align: left;
	}
	
.box .left {
	float: left;
	width: 16px;
	background: url(img/top/box-left-bg.png) no-repeat;
	height: 16em;
	}	

.box .right {
	width: 12px;
	background: url(img/top/box-right-bg.png) no-repeat;
	height: 16em;
	float: right;
	}	
	
.box-title {
	margin: 41px 20px 20px 20px;
	}
	
.box-title h2 {
	font-family: sans-serif,serif,Verdana,Helvetica;
	font-size: larger;
}
.box-title h2 a {
	color: white;
}
.box-title h2 a:hover {
	color: #EEEEEE;
}
