/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

scrollbar {
  -moz-appearance: none;
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar);
  cursor: default;
  background: transparent;
  border-radius: 4px;
}

scrollbar:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* ..... track ..... */

slider {
  -moz-appearance: none;
  background: transparent;
  height: 14px;
  padding: 2px;
}

slider[orient="vertical"] {
  -moz-appearance: none;
  width: 14px;
  height: auto;
}

/* ..... thumb ..... */

thumb {
  -moz-appearance: none;
  background: rgb(45, 45, 45) -moz-linear-gradient(90deg , rgb(45, 45, 45) 0%, rgb(60, 60, 60) 100%);
  border-radius: 4px;
  border: 1px solid rgb(65, 65, 65);
  min-width: 14px;
}

thumb[orient="vertical"] {
  background: rgb(45, 45, 45) -moz-linear-gradient(180deg , rgb(45, 45, 45) 0%, rgb(60, 60, 60) 100%);
  min-height: 14px;
  min-width: auto;
}

/* ..... increment ..... */

scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  display: none;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  display: none;
}

/* ..... decrement ..... */

scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
  display: none;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
  display: none;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner {
  /* XXX -moz-appearance: scrollcorner; */
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar-base);
  width: 16px;
  cursor: default;
  background-color: white;
}

/* ::::::::::::::::::::: MEDIA PRINT :::::::::::::::::::::: */
@media print {
  html|div scrollbar {
    -moz-appearance: scrollbar;
    -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar);
    cursor: default;
  }
}
