@import url("chrome://komodo/skin/plat/current/window.less");

#topview tabpanel view:not([type="startpage"])
{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

statusbar
{
    .statusbar-resizerpanel
    {
        -moz-appearance: none;
    }
}

minimap
{
    background-color: @main-border-color;
}
