@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@import url("chrome://komodo/skin/plat/shared/platform.less");

/* "workspace_splitter": A splitter used between main panes in the
 * Komodo window.
 *
 * Intentionally blank: use default splitter style.
 */

/* "multiview_splitter": A splitter used for splitting tab groups in the main
 * Komodo editor pane.
 */

splitter.multiview_splitter {
  background-image: url("chrome://komodo/skin/images/grippy_horizontal.png");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 9px;
}

splitter[orient="vertical"].multiview_splitter {
  background-image: url("chrome://komodo/skin/images/grippy_vertical.png");
}


/* Sidebar and editor tabs styling. */

tabpanel {
  -moz-appearance: none;
  border: None;
  padding: 0px;
  margin: 0px;
}

tabpanels {
  -moz-appearance: none;
  border: 0;
  padding: 0px;
  margin: 0px;
}

/* Fix disabled autocomplete-textbox styling on Linux and Vista (bug 75996).
 * 
 * Only *specifically* doing this for non-MacOSX and for textboxes of
 * type autocomplete because for those other cases the result is a
 * properly colored hbox inside the textbox **with a white border area
 * around it that I am unable to style**.
 *
 * As well, on Mac OS X the border of the textbox is the standard (albeit
 * subtle) distinguishing UI for the readonly-ness of the textbox. The
 * current XUL theme handles that already.
 */
textbox[type="autocomplete"][disabled="true"] > hbox {
  background-color: -moz-Dialog;
}

/**
 * Don't style the toolbar elements that wrap around the menubar - otherwise
 * you end up with a double-border at the bottom of the menubar - ToddW.
 */
#toolbar-menubar,
#menubar-items {
  -moz-appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}

/* Prevent menubar getting squished on toolbar overflow (bug 79530) */
menubar {
    min-height: 1.9em;
}


/* for the toolbar overflow menupopup, always display icons */
#main-toolboxrow .overflow-menupopup menuitem.menuitem-iconic .menu-iconic-left {
  visibility: visible;
}

toolbar #historyRecentLocations {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 24px;
}

#main-toolboxrow toolbar > toolbaritem > toolbarbutton {
  margin-right: 1px;
}

/**
 * File Status within menu items.
 */
.menu-file-status-image-box {
  padding-left: 4px;
}

#main-toolboxrow {
  -moz-appearance: menubar !important;
}

/* Tab Tweaks */
.native tabs {
  padding-top: 3px;
  height: auto;
  
  tab:first-child {
    margin-left: 3px;
  }
}

ko-pane[type="vertical"] tabs[anonid="tabs"] {
  
  ko-vertical-text .label {
    margin-left: 3px;
  }
}

ko-pane[type="icons"] .tabstrip-box {
  margin-bottom: 2px;
}

ko-pane[type="icons"] tab {
  margin-right: 4px;
  
  &:last-child {
    margin-right: 0;
  }
}

tabs[type="sidebar"]
{
  -moz-binding: url('chrome://komodo/content/bindings/scrolltabs.xml#tabs-droplist');
}

/* Ensure the buttons are vertically aligned. */
.sidebar-buttons {
  -moz-box-align: center;
  padding-right: 6px;
}

tabbox#leftTabBox > tabs {
    border-right: 1px solid ThreeDShadow;
}
tabbox#rightTabBox > tabs {
    border-left: 1px solid ThreeDShadow;
}
