@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

ko-pane[type="vertical"] tabs[anonid="tabs"]
{
    /* Remove the side-pane border css, from sidebar.css */
    border-right: none;
}

ko-pane[type="vertical"] tabs[anonid="tabs"] tab
{
    /* Make vertical tabs look like real tabs. */
    -moz-appearance     : tab;
    max-width           : 2em;
}

ko-pane[type="vertical"] tabs[anonid="tabs"][rotation="270"] tab
{
    /* This has the affect of centering the tab labels. */
    padding-left        : 5px;
}

ko-pane[type="vertical"] tab[selected="true"]
{
    /* A little bottom margin helps to cover the fact that the bottom
       border is missing from the native tab. */
    margin-bottom: 2px;
}

/* Same styling as sidebar was using (see sidebar.css) */
ko-pane[type="vertical"] tree
{
  -moz-appearance: none;
  border: 0;
  margin: 0;
  border-top: 1px solid;
}

