*.pyc
*.pyo
/bkconfig.*
/mozilla/build/
/mozilla/config.py
/mozilla/config-*.py
/mozilla/d/
/mozilla/patches-new/komodo_app/build/Makefile.in
/mozilla/prebuilt/python2.7/*/
/build/
/export/
/src/scintilla/
.consign
/test/pyxpcom/koITest.xpt
*.landmark
qbtable.pik
.DS_Store
nohup.out
/*.komodoproject
/.komodotools/
src/codeintel/lib/
src/codeintel/!lib/codeintel2/
src/codeintel/!lib/cb.p.py
src/codeintel/lib/codeintel2/lexers/
src/codeintel/src/*
src/codeintel/!src/komodo/ 
src/codeintel/!src/patches/
src/codeintel/test2/scan_actual/
src/codeintel/test2/tmp*
src/codeintel/tmp/
*.komodoproject
install/
packages/
