*.pyc
*.pyo
/bkconfig.*
/mozilla/build/
/mozilla/config.py
/mozilla/patches-new/komodo_app/build/Makefile.in
/mozilla/prebuilt/python2.7/*/
/build/
/export/
/src/scintilla/
.consign
/test/pyxpcom/koITest.xpt
*.landmark
qbtable.pik
.DS_Store
nohup.out
/*.komodoproject
/.komodotools/
