/* Delete this */
/*
#console
{
    background: rgb(240,240,240);
}

.statusbar
{
    background: rgb(210,210,210);
}

.hud
{
    background: rgb(190,190,190);
    
    .selected
    {
        background: blue;
        color: white;
    }
}

#input
{
    background: #FFF;
}
*/
/* Delete this */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: message-box;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
body {
  overflow: hidden;
  border: 0;
  display: flex;
  flex-direction: column;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#console {
  flex-grow: 1;
  overflow: auto;
}
#output > li {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  word-wrap: break-word;
  white-space: pre-wrap;
}
#output > li label input[type="checkbox"] {
  position: absolute;
  visibility: collapse;
  clear: none;
  float: left;
  width: 0;
}
#output > li label input[type="checkbox"] + * {
  cursor: pointer;
}
#output > li label input[type="checkbox"] + *:after {
  content: " -";
  font-weight: bold;
}
#output > li label input[type="checkbox"] + *:hover {
  text-decoration: underline;
}
#output > li label input[type="checkbox"]:not(:checked) + * ~ * {
  display: none !important;
}
#output > li label input[type="checkbox"]:not(:checked) + *:after {
  content: " +";
}
#output > li label input[type="checkbox"]:checked + * ~ * {
  display: block !important;
}
#output > li:before {
  display: inline-block;
  width: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin: 0 4px;
}
#output > li.input:before {
  content: '> ';
  color: #3583FC;
}
#output > li.output:before {
  content: '< ';
  color: #848484;
}
#output > li.debug:before {
  content: 'dbg ';
  color: #848484;
}
#output > li.info:before {
  content: 'nfo ';
  color: #27A700;
}
#output > li.warning:before {
  content: 'wrn ';
  color: #E58E1D;
}
#output > li.error:before {
  content: 'err ';
  color: #E81D20;
}
#output > li.exception:before {
  content: 'e ';
  color: #C42B2B;
}
#output > li.exception .message {
  font-style: italic;
}
#output > li > div {
  display: inline-block;
  padding: 0 4px;
  line-height: 1.5rem;
}
#output > li .type-indicator {
  vertical-align: top;
  font-weight: bold;
}
#output > li .message {
  flex-grow: 1;
}
#output > li .message li.complex-format ul {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-left: 1rem;
}
#output > li .message li.complex-format li.prototype {
  opacity: 0.8;
  font-style: italic;
}
#output > li .message li.complex-format > *,
#output > li .message li.complex-format label > * {
  display: inline-block;
}
#output > li .message li.complex-format > ul {
  display: block;
}
#output > li:not(.input) {
  /* default */
}
#output > li:not(.input) .message {
  color: #6B6B6B;
}
#output > li:not(.input) .type-string {
  color: #51A552;
}
#output > li:not(.input) .type-number {
  color: #D6AC39;
}
#output > li:not(.input) .type-object {
  color: #55A8C6;
}
#output > li:not(.input) .type-array {
  color: #8A38C4;
}
#output > li:not(.input) .type-undefined {
  color: #A0A0A0;
}
#output > li:not(.input) .type-boolean {
  color: #B542C4;
}
#output > li:not(.input) .type-element {
  color: #54C4CE;
}
#output > li:not(.input) .type-function {
  color: #A5A84B;
}
#output > li:not(.input) .type-exception {
  color: #C42B2B;
}
#output > li .timestamp {
  opacity: 0.6;
}
.statusbar {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
  flex-shrink: 0;
}
.statusbar #input {
  min-width: 300px;
  width: 50vw;
  padding-left: 1rem;
  font-size: 100%;
  line-height: 1.5rem;
  margin: 4px;
  max-height: 6rem;
  overflow: auto;
  min-height: 1.5rem;
}
.statusbar #input:before {
  content: '> ';
  color: #3583FC;
  font-size: 1rem;
  font-weight: bold;
  margin-left: -0.8rem;
}
.statusbar #input:focus {
  outline: 0;
}
.autocomplete-suggestions {
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
.autocomplete-suggestion {
  position: relative;
  padding: 0 .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.02em;
  width: auto;
}
.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6;
}
