/* Action Icons */
@icon-undo:                     url("chrome://komodo/skin/images/undo.png");
@icon-accept:                   url("chrome://icomoon/skin/icons/checkmark.png");
@icon-cancel:                   url("chrome://icomoon/skin/icons/close.png");

/* Folder Icons */
@icon-folder-open:              url("chrome://komodo/skin/images/folder-open.png");
@icon-folder-closed:            url("chrome://komodo/skin/images/folder-closed.png");
@icon-folder-remote:            url("chrome://famfamfamsilk/skin/icons/folder_link.png");
@icon-project:                  url('chrome://komodo/skin/images/project_icon.png');

/* SCC File Icons */
@icon-scc-ok:                   url('chrome://komodo/skin/images/status_icon_ok.png');
@icon-scc-sync:                 url('chrome://komodo/skin/images/status_icon_sync.png');
@icon-scc-conflict:             url('chrome://komodo/skin/images/status_icon_conflict.png');
@icon-scc-add:                  url('chrome://komodo/skin/images/status_icon_add.png');
@icon-scc-delete:               url('chrome://komodo/skin/images/status_icon_delete.png');
@icon-scc-branch:               url('chrome://komodo/skin/images/status_icon_add.png');

@icon-scc-integrate:            url('chrome://komodo/skin/images/status_icon_edit.png');
@icon-scc-integrate-ok:         url('chrome://komodo/skin/images/status_icon_edit_ok.png');
@icon-scc-integrate-sync:       url('chrome://komodo/skin/images/status_icon_edit_sync.png');
@icon-scc-integrate-conflict:   url('chrome://komodo/skin/images/status_icon_edit_conflict.png');

@icon-scc-edit:                 url('chrome://komodo/skin/images/status_icon_edit.png');
@icon-scc-edit-ok:              url('chrome://komodo/skin/images/status_icon_edit.png');
@icon-scc-edit-sync:            url('chrome://komodo/skin/images/status_icon_edit_sync.png');
@icon-scc-edit-conflict:        url('chrome://komodo/skin/images/status_icon_edit_conflict.png');
@icon-close-subpanel:           url("chrome://fugue/skin/icons/control-270.png");
@icon-open-subpanel:            url("chrome://fugue/skin/icons/control-090.png");

@icon-tab-select-sidebar:       url("chrome://komodo/skin/tabs/tab-bkgnd.png");
@icon-tab-select-sidebar-hover: url("chrome://komodo/skin/tabs/tab-bkgnd.png");
@icon-tab-close-button:         url("chrome://global/skin/icons/close.png");
@icon-tab-select:               url("chrome://fugue/skin/icons/arrow-270-small.png");

/* Global */
@icon-folder-up:                url("chrome://komodo/skin/global/images/upLevel.png");
@icon-newfolder:                url("chrome://komodo/skin/global/images/newDirectory.png");
@icon-refresh:                  url("chrome://komodo/skin/global/images/refresh.png");
@icon-goback:                   url("chrome://komodo/skin/global/images/goBack.png");
@icon-warning:                  url("chrome://global/skin/icons/Warning.png");
@icon-small-warning:            url("chrome://komodo/skin/global/images/warning_small.png");
@icon-question:                 url("chrome://global/skin/icons/Question.png");
@icon-help:                     url("chrome://komodo/skin/images/help.png");
@icon-more:                     url("chrome://komodo/skin/images/more.gif");
@icon-less:                     url("chrome://komodo/skin/images/less.gif");
@icon-arrow-right-6x3:          url("chrome://komodo/skin/images/arrow_right_6x3.png");
@icon-server-pref:              url("chrome://komodo/skin/global/images/serverAccount.png");
@icon-preview:                  url("chrome://komodo/skin/global/images/preview.png");
@icon-refreshFile:              url("chrome://komodo/skin/global/images/refreshFile.png");
@icon-configure:                url("chrome://komodo/skin/global/images/cog_edit.png");
@icon-properties:               url("chrome://komodo/skin/global/images/cog.png");
@icon-clear-text:               url("chrome://fugue/skin/icons/application-run.png");
@icon-bulletlist:               url("chrome://komodo/skin/images/bulletlist.png");
@icon-bulletlist-disabled:      url("chrome://komodo/skin/images/bulletlist_disable.png");
@icon-scrollright-arrow-mini:   url("chrome://komodo/skin/images/scrollArrowRight-mini.png");
@icon-scroll-arrow-right:       url("chrome://komodo/skin/images/scrollArrowRight.png");
@icon-scroll-arrow-right-hover: url("chrome://komodo/skin/images/scrollArrowRight_hover.png");
@icon-scroll-arrow-right-disabled: url("chrome://komodo/skin/images/scrollArrowRight_disable.png");
@icon-scroll-arrow-left:        url("chrome://komodo/skin/images/scrollArrowLeft.png");
@icon-scroll-arrow-left-hover:  url("chrome://komodo/skin/images/scrollArrowLeft_hover.png");
@icon-scroll-arrow-left-disabled: url("chrome://komodo/skin/images/scrollArrowLeft_disable.png");
@icon-colorbg:                  url("chrome://komodo/skin/images/colorbg.png");
@icon-boldtext:                 url("chrome://komodo/skin/images/boldButton.png");
@icon-boldtext-disabled:        url("chrome://komodo/skin/images/boldButton_disable.png");
@icon-italictext:               url("chrome://komodo/skin/images/italicButton.png");
@icon-italictext-disabled:      url("chrome://komodo/skin/images/italicButton_disable.png");
@icon-find-stop:                url("chrome://komodo/skin/images/find_stop.png");
@icon-find-stop-disabled:       url("chrome://komodo/skin/images/find_stop_disable.png");
@icon-native-undo:              url("chrome://icomoon/skin/icons/undo2.png");
@icon-native-redo:              url("chrome://icomoon/skin/icons/redo2.png");
@icon-find-lock:                url("chrome://fugue/skin/icons/lock-unlock.png");
@icon-find-lock-locked:         url("chrome://fugue/skin/icons/lock.png");
@icon-new-project:              url("chrome://komodo/skin/images/project_icon.png");
@icon-new-file:                 url("chrome://komodo/skin/images/existing_file.png");
@icon-new-window:               url("chrome://komodo/skin/images/komodo_16x16.png");
@icon-open-file:                url("chrome://icomoon/skin/icons/folder-open.png");
@icon-open-file-toolbar:        url("chrome://global/skin/dirListing/folder.png");
@icon-native-folder:            url("chrome://global/skin/dirListing/folder.png");
@icon-gear:                     url("chrome://icomoon/skin/icons/cog2.png");
@icon-new-template:             url("chrome://komodo/skin/images/newTemplate.png");
@icon-native-save:              url("chrome://komodo/skin/images/save.png");
@icon-run-command:              url("chrome://komodo/skin/images/run_commands.png");
@icon-next-buffer:              url("chrome://komodo/skin/images/scrollArrowRight.png");
@icon-next-buffer-disabled:     url("chrome://komodo/skin/images/scrollArrowRight_disable.png");
@icon-previous-buffer:          url("chrome://komodo/skin/images/scrollArrowLeft.png");
@icon-previous-buffer-disabled: url("chrome://komodo/skin/images/scrollArrowLeft_disable.png");
@icon-list-item-down:           url("chrome://komodo/skin/images/small-arrow.png");
@icon-list-item-down-disabled:  url("chrome://komodo/skin/images/small-arrow_disable.png");
@icon-list-item-up:             url("chrome://komodo/skin/images/small-arrow-up.png");
@icon-list-item-up-disabled:    url("chrome://komodo/skin/images/small-arrow-up_disable.png");
@icon-list-item-add:            url("chrome://komodo/skin/images/list_item_add.png");
@icon-list-item-add-disabled:   url("chrome://komodo/skin/images/list_item_add_disable.png");
@icon-list-item-edit:           url("chrome://komodo/skin/images/list_item_edit.png");
@icon-list-item-edit-disabled:  url("chrome://komodo/skin/images/list_item_edit_disable.png");
@icon-list-item-remove:         url("chrome://komodo/skin/images/list_item_remove.png");
@icon-list-item-remove-disabled:url("chrome://komodo/skin/images/list_item_remove_disable.png");
@icon-green-undo:               url("chrome://komodo/content/icons/undo.png");
@icon-button-moreinfo-open:     url("chrome://komodo/skin/images/less.gif");
@icon-button-moreinfo:          url("chrome://komodo/skin/images/more.gif");
@icon-remotefolder:             url('chrome://komodo/skin/images/folder-closed.png');
@icon-remotefile:               url('chrome://komodo/skin/images/file_icon.png');
@icon-stopsign-small:           url("chrome://komodo/content/icons/stop.png");
@icon-cut-small:                url("chrome://komodo/content/icons/cut.png");
@icon-komodo-16px:              url("chrome://komodo/skin/images/komodo_16x16.png");
@icon-browser-firefox:          url("chrome://famfamfamsilk/skin/icons/browser_firefox.png");
@icon-browser-camino:           url("chrome://famfamfamsilk/skin/icons/browser_camino.png");
@icon-browser-ie:               url("chrome://famfamfamsilk/skin/icons/browser_internetexplorer.png");
@icon-browser-konqueror:        url("chrome://famfamfamsilk/skin/icons/browser_konqueror.png");
@icon-browser-mozilla:          url("chrome://famfamfamsilk/skin/icons/browser_mozilla.png");
@icon-browser-msnexplorer:      url("chrome://famfamfamsilk/skin/icons/browser_msnexplorer.png");
@icon-browser-netscape:         url("chrome://famfamfamsilk/skin/icons/browser_netscape.png");
@icon-browser-opera:            url("chrome://famfamfamsilk/skin/icons/browser_opera.png");
@icon-browser-safari:           url("chrome://famfamfamsilk/skin/icons/browser_safari.png");
@icon-browser-chrome:           url("chrome://famfamfamsilk/skin/icons/browser_chrome.png");
@icon-textbox-search:           url("chrome://icomoon/skin/icons/search3.png");
@icon-dropdownmarker:           url("chrome://icomoon/skin/icons/arrow-down2.png");

/* Toolbars */
@icon-browser-preview:          url("chrome://icomoon/skin/icons/earth.png");
@icon-save-toolbar:             url("chrome://icomoon/skin/icons/ko_save.png");
@icon-save-all-buffers:         url("chrome://icomoon/skin/icons/ko_save-all.png");
@icon-cut:                      url("chrome://icomoon/skin/icons/scissors.png");
@icon-copy:                     url("chrome://icomoon/skin/icons/files.png");
@icon-paste:                    url("chrome://icomoon/skin/icons/paste2.png");
@icon-print:                    url("chrome://icomoon/skin/icons/print.png");
@icon-community:                url("chrome://icomoon/skin/icons/users4.png");
@icon-maillist:                 url("chrome://icomoon/skin/icons/envelop.png");
@icon-bugs:                     url("chrome://icomoon/skin/icons/bug.png");
@icon-close:                    url("chrome://icomoon/skin/icons/close2.png");
@icon-toggle-left-pane:         url("chrome://icomoon/skin/icons/ko_layout-left3.png");
@icon-toggle-right-pane:        url("chrome://icomoon/skin/icons/ko_layout-right3.png");
@icon-toggle-bottom-pane:       url("chrome://icomoon/skin/icons/ko_layout-bottom3.png");
@icon-toggle-left-pane-checked: url("chrome://icomoon/skin/icons/ko_layout-left4.png");
@icon-toggle-right-pane-checked:url("chrome://icomoon/skin/icons/ko_layout-right4.png");
@icon-toggle-bottom-pane-checked:url("chrome://icomoon/skin/icons/ko_layout-bottom4.png");
@icon-tabpicker:                url("chrome://icomoon/skin/icons/ko_tab-down.png");
@icon-previous-diff:            url("chrome://icomoon/skin/icons/arrow-up16.png");
@icon-next-diff:                url("chrome://icomoon/skin/icons/arrow-down16.png");
@icon-reveal-in-editor:         url("chrome://icomoon/skin/icons/file.png");
@icon-move-to-editor:           url("chrome://icomoon/skin/icons/file-upload2.png");
@icon-history-back:             url("chrome://icomoon/skin/icons/arrow-left3.png");
@icon-history-forward:          url("chrome://icomoon/skin/icons/arrow-right4.png");
@icon-new-file-toolbar:         url("chrome://icomoon/skin/icons/file-plus.png");
@icon-help-toolbar:             url("chrome://icomoon/skin/icons/question2.png");
@icon-toolbar-overflow:         url("chrome://icomoon/skin/icons/arrow-right3.png");

/* Addon Icons */
@icon-addon-rx:                 url("chrome://icomoon/skin/icons/ko_regexp.png");
@icon-addon-http-inspector:     url("chrome://icomoon/skin/icons/direction.png");
@icon-addon-ishell:             url("chrome://icomoon/skin/icons/console.png");
@icon-addon-tcldevkit:          url("chrome://icomoon/skin/icons/quill3.png");
@icon-addon-perldevkit:         url("chrome://icomoon/skin/icons/ko_perl.png");

/* SCC Icons */
@icon-addon-scc:                url("chrome://icomoon/skin/icons/ko_scc_menu2.png");
@icon-addon-scc-checkout:       url("chrome://icomoon/skin/icons/ko_scc_checkout.png");
@icon-addon-scc-add:            url("chrome://icomoon/skin/icons/ko_scc_add.png");
@icon-addon-scc-edit:           url("chrome://icomoon/skin/icons/ko_scc_edit2.png");
@icon-addon-scc-revert:         url("chrome://icomoon/skin/icons/ko_scc_revert.png");
@icon-addon-scc-remove:         url("chrome://icomoon/skin/icons/ko_scc_remove.png");
@icon-addon-scc-update:         url("chrome://icomoon/skin/icons/ko_scc_update.png");
@icon-addon-scc-diff:           url("chrome://icomoon/skin/icons/ko_scc_diff.png");
@icon-addon-scc-history:        url("chrome://icomoon/skin/icons/ko_scc_history.png");
@icon-addon-scc-commit:         url("chrome://icomoon/skin/icons/ko_scc_commit.png");
@icon-addon-scc-push:           url("chrome://icomoon/skin/icons/ko_scc_push.png");

/* Debug Icons */
@icon-addon-debug-stepin:       url("chrome://icomoon/skin/icons/ko_step-into.png");
@icon-addon-debug-stepover:     url("chrome://icomoon/skin/icons/ko_step-out.png");
@icon-addon-debug-stepout:      url("chrome://icomoon/skin/icons/ko_step-over.png");
@icon-addon-debug-continue:     url("chrome://icomoon/skin/icons/play4.png");
@icon-addon-debug-break:        url("chrome://icomoon/skin/icons/pause2.png");
@icon-addon-debug-stop:         url("chrome://icomoon/skin/icons/stop2.png");
@icon-addon-debug-detach:       url("chrome://icomoon/skin/icons/forward3.png");
@icon-addon-debug-inspect:      url("chrome://icomoon/skin/icons/ko_forward3.png");

/* Debug Toolbox Icons */
@icon-addon-debug-stepin-toolbox:       url("chrome://icomoon/skin/icons/ko_step-into.png");
@icon-addon-debug-stepover-toolbox:     url("chrome://icomoon/skin/icons/ko_step-over.png");
@icon-addon-debug-stepout-toolbox:      url("chrome://icomoon/skin/icons/ko_step-out.png");
@icon-addon-debug-continue-toolbox:     url("chrome://icomoon/skin/icons/play4.png");
@icon-addon-debug-break-toolbox:        url("chrome://icomoon/skin/icons/pause2.png");
@icon-addon-debug-stop-toolbox:         url("chrome://icomoon/skin/icons/stop2.png");
@icon-addon-debug-detach-toolbox:       url("chrome://icomoon/skin/icons/forward3.png");
@icon-addon-debug-inspect-toolbox:      url("chrome://icomoon/skin/icons/ko_forward3.png");

/* Macro Icons */
@icon-macro-play:               url("chrome://icomoon/skin/icons/play3.png");
@icon-macro-pause:              url("chrome://icomoon/skin/icons/pause.png");
@icon-macro-record:             url("chrome://icomoon/skin/icons/ko_record.png");
@icon-macro-stop:               url("chrome://icomoon/skin/icons/stop.png");
@icon-macro-save:               url("chrome://icomoon/skin/icons/ko_save-circle.png");

/* Widget Icons */
@icon-widget-default:               url("chrome://icomoon/skin/icons/file5.png");
@icon-widget-default-selected:      url("chrome://icomoon/skin/icons/file5.png");
@icon-widget-openfiles:             url("chrome://icomoon/skin/icons/files.png");
@icon-widget-openfiles-selected:    url("chrome://icomoon/skin/icons/files.png");
@icon-widget-places:                url("chrome://icomoon/skin/icons/folder5.png");
@icon-widget-places-selected:       url("chrome://icomoon/skin/icons/folder5.png");
@icon-widget-codebrowser:           url("chrome://icomoon/skin/icons/ko_code2.png");
@icon-widget-codebrowser-selected:  url("chrome://icomoon/skin/icons/ko_code2.png");
@icon-widget-dbexplorer:            url("chrome://icomoon/skin/icons/ko_database.png");
@icon-widget-dbexplorer-selected:   url("chrome://icomoon/skin/icons/ko_database.png");
@icon-widget-dom:                   url("chrome://icomoon/skin/icons/ko_markup.png");
@icon-widget-dom-selected:          url("chrome://icomoon/skin/icons/ko_markup.png");
@icon-widget-collab:                url("chrome://icomoon/skin/icons/users.png");
@icon-widget-collab-selected:       url("chrome://icomoon/skin/icons/users.png");
@icon-widget-toolbox:               url("chrome://icomoon/skin/icons/briefcase3.png");
@icon-widget-toolbox-selected:      url("chrome://icomoon/skin/icons/briefcase3.png");
@icon-widget-breakpoints:           url("chrome://icomoon/skin/icons/bug.png");
@icon-widget-breakpoints-selected:  url("chrome://icomoon/skin/icons/bug.png");
@icon-widget-command-output:        url("chrome://icomoon/skin/icons/console.png");
@icon-widget-command-output-selected:url("chrome://icomoon/skin/icons/console.png");
@icon-widget-find-results:          url("chrome://icomoon/skin/icons/binoculars.png");
@icon-widget-find-results-selected: url("chrome://icomoon/skin/icons/binoculars.png");
@icon-widget-unit-tests:            url("chrome://icomoon/skin/icons/lab.png");
@icon-widget-unit-tests-selected:   url("chrome://icomoon/skin/icons/lab.png");
@icon-widget-notifications:         url("chrome://icomoon/skin/icons/info2.png");
@icon-widget-notifications-selected:url("chrome://icomoon/skin/icons/info2.png");
@icon-widget-klint:                 url("chrome://icomoon/skin/icons/warning2.png");
@icon-widget-klint-selected:        url("chrome://icomoon/skin/icons/warning2.png");

/* Notification Widget */
@icon-filter-error:             url("chrome://global/skin/icons/error-16.png");
@icon-filter-warning:           url("chrome://global/skin/icons/warning-16.png");
@icon-filter-info:              url("chrome://global/skin/icons/information-16.png");
@icon-filter-progress:          url("chrome://fugue/skin/icons/clock-history.png");

/* Code Browser Widget */
@icon-codebrowser-locate:       url("chrome://icomoon/skin/icons/enter4.png");

/* DOM Browser Widget */
@icon-dombrowser-show-attributes: url("chrome://icomoon/skin/icons/embed.png");
@icon-dombrowser-locate:        url("chrome://icomoon/skin/icons/enter4.png");

/* Database Widget */
@icon-database-add:             url("chrome://icomoon/skin/icons/plus.png");

/* Collaboration Widget */
@icon-collab-add:               url("chrome://icomoon/skin/icons/plus.png");
@icon-collab-refresh:           url("chrome://icomoon/skin/icons/loop.png");

/* Collaboration Widget */
@icon-places-panel-toggle:      url("chrome://icomoon/skin/icons/arrow-down2.png");
@icon-places-panel-toggle-collapsed: url("chrome://icomoon/skin/icons/arrow-up2.png");

/* Syntax checking widget */
@icon-klint-disable-syntax:     url("chrome://icomoon/skin/icons/blocked.png");
@icon-klint-refresh:            url("chrome://icomoon/skin/icons/loop4.png");

/* Find Results Widget */
@icon-findresult-up:            url("chrome://icomoon/skin/icons/arrow-up4.png");
@icon-findresult-down:          url("chrome://icomoon/skin/icons/arrow-down4.png");
@icon-findresult-stop:          url("chrome://icomoon/skin/icons/stop2.png");
@icon-findresult-undo:          url("chrome://icomoon/skin/icons/undo2.png");
@icon-findresult-lock:          url("chrome://icomoon/skin/icons/lock.png");
@icon-findresult-locked:        url("chrome://icomoon/skin/icons/lock.png");
