@icon-suffix:               "?preset=base";
@icon-toolbar-suffix:       "?preset=toolbar";
@icon-widget-suffix:        "?preset=widgets";
@icon-selected-suffix:      "?preset=selected";
@icon-hud-suffix:           "?preset=hud";

/* Action Icons */
@icon-undo:                     url("chrome://komodo/skin/images/undo.png");
@icon-accept:                   url("koicon://ko-svg/chrome/icomoon/skin/checkmark.svg@{icon-suffix}");
@icon-cancel:                   url("koicon://ko-svg/chrome/icomoon/skin/close.svg@{icon-suffix}");

/* Folder Icons */
@icon-folder-large:             url('chrome://komodo/skin/images/folder-32.png');
@icon-folder-open:              url("chrome://komodo/skin/images/folder-open.png");
@icon-folder-closed:            url("chrome://komodo/skin/images/folder-closed.png");
@icon-folder-remote:            url("chrome://famfamfamsilk/skin/icons/folder_link.png");
@icon-project:                  url("koicon://ko-svg/chrome/icomoon/skin/box.svg@{icon-suffix}");

/* SCC File Symbols */
@icon-scc-ok:                   url('chrome://komodo/skin/images/status_icon_ok.png');
@icon-scc-sync:                 url('chrome://komodo/skin/images/status_icon_sync.png');
@icon-scc-conflict:             url('chrome://komodo/skin/images/status_icon_conflict.png');
@icon-scc-add:                  url('chrome://komodo/skin/images/status_icon_add.png');
@icon-scc-delete:               url('chrome://komodo/skin/images/status_icon_delete.png');
@icon-scc-branch:               url('chrome://komodo/skin/images/status_icon_add.png');

@icon-scc-integrate:            url('chrome://komodo/skin/images/status_icon_edit.png');
@icon-scc-integrate-ok:         url('chrome://komodo/skin/images/status_icon_edit_ok.png');
@icon-scc-integrate-sync:       url('chrome://komodo/skin/images/status_icon_edit_sync.png');
@icon-scc-integrate-conflict:   url('chrome://komodo/skin/images/status_icon_edit_conflict.png');

@icon-scc-edit:                 url('chrome://komodo/skin/images/status_icon_edit.png');
@icon-scc-edit-ok:              url('chrome://komodo/skin/images/status_icon_edit.png');
@icon-scc-edit-sync:            url('chrome://komodo/skin/images/status_icon_edit_sync.png');
@icon-scc-edit-conflict:        url('chrome://komodo/skin/images/status_icon_edit_conflict.png');

/* Subpanel icons (Places projects subpanel) */
@icon-close-subpanel:           url("chrome://fugue/skin/icons/control-270.png");
@icon-open-subpanel:            url("chrome://fugue/skin/icons/control-090.png");

/* Scrolltabs */
@icon-tab-close-button:         url("koicon://ko-svg/chrome/icomoon/skin/close2.svg@{icon-suffix}");
@icon-tab-select:               url("koicon://ko-svg/chrome/icomoon/skin/ko_tab-down.svg@{icon-suffix}");
@icon-tab-scroll-left:          url("koicon://ko-svg/chrome/icomoon/skin/arrow-left2.svg@{icon-suffix}");
@icon-tab-scroll-right:         url("koicon://ko-svg/chrome/icomoon/skin/arrow-right3.svg@{icon-suffix}");
@icon-tab-scroll-up:            url("koicon://ko-svg/chrome/icomoon/skin/arrow-up2.svg@{icon-suffix}");
@icon-tab-scroll-down:          url("koicon://ko-svg/chrome/icomoon/skin/arrow-down2.svg@{icon-suffix}");

/* File/Folder actions */
@icon-folder-up:                url("chrome://komodo/skin/global/images/upLevel.png");
@icon-newfolder:                url("koicon://ko-svg/chrome/icomoon/skin/folder-plus3.svg@{icon-suffix}");
@icon-refreshFile:              url("chrome://komodo/skin/global/images/refreshFile.png");
@icon-new-project:              url("koicon://ko-svg/chrome/icomoon/skin/box.svg@{icon-suffix}");
@icon-new-file:                 url("koicon://ko-svg/chrome/icomoon/skin/file-plus.svg@{icon-suffix}");
@icon-new-window:               url("chrome://komodo/skin/images/komodo_16x16.png");
@icon-open-file:                url("koicon://ko-svg/chrome/icomoon/skin/folder-open.svg@{icon-suffix}");
@icon-native-folder:            url("chrome://global/skin/dirListing/folder.png");
@icon-new-template:             url("koicon://ko-svg/chrome/icomoon/skin/file6.svg@{icon-suffix}");
@icon-remotefolder:             url('chrome://komodo/skin/images/folder-closed.png');
@icon-remotefile:               url('chrome://komodo/skin/images/file_icon.png');

/* Buffer Actions */
@icon-history-back:             url("koicon://ko-svg/chrome/icomoon/skin/arrow-left3.svg@{icon-suffix}");
@icon-history-forward:          url("koicon://ko-svg/chrome/icomoon/skin/arrow-right4.svg@{icon-suffix}");
@icon-refresh:                  url("chrome://komodo/skin/global/images/refresh.png");
@icon-goback:                   url("chrome://komodo/skin/global/images/goBack.png");
@icon-find-stop:                url("koicon://ko-svg/chrome/icomoon/skin/stop2.svg@{icon-suffix}");
@icon-find-stop-disabled:       url("koicon://ko-svg/chrome/icomoon/skin/stop2.svg@{icon-suffix}");
@icon-native-undo:              url("koicon://ko-svg/chrome/icomoon/skin/undo2.svg@{icon-suffix}");
@icon-native-redo:              url("koicon://ko-svg/chrome/icomoon/skin/redo2.svg@{icon-suffix}");
@icon-find-copy:                url("chrome://fugue/skin/icons/clipboard--plus.png");
@icon-find-lock:                url("chrome://fugue/skin/icons/lock-unlock.png");
@icon-find-lock-locked:         url("chrome://fugue/skin/icons/lock.png");
@icon-native-save:              url("chrome://komodo/skin/images/save.png");
@icon-save-all-buffers:         url("koicon://ko-svg/chrome/icomoon/skin/ko_save-all.svg@{icon-suffix}");
@icon-cut:                      url("koicon://ko-svg/chrome/icomoon/skin/scissors.svg@{icon-suffix}");
@icon-next-buffer:              url("chrome://komodo/skin/images/scrollArrowRight.png");
@icon-next-buffer-disabled:     url("chrome://komodo/skin/images/scrollArrowRight_disable.png");
@icon-previous-buffer:          url("chrome://komodo/skin/images/scrollArrowLeft.png");
@icon-previous-buffer-disabled: url("chrome://komodo/skin/images/scrollArrowLeft_disable.png");
@icon-green-undo:               url("koicon://ko-svg/chrome/icomoon/skin/undo.svg@{icon-suffix}");
@icon-cut-small:                url("chrome://komodo/skin/images/cut.png");
@icon-cut:                      url("koicon://ko-svg/chrome/icomoon/skin/scissors.svg@{icon-suffix}");
@icon-copy:                     url("koicon://ko-svg/chrome/icomoon/skin/files.svg@{icon-suffix}");
@icon-paste:                    url("koicon://ko-svg/chrome/icomoon/skin/paste2.svg@{icon-suffix}");

/* Editing Icons */
@icon-colorbg:                  url("chrome://komodo/skin/images/colorbg.png");
@icon-boldtext:                 url("chrome://komodo/skin/images/boldButton.png");
@icon-boldtext-disabled:        url("chrome://komodo/skin/images/boldButton_disable.png");
@icon-italictext:               url("chrome://komodo/skin/images/italicButton.png");
@icon-italictext-disabled:      url("chrome://komodo/skin/images/italicButton_disable.png");
@icon-clear-text:               url("chrome://fugue/skin/icons/application-run.png");
@icon-bulletlist:               url("koicon://ko-svg/chrome/icomoon/skin/list.svg@{icon-suffix}");
@icon-bulletlist-disabled:      url("koicon://ko-svg/chrome/icomoon/skin/list.svg@{icon-suffix}");

/* Global Symbols */
@icon-warning:                  url("chrome://global/skin/icons/Warning.png");
@icon-small-warning:            url("chrome://komodo/skin/global/images/warning_small.png");
@icon-question:                 url("chrome://global/skin/icons/Question.png");
@icon-help:                     url("koicon://ko-svg/chrome/icomoon/skin/question4.svg@{icon-suffix}");
@icon-more:                     url("koicon://ko-svg/chrome/icomoon/skin/arrow-down2.svg@{icon-suffix}");
@icon-less:                     url("koicon://ko-svg/chrome/icomoon/skin/arrow-up2.svg@{icon-suffix}");
@icon-arrow-right-small:        url("koicon://ko-svg/chrome/icomoon/skin/arrow-right3.svg@{icon-suffix}");
@icon-preview:                  url("chrome://komodo/skin/global/images/preview.png");
@icon-configure:                url("chrome://komodo/skin/global/images/cog_edit.png");
@icon-properties:               url("chrome://komodo/skin/global/images/cog.png");
@icon-scrollright-arrow-mini:   url("chrome://komodo/skin/images/scrollArrowRight-mini.png");
@icon-scroll-arrow-right:       url("chrome://komodo/skin/images/scrollArrowRight.png");
@icon-scroll-arrow-right-hover: url("chrome://komodo/skin/images/scrollArrowRight_hover.png");
@icon-scroll-arrow-right-disabled: url("chrome://komodo/skin/images/scrollArrowRight_disable.png");
@icon-scroll-arrow-left:        url("chrome://komodo/skin/images/scrollArrowLeft.png");
@icon-scroll-arrow-left-hover:  url("chrome://komodo/skin/images/scrollArrowLeft_hover.png");
@icon-scroll-arrow-left-disabled: url("chrome://komodo/skin/images/scrollArrowLeft_disable.png");
@icon-gear:                     url("koicon://ko-svg/chrome/icomoon/skin/ko_cog_small.svg@{icon-suffix}&size=14");
@icon-list-item-down:           url("koicon://ko-svg/chrome/icomoon/skin/arrow-down4.svg@{icon-suffix}");
@icon-list-item-up:             url("koicon://ko-svg/chrome/icomoon/skin/arrow-up4.svg@{icon-suffix}");
@icon-list-item-add:            url("koicon://ko-svg/chrome/icomoon/skin/plus.svg@{icon-suffix}");
@icon-list-item-edit:           url("koicon://ko-svg/chrome/icomoon/skin/pencil6.svg@{icon-suffix}");
@icon-list-item-remove:         url("koicon://ko-svg/chrome/icomoon/skin/close2.svg@{icon-suffix}");
@icon-button-moreinfo-open:     url("chrome://komodo/skin/images/less.gif");
@icon-button-moreinfo:          url("chrome://komodo/skin/images/more.gif");
@icon-stopsign-small:           url("chrome://komodo/skin/images/find_stop.png");
@icon-komodo-16px:              url("chrome://komodo/skin/images/komodo_16x16.png");
@icon-textbox-search:           url("koicon://ko-svg/chrome/icomoon/skin/search3.svg@{icon-suffix}");
@icon-dropdownmarker:           url("koicon://ko-svg/chrome/icomoon/skin/arrow-down2.svg@{icon-suffix}");
@icon-close:                    url("koicon://ko-svg/chrome/icomoon/skin/close2.svg@{icon-suffix}");
@icon-status-invalid:           url("koicon://ko-svg/chrome/icomoon/skin/warning2.svg@{icon-suffix}");
@icon-status-valid:             url("koicon://ko-svg/chrome/icomoon/skin/checkmark.svg@{icon-suffix}");
@icon-status-checking:          url("koicon://ko-svg/chrome/icomoon/skin/loop4.svg@{icon-suffix}");
@icon-dropmarker:               url("koicon://ko-svg/chrome/icomoon/skin/arrow-down2.svg@{icon-suffix}");
@icon-checkbox:                 disabled;
@icon-checkbox-checked:         disabled;
@icon-radio:                    disabled;
@icon-radio-selected:           disabled;
@icon-checkbox-small:           url("koicon://ko-svg/chrome/icomoon/skin/checkmark2.svg@{icon-suffix}");
@icon-checkbox-small-checked:   url("koicon://ko-svg/chrome/icomoon/skin/checkmark.svg@{icon-suffix}");
@icon-customize-panes:          url("koicon://ko-svg/chrome/icomoon/skin/grid3.svg@{icon-suffix}");
@icon-packages:          url("koicon://ko-svg/chrome/icomoon/skin/box-add.svg@{icon-suffix}");
@icon-favourite:                url("chrome://famfamfamsilk/skin/icons/star.png");

/* Menu Specific Icons */
@icon-menu-help:                url("koicon://ko-svg/chrome/icomoon/skin/question2.svg@{icon-suffix}");
@icon-menu-arrow:               disabled;

/* Browser Icons */
@icon-browser-firefox:          url("koicon://ko-svg/chrome/icomoon/skin/firefox.svg@{icon-suffix}");
@icon-browser-camino:           url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-suffix}");
@icon-browser-ie:               url("koicon://ko-svg/chrome/icomoon/skin/IE.svg@{icon-suffix}");
@icon-browser-konqueror:        url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-suffix}");
@icon-browser-mozilla:          url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-suffix}");
@icon-browser-msnexplorer:      url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-suffix}");
@icon-browser-netscape:         url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-suffix}");
@icon-browser-opera:            url("koicon://ko-svg/chrome/icomoon/skin/opera.svg@{icon-suffix}");
@icon-browser-safari:           url("koicon://ko-svg/chrome/icomoon/skin/safari.svg@{icon-suffix}");
@icon-browser-chrome:           url("koicon://ko-svg/chrome/icomoon/skin/chrome.svg@{icon-suffix}");
@icon-browser-preview:          url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-suffix}");

/* Miscellaneous */
@icon-server-pref:              url("chrome://komodo/skin/global/images/serverAccount.png");
@icon-run-command:              url("koicon://ko-svg/chrome/icomoon/skin/play4.svg@{icon-suffix}");
@icon-power:                    url("koicon://ko-svg/chrome/icomoon/skin/power.svg@{icon-suffix}");
@icon-print:                    url("koicon://ko-svg/chrome/icomoon/skin/print.svg@{icon-suffix}");
@icon-pin:                      url("koicon://ko-svg/chrome/icomoon/skin/pushpin.svg@{icon-suffix}");
@icon-pin-selected:             url("koicon://ko-svg/chrome/icomoon/skin/pushpin.svg@{icon-selected-suffix}"); /* OSX Only */
@icon-community:                url("koicon://ko-svg/chrome/icomoon/skin/users4.svg@{icon-suffix}");
@icon-maillist:                 url("koicon://ko-svg/chrome/icomoon/skin/envelop.svg@{icon-suffix}");
@icon-bugs:                     url("koicon://ko-svg/chrome/icomoon/skin/bug.svg@{icon-suffix}");
@icon-toggle-left-pane:         url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-left3.svg@{icon-suffix}");
@icon-toggle-right-pane:        url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-right3.svg@{icon-suffix}");
@icon-toggle-bottom-pane:       url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-bottom3.svg@{icon-suffix}");
@icon-toggle-left-pane-checked: url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-left4.svg@{icon-selected-suffix}");
@icon-toggle-right-pane-checked:url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-right4.svg@{icon-selected-suffix}");
@icon-toggle-bottom-pane-checked:url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-bottom4.svg@{icon-selected-suffix}");
@icon-tabpicker:                url("koicon://ko-svg/chrome/icomoon/skin/ko_tab-down.svg@{icon-suffix}");
@icon-tab:                      url("koicon://ko-svg/chrome/icomoon/skin/plus.svg@{icon-suffix}");
@icon-previous-diff:            url("koicon://ko-svg/chrome/icomoon/skin/arrow-up16.svg@{icon-suffix}");
@icon-next-diff:                url("koicon://ko-svg/chrome/icomoon/skin/arrow-down16.svg@{icon-suffix}");
@icon-reveal-in-editor:         url("koicon://ko-svg/chrome/icomoon/skin/file.svg@{icon-suffix}");
@icon-move-to-editor:           url("koicon://ko-svg/chrome/icomoon/skin/file-upload2.svg@{icon-suffix}");
@icon-toolbar-overflow:         url("koicon://ko-svg/chrome/icomoon/skin/arrow-right3.svg@{icon-suffix}");

/* Toolbars - Standard */
@icon-toolbar-back:             url("koicon://ko-svg/chrome/icomoon/skin/arrow-left3.svg@{icon-toolbar-suffix}");
@icon-toolbar-forward:          url("koicon://ko-svg/chrome/icomoon/skin/arrow-right4.svg@{icon-toolbar-suffix}");
@icon-toolbar-undo:             url("koicon://ko-svg/chrome/icomoon/skin/undo2.svg@{icon-toolbar-suffix}");
@icon-toolbar-redo:             url("koicon://ko-svg/chrome/icomoon/skin/redo2.svg@{icon-toolbar-suffix}");
@icon-toolbar-new-file:         url("koicon://ko-svg/chrome/icomoon/skin/file-plus.svg@{icon-toolbar-suffix}");
@icon-toolbar-open-file:        url("koicon://ko-svg/chrome/icomoon/skin/folder-open.svg@{icon-toolbar-suffix}");
@icon-toolbar-save:             url("koicon://ko-svg/chrome/icomoon/skin/ko_save.svg@{icon-toolbar-suffix}");
@icon-toolbar-save-all:         url("koicon://ko-svg/chrome/icomoon/skin/ko_save-all.svg@{icon-toolbar-suffix}");
@icon-toolbar-cut:              url("koicon://ko-svg/chrome/icomoon/skin/scissors.svg@{icon-toolbar-suffix}");
@icon-toolbar-copy:             url("koicon://ko-svg/chrome/icomoon/skin/files.svg@{icon-toolbar-suffix}");
@icon-toolbar-paste:            url("koicon://ko-svg/chrome/icomoon/skin/paste2.svg@{icon-toolbar-suffix}");
@icon-toolbar-print:            url("koicon://ko-svg/chrome/icomoon/skin/print.svg@{icon-toolbar-suffix}");
@icon-toolbar-help:             url("koicon://ko-svg/chrome/icomoon/skin/question2.svg@{icon-toolbar-suffix}");
@icon-toolbar-menu:             url("koicon://ko-svg/chrome/icomoon/skin/menu3.svg@{icon-toolbar-suffix}");

/* Toolbars - Tools */
@icon-toolbar-browser-preview:  url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-toolbar-suffix}");
@icon-toolbar-rx:               url("koicon://ko-svg/chrome/icomoon/skin/ko_regexp.svg@{icon-toolbar-suffix}");
@icon-toolbar-http-inspector:   url("koicon://ko-svg/chrome/icomoon/skin/ko_http_inspector.svg@{icon-toolbar-suffix}");
@icon-toolbar-ishell:           url("koicon://ko-svg/chrome/icomoon/skin/console.svg@{icon-toolbar-suffix}");
@icon-toolbar-tcldevkit:        url("koicon://ko-svg/chrome/icomoon/skin/quill3.svg@{icon-toolbar-suffix}");
@icon-toolbar-perldevkit:       url("koicon://ko-svg/chrome/icomoon/skin/ko_perl.svg@{icon-toolbar-suffix}");

/* Toolbars - Workspace */
@icon-toolbar-toggle-left-pane:         url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-left3.svg@{icon-toolbar-suffix}");
@icon-toolbar-toggle-right-pane:        url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-right3.svg@{icon-toolbar-suffix}");
@icon-toolbar-toggle-bottom-pane:       url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-bottom3.svg@{icon-toolbar-suffix}");
@icon-toolbar-toggle-left-pane-checked: url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-left4.svg@{icon-selected-suffix}");
@icon-toolbar-toggle-right-pane-checked:url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-right4.svg@{icon-selected-suffix}");
@icon-toolbar-toggle-bottom-pane-checked:url("koicon://ko-svg/chrome/icomoon/skin/ko_layout-bottom4.svg@{icon-selected-suffix}");
@icon-toolbar-tabpicker:                url("koicon://ko-svg/chrome/icomoon/skin/ko_tab-down.svg@{icon-toolbar-suffix}");

/* Toolbars - SCC */
@icon-toolbar-scc:                url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_menu2.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-checkout:       url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_checkout.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-add:            url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_add.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-edit:           url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_edit2.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-revert:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_revert.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-remove:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_remove.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-update:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_update.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-diff:           url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_diff.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-history:        url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_history.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-commit:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_commit.svg@{icon-toolbar-suffix}");
@icon-toolbar-scc-push:           url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_push.svg@{icon-toolbar-suffix}");

/* Toolbars - Debug */
@icon-toolbar-debug-stepin:       url("koicon://ko-svg/chrome/icomoon/skin/ko_step-into.svg@{icon-toolbar-suffix}");
@icon-toolbar-debug-stepover:     url("koicon://ko-svg/chrome/icomoon/skin/ko_step-over.svg@{icon-toolbar-suffix}");
@icon-toolbar-debug-stepout:      url("koicon://ko-svg/chrome/icomoon/skin/ko_step-out.svg@{icon-toolbar-suffix}");
@icon-toolbar-debug-continue:     url("koicon://ko-svg/chrome/icomoon/skin/play4.svg@{icon-toolbar-suffix}");
@icon-toolbar-debug-break:        url("koicon://ko-svg/chrome/icomoon/skin/pause2.svg@{icon-toolbar-suffix}");
@icon-toolbar-debug-stop:         url("koicon://ko-svg/chrome/icomoon/skin/stop2.svg@{icon-toolbar-suffix}");

/* Toolbars - Macro's */
@icon-toolbar-macro-new:          url("koicon://ko-svg/chrome/icomoon/skin/plus-circle.svg@{icon-toolbar-suffix}");
@icon-toolbar-macro-play:         url("koicon://ko-svg/chrome/icomoon/skin/play3.svg@{icon-toolbar-suffix}");
@icon-toolbar-macro-pause:        url("koicon://ko-svg/chrome/icomoon/skin/pause.svg@{icon-toolbar-suffix}");
@icon-toolbar-macro-record:       url("koicon://ko-svg/chrome/icomoon/skin/ko_record.svg@{icon-toolbar-suffix}");
@icon-toolbar-macro-stop:         url("koicon://ko-svg/chrome/icomoon/skin/stop.svg@{icon-toolbar-suffix}");
@icon-toolbar-macro-save:         url("koicon://ko-svg/chrome/icomoon/skin/ko_save-circle.svg@{icon-toolbar-suffix}");

/* Toolbars - Komodo Resources */
@icon-toolbar-community:          url("koicon://ko-svg/chrome/icomoon/skin/users4.svg@{icon-toolbar-suffix}");
@icon-toolbar-maillist:           url("koicon://ko-svg/chrome/icomoon/skin/envelop.svg@{icon-toolbar-suffix}");
@icon-toolbar-bugs:               url("koicon://ko-svg/chrome/icomoon/skin/bug.svg@{icon-toolbar-suffix}");

/* Addon Icons */
@icon-addon-rx:                 url("koicon://ko-svg/chrome/icomoon/skin/ko_regexp.svg@{icon-suffix}");
@icon-addon-http-inspector:     url("koicon://ko-svg/chrome/icomoon/skin/direction.svg@{icon-suffix}");
@icon-addon-ishell:             url("koicon://ko-svg/chrome/icomoon/skin/console.svg@{icon-suffix}");
@icon-addon-tcldevkit:          url("koicon://ko-svg/chrome/icomoon/skin/quill3.svg@{icon-suffix}");
@icon-addon-perldevkit:         url("koicon://ko-svg/chrome/icomoon/skin/ko_perl.svg@{icon-suffix}");

/* SCC Icons */
@icon-addon-scc:                url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_menu2.svg@{icon-suffix}");
@icon-addon-scc-checkout:       url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_checkout.svg@{icon-suffix}");
@icon-addon-scc-add:            url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_add.svg@{icon-suffix}");
@icon-addon-scc-edit:           url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_edit2.svg@{icon-suffix}");
@icon-addon-scc-revert:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_revert.svg@{icon-suffix}");
@icon-addon-scc-remove:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_remove.svg@{icon-suffix}");
@icon-addon-scc-update:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_update.svg@{icon-suffix}");
@icon-addon-scc-diff:           url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_diff.svg@{icon-suffix}");
@icon-addon-scc-history:        url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_history.svg@{icon-suffix}");
@icon-addon-scc-commit:         url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_commit.svg@{icon-suffix}");
@icon-addon-scc-push:           url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_push.svg@{icon-suffix}");

/* Debug Icons */
@icon-debug-stepin:             url("koicon://ko-svg/chrome/icomoon/skin/ko_step-into.svg@{icon-suffix}");
@icon-debug-stepover:           url("koicon://ko-svg/chrome/icomoon/skin/ko_step-over.svg@{icon-suffix}");
@icon-debug-stepout:            url("koicon://ko-svg/chrome/icomoon/skin/ko_step-out.svg@{icon-suffix}");
@icon-debug-continue:           url("koicon://ko-svg/chrome/icomoon/skin/play4.svg@{icon-suffix}");
@icon-debug-break:              url("koicon://ko-svg/chrome/icomoon/skin/pause2.svg@{icon-suffix}");
@icon-debug-stop:               url("koicon://ko-svg/chrome/icomoon/skin/stop2.svg@{icon-suffix}");
@icon-debug-detach:             url("koicon://ko-svg/chrome/icomoon/skin/forward3.svg@{icon-suffix}");
@icon-debug-inspect:            url("koicon://ko-svg/chrome/icomoon/skin/search3.svg@{icon-suffix}");

@icon-debug-tab-starting:       url("koicon://ko-svg/chrome/icomoon/skin/arrow-right3.svg@{icon-suffix}");
@icon-debug-tab-running:        url("koicon://ko-svg/chrome/icomoon/skin/play4.svg@{icon-suffix}");
@icon-debug-tab-break:          url("koicon://ko-svg/chrome/icomoon/skin/pause2.svg@{icon-suffix}");
@icon-debug-tab-stopping:       url("koicon://ko-svg/chrome/icomoon/skin/checkbox-partial2.svg@{icon-suffix}");
@icon-debug-tab-stopped:        url("koicon://ko-svg/chrome/icomoon/skin/stop2.svg@{icon-suffix}");
@icon-debug-tab-interactive:    url("koicon://ko-svg/chrome/icomoon/skin/last.svg@{icon-suffix}");

@icon-debug-below-show-hidden:  url("koicon://ko-svg/chrome/icomoon/skin/eye3.svg@{icon-suffix}");

/* Unit Test Icons */

@icon-unittest-edit-plan:       url("koicon://ko-svg/chrome/icomoon/skin/pencil6.svg@{icon-suffix}");

/* Macro Icons */
@icon-macro-new:                url("koicon://ko-svg/chrome/icomoon/skin/plus-circle.svg@{icon-suffix}");
@icon-macro-play:               url("koicon://ko-svg/chrome/icomoon/skin/play3.svg@{icon-suffix}");
@icon-macro-pause:              url("koicon://ko-svg/chrome/icomoon/skin/pause.svg@{icon-suffix}");
@icon-macro-record:             url("koicon://ko-svg/chrome/icomoon/skin/ko_record.svg@{icon-suffix}");
@icon-macro-stop:               url("koicon://ko-svg/chrome/icomoon/skin/stop.svg@{icon-suffix}");
@icon-macro-save:               url("koicon://ko-svg/chrome/icomoon/skin/ko_save-circle.svg@{icon-suffix}");

/* Breakpoint Icons */
@icon-breakpoint:               url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint.svg@{icon-suffix}");
@icon-breakpoint-new:           url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint_add.svg@{icon-suffix}");
@icon-spawnpoint-new:           url("koicon://ko-svg/chrome/icomoon/skin/arrow-right2.svg@{icon-suffix}");
@icon-breakpoint-delete:        url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint_remove.svg@{icon-suffix}");
@icon-breakpoint-delete-all:    url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint_delete_all.svg@{icon-suffix}");
@icon-breakpoint-toggle-state:  url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint_toggle.svg@{icon-suffix}");
@icon-breakpoint-go-to:         url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint_goto.svg@{icon-suffix}");
@icon-breakpoint-properties:    url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint_properties.svg@{icon-suffix}");

/* Sync Icons */
@icon-sync:                     url("koicon://ko-svg/chrome/icomoon/skin/spinner10.svg@{icon-suffix}");

/* Widget Icons */
@icon-widget-default:               url("koicon://ko-svg/chrome/icomoon/skin/file5.svg@{icon-widget-suffix}");
@icon-widget-default-selected:      url("koicon://ko-svg/chrome/icomoon/skin/file5.svg@{icon-selected-suffix}");
@icon-widget-openfiles:             url("koicon://ko-svg/chrome/icomoon/skin/files.svg@{icon-widget-suffix}");
@icon-widget-openfiles-selected:    url("koicon://ko-svg/chrome/icomoon/skin/files.svg@{icon-selected-suffix}");
@icon-widget-places:                url("koicon://ko-svg/chrome/icomoon/skin/folder5.svg@{icon-widget-suffix}");
@icon-widget-places-selected:       url("koicon://ko-svg/chrome/icomoon/skin/folder5.svg@{icon-selected-suffix}");
@icon-widget-codebrowser:           url("koicon://ko-svg/chrome/icomoon/skin/ko_code2.svg@{icon-widget-suffix}");
@icon-widget-codebrowser-selected:  url("koicon://ko-svg/chrome/icomoon/skin/ko_code2.svg@{icon-selected-suffix}");
@icon-widget-dbexplorer:            url("koicon://ko-svg/chrome/icomoon/skin/ko_database.svg@{icon-widget-suffix}");
@icon-widget-dbexplorer-selected:   url("koicon://ko-svg/chrome/icomoon/skin/ko_database.svg@{icon-selected-suffix}");
@icon-widget-dom:                   url("koicon://ko-svg/chrome/icomoon/skin/ko_markup.svg@{icon-widget-suffix}");
@icon-widget-dom-selected:          url("koicon://ko-svg/chrome/icomoon/skin/ko_markup.svg@{icon-selected-suffix}");
@icon-widget-collab:                url("koicon://ko-svg/chrome/icomoon/skin/ko_collab.svg@{icon-widget-suffix}");
@icon-widget-collab-selected:       url("koicon://ko-svg/chrome/icomoon/skin/ko_collab.svg@{icon-selected-suffix}");
@icon-widget-toolbox:               url("koicon://ko-svg/chrome/icomoon/skin/briefcase3.svg@{icon-widget-suffix}");
@icon-widget-toolbox-selected:      url("koicon://ko-svg/chrome/icomoon/skin/briefcase3.svg@{icon-selected-suffix}");
@icon-widget-breakpoints:           url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint.svg@{icon-widget-suffix}");
@icon-widget-breakpoints-selected:  url("koicon://ko-svg/chrome/icomoon/skin/ko_breakpoint.svg@{icon-selected-suffix}");
@icon-widget-command-output:        url("koicon://ko-svg/chrome/icomoon/skin/console.svg@{icon-widget-suffix}");
@icon-widget-command-output-selected:url("koicon://ko-svg/chrome/icomoon/skin/console.svg@{icon-selected-suffix}");
@icon-widget-find-results:          url("koicon://ko-svg/chrome/icomoon/skin/binoculars.svg@{icon-widget-suffix}");
@icon-widget-find-results-selected: url("koicon://ko-svg/chrome/icomoon/skin/binoculars.svg@{icon-selected-suffix}");
@icon-widget-unit-tests:            url("koicon://ko-svg/chrome/icomoon/skin/lab.svg@{icon-widget-suffix}");
@icon-widget-unit-tests-selected:   url("koicon://ko-svg/chrome/icomoon/skin/lab.svg@{icon-selected-suffix}");
@icon-widget-notifications:         url("koicon://ko-svg/chrome/icomoon/skin/info2.svg@{icon-widget-suffix}");
@icon-widget-notifications-selected:url("koicon://ko-svg/chrome/icomoon/skin/info2.svg@{icon-selected-suffix}");
@icon-widget-klint:                 url("koicon://ko-svg/chrome/icomoon/skin/warning2.svg@{icon-widget-suffix}");
@icon-widget-klint-selected:        url("koicon://ko-svg/chrome/icomoon/skin/warning2.svg@{icon-selected-suffix}");

/* Notification Widget */
@icon-filter-error:             url("koicon://ko-svg/chrome/icomoon/skin/cancel-circle2.svg@{icon-suffix}");
@icon-filter-warning:           url("koicon://ko-svg/chrome/icomoon/skin/warning2.svg@{icon-suffix}");
@icon-filter-info:              url("koicon://ko-svg/chrome/icomoon/skin/info2.svg@{icon-suffix}");
@icon-filter-progress:          url("koicon://ko-svg/chrome/icomoon/skin/history.svg@{icon-suffix}");

/* Code Browser Widget */
@icon-codebrowser-locate:       url("koicon://ko-svg/chrome/icomoon/skin/ko_locate_small.svg@{icon-suffix}&size=14");

/* DOM Browser Widget */
@icon-dombrowser-show-attributes: url("koicon://ko-svg/chrome/icomoon/skin/ko_dom_small.svg@{icon-suffix}&size=14");
@icon-dombrowser-locate:        url("koicon://ko-svg/chrome/icomoon/skin/ko_locate_small.svg@{icon-suffix}&size=14");

/* Database Widget */
@icon-database-add:             url("koicon://ko-svg/chrome/icomoon/skin/ko_plus_small.svg@{icon-suffix}&size=14");

/* Collaboration Widget */
@icon-collab-add:               url("koicon://ko-svg/chrome/icomoon/skin/ko_plus_small.svg@{icon-suffix}&size=14");
@icon-collab-refresh:           url("koicon://ko-svg/chrome/icomoon/skin/ko_refresh_small.svg@{icon-suffix}&size=14");

/* Collaboration Widget */
@icon-places-panel-toggle:      url("koicon://ko-svg/chrome/icomoon/skin/arrow-down2.svg@{icon-suffix}");
@icon-places-panel-toggle-collapsed: url("koicon://ko-svg/chrome/icomoon/skin/arrow-up2.svg@{icon-suffix}");

/* Syntax checking widget */
@icon-klint-disable-syntax:     url("koicon://ko-svg/chrome/icomoon/skin/blocked.svg@{icon-suffix}");
@icon-klint-refresh:            url("koicon://ko-svg/chrome/icomoon/skin/loop4.svg@{icon-suffix}");

/* Find Results Widget */
@icon-findresult-up:            url("koicon://ko-svg/chrome/icomoon/skin/arrow-up4.svg@{icon-suffix}");
@icon-findresult-down:          url("koicon://ko-svg/chrome/icomoon/skin/arrow-down4.svg@{icon-suffix}");
@icon-findresult-stop:          url("koicon://ko-svg/chrome/icomoon/skin/stop2.svg@{icon-suffix}");
@icon-findresult-undo:          url("koicon://ko-svg/chrome/icomoon/skin/undo2.svg@{icon-suffix}");
@icon-findresult-copy:          url("koicon://ko-svg/chrome/icomoon/skin/files.svg@{icon-suffix}");
@icon-findresult-lock:          url("koicon://ko-svg/chrome/icomoon/skin/ko_unlocked.svg@{icon-suffix}");
@icon-findresult-locked:        url("koicon://ko-svg/chrome/icomoon/skin/lock.svg@{icon-suffix}");

/* Breadcrumbs */
@icon-breadcrumb-project:       @icon-project;
@icon-breadcrumb-folder:        @icon-native-folder;
@icon-breadcrumb-file:          disabled;
@icon-breadcrumb-arrow:         url("koicon://ko-svg/chrome/icomoon/skin/arrow-right3.svg@{icon-suffix}");

/* Pref Icons */

@icon-pref-uiSettings:          url("koicon://ko-svg/chrome/icomoon/skin/eye.svg@{icon-suffix}");
@icon-pref-codeIntel:           url("koicon://ko-svg/chrome/icomoon/skin/info.svg@{icon-suffix}");
@icon-pref-fonts:               url("koicon://ko-svg/chrome/icomoon/skin/palette.svg@{icon-suffix}");
@icon-pref-debugger:            url("koicon://ko-svg/chrome/icomoon/skin/play4.svg@{icon-suffix}");
@icon-pref-editor:              url("koicon://ko-svg/chrome/icomoon/skin/code.svg@{icon-suffix}");
@icon-pref-environ:             url("koicon://ko-svg/chrome/icomoon/skin/cog2.svg@{icon-suffix}");
@icon-pref-associations:        url("koicon://ko-svg/chrome/icomoon/skin/files.svg@{icon-suffix}");
@icon-pref-find:                url("koicon://ko-svg/chrome/icomoon/skin/binoculars.svg@{icon-suffix}");
@icon-pref-ishell:              url("koicon://ko-svg/chrome/icomoon/skin/console.svg@{icon-suffix}");
@icon-pref-international:       url("koicon://ko-svg/chrome/icomoon/skin/radio.svg@{icon-suffix}");
@icon-pref-editKeys:            url("koicon://ko-svg/chrome/icomoon/skin/keyboard2.svg@{icon-suffix}");
@icon-pref-help:                url("koicon://ko-svg/chrome/icomoon/skin/question4.svg@{icon-suffix}");
@icon-pref-languages:           url("koicon://ko-svg/chrome/icomoon/skin/globe2.svg@{icon-suffix}");
@icon-pref-mappedURIs:          url("koicon://ko-svg/chrome/icomoon/skin/link4.svg@{icon-suffix}");
@icon-pref-newFiles:            url("koicon://ko-svg/chrome/icomoon/skin/file-plus.svg@{icon-suffix}");
@icon-pref-editSave:            url("koicon://ko-svg/chrome/icomoon/skin/ko_save.svg@{icon-suffix}");
@icon-pref-print:               url("koicon://ko-svg/chrome/icomoon/skin/print2.svg@{icon-suffix}");
@icon-pref-servers:             url("koicon://ko-svg/chrome/icomoon/skin/database.svg@{icon-suffix}");
@icon-pref-sharedSupport:       url("koicon://ko-svg/chrome/icomoon/skin/cabinet.svg@{icon-suffix}");
@icon-pref-sourceCodeControl:   url("koicon://ko-svg/chrome/icomoon/skin/ko_scc_add.svg@{icon-suffix}");
@icon-pref-syntaxChecking:      url("koicon://ko-svg/chrome/icomoon/skin/checkmark-circle2.svg@{icon-suffix}");
@icon-pref-testPlan:            url("koicon://ko-svg/chrome/icomoon/skin/list.svg@{icon-suffix}");
@icon-pref-web:                 url("koicon://ko-svg/chrome/icomoon/skin/earth.svg@{icon-suffix}");
@icon-pref-projects:            url("koicon://ko-svg/chrome/icomoon/skin/box.svg@{icon-suffix}");
@icon-pref-windowsIntegration:  url("koicon://ko-svg/chrome/icomoon/skin/windows8.svg@{icon-suffix}");
@icon-pref-commando:            url("koicon://ko-svg/chrome/icomoon/skin/command.svg@{icon-suffix}");
@icon-pref-places:              url("koicon://ko-svg/chrome/icomoon/skin/folder.svg@{icon-suffix}");
@icon-pref-httpinspect:         url("koicon://ko-svg/chrome/icomoon/skin/direction.svg@{icon-suffix}");
@icon-pref-formatters:          url("koicon://ko-svg/chrome/icomoon/skin/clear-formatting.svg@{icon-suffix}");
@icon-pref-notify:              url("koicon://ko-svg/chrome/icomoon/skin/notification2.svg@{icon-suffix}");

/**
 * Syntax checking statusbar images
 */
@icon-statusbar-syntax-ok:      url("koicon://ko-svg/chrome/icomoon/skin/checkmark-circle2.svg@{icon-suffix}");
@icon-statusbar-syntax-inprogress:url("koicon://ko-svg/chrome/icomoon/skin/busy4.svg@{icon-suffix}");
@icon-statusbar-syntax-warning: url("koicon://ko-svg/chrome/icomoon/skin/warning2.svg@{icon-suffix}");
@icon-statusbar-syntax-error:   url("koicon://ko-svg/chrome/icomoon/skin/cancel-circle2.svg@{icon-suffix}");

/* Hud Icons */

@icon-hud-new-file:                 url("koicon://ko-svg/chrome/icomoon/skin/file-plus.svg@{icon-hud-suffix}");
@icon-hud-new-template:             url("koicon://ko-svg/chrome/icomoon/skin/file6.svg@{icon-hud-suffix}");
@icon-hud-project:                  url("koicon://ko-svg/chrome/icomoon/skin/box.svg@{icon-hud-suffix}");
@icon-hud-open-file:                url("koicon://ko-svg/chrome/icomoon/skin/folder-open.svg@{icon-hud-suffix}");
@icon-hud-open-workspace:           url("koicon://ko-svg/chrome/icomoon/skin/books.svg@{icon-hud-suffix}");
@icon-hud-gear:                     url("koicon://ko-svg/chrome/icomoon/skin/ko_cog_small.svg@{icon-hud-suffix}&size=14");
@icon-hud-customize-panes:          url("koicon://ko-svg/chrome/icomoon/skin/grid3.svg@{icon-hud-suffix}");
@icon-hud-packages:          url("koicon://ko-svg/chrome/icomoon/skin/box-add.svg@{icon-hud-suffix}");
@icon-hud-case-sensitive:           url("koicon://ko-svg/chrome/icomoon/skin/type.svg@{icon-hud-suffix}");
@icon-hud-case-insensitive:         url("koicon://ko-svg/chrome/icomoon/skin/font-size.svg@{icon-hud-suffix}");
@icon-hud-case-smart-size:          url("koicon://ko-svg/chrome/icomoon/skin/text-height.svg@{icon-hud-suffix}");
@icon-hud-open-find:                url("koicon://ko-svg/chrome/icomoon/skin/new-tab.svg@{icon-hud-suffix}");
@icon-hud-down:                     url("koicon://ko-svg/chrome/icomoon/skin/arrow-down4.svg@{icon-hud-suffix}");
@icon-hud-up:                       url("koicon://ko-svg/chrome/icomoon/skin/arrow-up4.svg@{icon-hud-suffix}");
@icon-hud-close:                    url("koicon://ko-svg/chrome/icomoon/skin/close2.svg@{icon-hud-suffix}");
@icon-hud-dropmarker:               url("koicon://ko-svg/chrome/icomoon/skin/arrow-down2.svg@{icon-hud-suffix}");
@icon-hud-findpattern-simple:       url("koicon://ko-svg/chrome/icomoon/skin/quotes-right3.svg@{icon-hud-suffix}");
@icon-hud-findpattern-wildcard:     url("koicon://ko-svg/chrome/icomoon/skin/power.svg@{icon-hud-suffix}");
@icon-hud-findpattern-regex:        url("koicon://ko-svg/chrome/icomoon/skin/ko_regexp.svg@{icon-hud-suffix}");
@icon-hud-crumb-arrow:              url("koicon://ko-svg/chrome/icomoon/skin/arrow-right3.svg@{icon-hud-suffix}");
@icon-hud-help:                     url("koicon://ko-svg/chrome/icomoon/skin/question4.svg@{icon-hud-suffix}");
@icon-hud-bugs:                     url("koicon://ko-svg/chrome/icomoon/skin/bug.svg@{icon-hud-suffix}");
@icon-hud-power:                    url("koicon://ko-svg/chrome/icomoon/skin/power.svg@{icon-hud-suffix}");

@icon-hud-statusbar-syntax-ok:      url("koicon://ko-svg/chrome/icomoon/skin/checkmark.svg@{icon-hud-suffix}");
@icon-hud-statusbar-syntax-inprogress:url("koicon://ko-svg/chrome/icomoon/skin/busy4.svg@{icon-hud-suffix}");
@icon-hud-statusbar-syntax-warning: url("koicon://ko-svg/chrome/icomoon/skin/warning2.svg@{icon-hud-suffix}");
@icon-hud-statusbar-syntax-error:   url("koicon://ko-svg/chrome/icomoon/skin/cancel-circle2.svg@{icon-hud-suffix}");

/* Workspace Icons */
@icon-workspace-open:               url("koicon://ko-svg/chrome/icomoon/skin/books.svg@{icon-suffix}");
