@main-menu-appearance:                  menubar;
@main-menu-item-appearance:             menuitem;

@main-menu-item-color:                  inherit;
@main-menu-item-text-shadow:            none;
@main-menu-item-background:             inherit;
@main-menu-item-border-width:           0;
@main-menu-item-border-style:           solid;
@main-menu-item-border-color:           transparent;
@main-menu-item-box-shadow:             none;

@main-menu-item-color-hover:            inherit;
@main-menu-item-text-shadow-hover:      none;
@main-menu-item-background-hover:       inherit;
@main-menu-item-border-width-hover:     0;
@main-menu-item-border-style-hover:     solid;
@main-menu-item-border-color-hover:     transparent;
@main-menu-item-box-shadow-hover:       none;

@main-menu-item-color-open:             inherit;
@main-menu-item-text-shadow-open:       none;
@main-menu-item-background-open:        inherit;
@main-menu-item-border-width-open:      0;
@main-menu-item-border-style-open:      solid;
@main-menu-item-border-color-open:      transparent;
@main-menu-item-box-shadow-open:        none;
