@panel-label-color:                     disabled;
@panel-label-weight:                    bold;
@panel-label-transform:                 none;
@panel-label-shadow:                    none;
@panel-label-font:                      disabled;

@panel-separator-shadow:                disabled;

@widget-splitter-background:            rgba(0,0,0,0.35);

@pane-splitter-appearance:              splitter;
@pane-splitter-border-width:            disabled;
@pane-splitter-border-style:            disabled;
@pane-splitter-border-color:            disabled;

@pane-text-color:                       disabled;

@list-pane-tree-appearance:                       none;
@list-pane-tree-background:                       transparent;
@list-pane-tree-border:                           0;
@list-pane-tree-header-appearance:                @list-tree-header-appearance;
@list-pane-tree-header-background:                @list-tree-header-background;
@list-pane-tree-header-border-width:              @list-tree-header-border-width;
@list-pane-tree-header-border-style:              @list-tree-header-border-style;
@list-pane-tree-header-border-color:              @list-tree-header-border-color;
@list-pane-tree-header-color:                     @list-tree-header-color;
@list-pane-tree-item-color:                       @list-tree-item-color;
@list-pane-tree-item-color-selected:              @list-tree-item-color-selected;
@list-pane-tree-item-color-focus:                 @list-tree-item-color-focus;
@list-pane-tree-row-background:                   @list-tree-row-background;
@list-pane-tree-row-background-odd:               @list-tree-row-background;
@list-pane-tree-row-background-selected:          @list-tree-row-background-selected;
@list-pane-tree-row-background-focus:             @list-tree-row-background-focus;

@list-pane-listbox-appearance:                    @list-pane-tree-appearance;
@list-pane-listbox-background:                    @list-pane-tree-background;
@list-pane-listbox-border:                        0;
@list-pane-listbox-header-appearance:             @list-pane-tree-header-appearance;
@list-pane-listbox-header-background:             @list-pane-tree-header-background;
@list-pane-listbox-header-border-width:           @list-pane-tree-header-border-width;
@list-pane-listbox-header-border-style:           @list-pane-tree-header-border-style;
@list-pane-listbox-header-border-color:           @list-pane-tree-header-border-color;
@list-pane-listbox-header-color:                  @list-pane-tree-header-color;
@list-pane-listbox-item-color:                    @list-pane-tree-item-color;
@list-pane-listbox-item-color-selected:           @list-pane-tree-item-color-selected;
@list-pane-listbox-item-color-focus:              @list-pane-tree-item-color-focus;
@list-pane-listbox-row-background:                @list-pane-tree-row-background;
@list-pane-listbox-row-background-odd:            @list-pane-tree-row-background;
@list-pane-listbox-row-background-selected:       @list-pane-tree-row-background-selected;
@list-pane-listbox-row-background-focus:          @list-pane-tree-row-background-focus;

/* Customization styling */
@pane-customize-droptarget-background:              rgba(255, 255, 255, 0.01);
@pane-customize-containerempty-color:               graytext;
@pane-customize-draggable-background-color:         rgba(255, 255, 255, 0.5);
@pane-customize-draggable-border:                   2px dashed rgba(0, 0, 0, 0.3);
@pane-customize-draggable-border-hover:             2px dashed rgba(0, 0, 0, 0.5);
@pane-customize-droppable-background-color:         rgba(255, 255, 255, 0.3);
@pane-customize-droppable-border:                   2px dashed rgba(0, 0, 0, 0.3);
@pane-customize-droppable-border-hover:             2px dashed rgba(0, 0, 0, 0.5);
