@toolbox-appearance:                         disabled;
@toolbox-background:                         disabled;
@toolbox-toolbar-appearance:                 disabled;

@main-toolbox-background:                    disabled;
@main-toolbox-border-bottom:                 1px solid @main-border-color;
@main-toolbox-wrapper-appearance:            disabled;

@main-toolbox-group-first-border-width:      0 1px 0 0;
@main-toolbox-group-last-border-width:       0;
@main-toolbox-group-border-width:            0 1px 0 0;
@main-toolbox-group-border-style:            solid;
@main-toolbox-group-border-color:            rgba(0,0,0, 0.15);
@main-toolbox-group-shadow:                  disabled;

@main-toolbox-button-first-border-width:     0;
@main-toolbox-button-last-border-width:      0;
@main-toolbox-button-single-border-width:    0;

@main-toolbox-button-border-width:           0;
@main-toolbox-button-border-style:           disabled;
@main-toolbox-button-border-color:           disabled;
@main-toolbox-button-border-radius:          4px;

@main-toolbox-button-background-color:       disabled;
@main-toolbox-button-background-image:       none;
@main-toolbox-button-background-position:    disabled;
@main-toolbox-button-background-repeat:      disabled;
@main-toolbox-button-shadow:                 disabled;

@main-toolbox-group-border-color-inactive:   rgba(0,0,0, 0.15);
@main-toolbox-button-border-color-inactive:  disabled;

@main-toolbox-button-background-color-hover: rgba(255,255,255, 0.7) !important;
@main-toolbox-button-background-image-hover: none;
@main-toolbox-button-shadow-hover:           disabled;
@main-toolbox-button-border-width-hover:     @main-toolbox-button-border-width;
@main-toolbox-button-border-style-hover:     @main-toolbox-button-border-style;
@main-toolbox-button-border-color-hover:     @main-toolbox-button-border-color;

@main-toolbox-button-background-color-active:-moz-EvenTreeRow !important;
@main-toolbox-button-background-image-active:none;
@main-toolbox-button-shadow-active:          none;
@main-toolbox-button-border-width-active:    @main-toolbox-button-border-width;
@main-toolbox-button-border-style-active:    @main-toolbox-button-border-style;
@main-toolbox-button-border-color-active:    @main-toolbox-button-border-color;

@main-toolbox-findtoolbar-color:             -moz-FieldText;
@main-toolbox-findtoolbar-background:        -moz-Field;
@main-toolbox-findtoolbar-separator-color:   rgba(142, 142, 142, 0.5);
@main-toolbox-findtoolbar-border:            1px solid rgba(142, 142, 142, 0.5);
@main-toolbox-findtoolbar-shadow:            disabled;
@main-toolbox-findtoolbar-shadow-focus:      disabled;
