@window-color:                          disabled;
@window-background:                     Window;
@workspace-background:                  appworkspace;

@panel-border-color:                    ThreeDShadow;
@panel-border:                          1px solid @panel-border-color;

@sidebar-background:                    -moz-linear-gradient(-90deg , rgba(255,255,255,0) 0%, rgba(0,0,0,0.05) 500px);
@sidebar-inactive-background:           @sidebar-background;

@bottom-background:                     Window;
@bottom-inactive-background:            Window;

@main-border-color:                     ThreeDShadow;
@main-border-color-inactive:            ThreeDShadow;
@main-border:                           1px solid @main-border-color;
@main-border-inactive:                  1px solid @main-border-color-inactive;

@view-splitter-appearance:              splitter;
@view-splitter-background-color:        disabled;
@view-splitter-background-image:        disabled;

@button-appearance:                     disabled;
@toolbarbutton-appearance:              disabled;
@button-border-radius:                  disabled;

@button-background:                     disabled;
@button-color:                          disabled;
@button-border:                         disabled;
@button-text-shadow:                    disabled;

@button-background-hover:               disabled;
@button-color-hover:                    disabled;
@button-border-hover:                   disabled;
@button-text-shadow-hover:              disabled;

@button-background-active:              disabled;
@button-color-active:                   disabled;
@button-border-active:                  disabled;
@button-text-shadow-active:             disabled;

@textbox-appearance:                    textbox;
@menulist-appearance:                   menulist;
@textbox-background:                    disabled;
@textbox-color:                         disabled;
@textbox-box-shadow:                    disabled;
@textbox-border:                        disabled;
@textbox-border-radius:                 disabled;

@statusbar-appearance:                  statusbar;
@statusbar-background:                  none;
@statusbar-text-color:                  disabled;
@statusbar-font:                        disabled;
@statusbar-font-size:                   disabled;
@statusbar-border-width:                1px 0 0;
@statusbar-border-style:                solid;
@statusbar-border-color:                ThreeDShadow;
@statusbar-panel-border-image:          none;

@tree-background:                       -moz-EvenTreeRow;
@tree-color:                            disabled;
@tree-color-selected:                   -moz-cellhighlighttext;
@tree-color-selected-focus:             HighlightText;
@tree-treecol-appearance:               treeheadercell;
@tree-treecol-background:               disabled;
@tree-treecol-border:                   disabled;
@tree-treecol-color:                    disabled;
@tree-row-background:                   disabled;
@tree-row-background-odd:               disabled;
@tree-row-background-selected:          -moz-cellhighlight;
@tree-row-background-selected-focus:    Highlight;
