@import url("chrome://komodo/skin/plat/current/toolbars.less");

#toolbox_main, #main-toolboxrow, #menubar_main, #main-toolboxrow-wrapper
{
    -moz-appearance: none !important;
}

/* GTK apps on Ambiance have a very faint line underneath the the titlebar
 * which is barely visible, but it makes the gradient of the menubar stand out
 */
#toolbox_main
{
    border-top: 1px solid rgb(65, 65, 65);
}

#main-toolboxrow toolbar > toolbaritem > toolbarbutton
{
    padding: 4px !important;
}

#main-toolboxrow
{
    [class*='-icon '][disabled="true"] > image,
    [class$='-icon'][disabled="true"] > image,
    [class*='_icon '][disabled="true"] > image,
    [class$='_icon'][disabled="true"] > image
    {
        opacity: 0.3;
    }
}
