@import url("chrome://komodo/skin/plat/current/_config/menus.less");

@main-menu-appearance:                  none;
@main-menu-item-text-shadow:            0 1px 0 rgba(255, 255, 255, 0.7);
@main-menu-item-text-shadow-hover:      @main-menu-item-text-shadow;
@main-menu-item-text-shadow-open:       @main-menu-item-text-shadow;
