@import url("chrome://komodo/skin/plat/current/_config/window.less");

@sidebar-background:                    #DEDEDE;
@sidebar-inactive-background:           @sidebar-background;

@main-toolbox-appearance:               none;
