@import url("chrome://komodo/skin/plat/current/menus.less");

/* Menu Popups */

menupopup
{
    menuitem, menu
    {
        padding: 4px;
    }

    menuseparator
    {
        border-width: 0;
        height: 1px;
        padding: 0 !important;
    }
}
