@import url("chrome://komodo/skin/plat/current/panes.less");
@import url("chrome://komodo/skin/plat/current/toolbars.less");

page toolbarbutton label,
page statusbarpanel label
{
    text-shadow: none !important;
}

page textbox, page menulist
{
    width: 180px;
    padding: 2px;
}

page menulist
{
    background: #161616 -moz-linear-gradient(-90deg , rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 20px);
    border: 1px solid #262626;
}

#collaboration-tabpanels-splitter
{
    border-top: @pane-splitter-border !important;
    background-image: none !important;
}
