@import url("chrome://komodo/skin/plat/current/toolbars.less");

#toolbox_main
{
    -moz-appearance: none;
    background: @main-toolbox-background;
    border-bottom: @main-toolbox-border-bottom !important;
    padding-bottom: 2px;
}

#historyRecentLocations
{
    background-color: transparent !important;
    background-image: none !important;
}

toolbox, toolbar, menubar {
    border: 0;
}