@import url("chrome://komodo/skin/plat/current/window.less");

splitter.multiview_splitter
{
    min-width: 3px !important;
    min-height: 3px;
}

#topview tabpanel view
{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

statusbar
{
    .statusbar-resizerpanel
    {
        -moz-appearance: none;
    }
}

button
{
    min-height: 23px;
}

minimap
{
    border-left: 1px solid @main-border-color !important;
}

page :not(toolbarbutton):not(toolbaritem),
window#komodo_main :not(toolbarbutton):not(toolbaritem)
{
    & > :-moz-any(button,toolbarbutton):not(.tab-close-button):not(.tabs-closebutton)
    {
        padding: 2px;
        margin: 2px;

        transition: all 0.2s ease;

        & > :-moz-any(button, toolbarbutton)
        {
            margin: 0;
            -moz-appearance: none;
        }
    }
}

#prefWindow
{
    padding: 0;

    #pref-deck-vbox + splitter + vbox
    {
        padding: 6px;
    }
}


notification
{
    -moz-appearance: @window-appearance;
    background: @window-background;
    color: @window-color;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row
{
    -moz-border-top-colors: transparent;
    -moz-border-right-colors: transparent;
    -moz-border-left-colors: transparent;
    -moz-border-bottom-colors: transparent;
    outline: 0 !important;
}
