
scintilla {
  /* Bug 80756: These borders are necessary on Mac OS X so that the "mouseenter"
   * event makes it to the sidebar/bottom-pane splitters when moving the mouse
   * from the scintilla plugin to the splitter. Without this the cursor isn't
   * changed to that for the splitter making it very difficult to grab it.
   */
  border-left: 1px solid rgba(0,0,0,0.10);
  border-right: 1px solid rgba(0,0,0,0.10);
  border-bottom: 1px solid rgba(0,0,0,0.10);
}


tabs[type="sidebar"]
{
  -moz-binding: url('chrome://komodo/content/bindings/scrolltabs.xml#tabs-droplist');
    padding: 0px;
    margin: 0px;
    -moz-appearance: none;
    border: none;
  /*background-color: #d4dde5;*/
}

tabbox.sidepanel
{
  -moz-appearance: none;
  border: None;
  padding: 0px;
  margin: 0px;
  background-color: #d4dde5;
}

#komodo_main:not([active="true"]) tabbox.sidepanel {
  background-color: #E4E4E4;
}

tabbox.sidepanel > tabs,
tabbox.sidepanel > tabpanels,
tabbox.sidepanel > tabpanels > tabpanel,
tabbox.sidepanel > tabpanels > tabpanel > vbox
{
  -moz-appearance: none;
  border: None;
  padding: 0px;
  margin: 0px;
  background-color: transparent !important;

}

tabbox.sidepanel .tab-text {
    /* Same style as for `sidebar-title` in Mozilla's 
       "pinstripe/browser/browser.css". */
    font-weight: bold !important;
    color: #535f6d;
    /* Avoid `font: menu;` from themes/pinstripe/global/tabbox.css */
    font: inherit;
}

tabbox.sidepanel tree
{
  border: None;
  padding: 0px;
  margin: 0px;
  background-color: #d4dde5;
  border:none;
}

#komodo_main:not([active="true"]) tabbox.sidepanel tree {
  background-color: #E4E4E4;
}


tabbox.sidepanel tree treechildren,
tabbox.sidepanel tree treechildren::-moz-tree-row {
  background-color: #d4dde5;
  padding-bottom: 1px;
  -moz-appearance: none;
  margin: 0;
  border: none;
}

tabbox.sidepanel tree treechildren::-moz-tree-cell-text(selected) {  
  font-weight: bold !important;
  color: #ffffff !important;
}

tabbox.sidepanel tree treechildren::-moz-tree-row(selected) {  
  background-color: #6f81a9;
  background-image: url("chrome://browser/skin/places/selected-gradient.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  border-top: 1px solid #979797;
}

#komodo_main:not([active="true"]) tabbox.sidepanel tree treechildren::-moz-tree-row(selected) {  
  background-image: url("chrome://browser/skin/places/selected-focused-gradient.png");
  background-color: #8a8a8a !important;
  border-top: 1px solid #91a0c0;
}

#komodo_main:not([active="true"]) tabbox.sidepanel tree treechildren,
#komodo_main:not([active="true"]) tabbox.sidepanel tree treechildren::-moz-tree-row {
  background-color: #E4E4E4;
}
