treechildren::-moz-tree-image(folderOpen) {
  margin-right: 3px;
  /* #if PLATFORM == "darwin" */
  list-style-image: url("chrome://global/skin/dirListing/folder.png");
  /* #elif PLATFORM == "linux" */
  list-style-image: url("moz-icon://stock/gtk-directory?size=16");
  /* #else */
  list-style-image: url("chrome://komodo/skin/images/folder-open.png");
  /* #endif */
}
treechildren::-moz-tree-image(folderClosed) {
  margin-right: 3px;
  /* #if PLATFORM == "darwin" */
  list-style-image: url("chrome://global/skin/dirListing/folder.png");
  /* #elif PLATFORM == "linux" */
  list-style-image: url("moz-icon://stock/gtk-directory?size=16");
  /* #else */
  list-style-image: url("chrome://komodo/skin/images/folder-closed.png");
  /* #endif */
}
