@import url("chrome://komodo/skin/plat/shared/modules.less");

#notificationWidget
{
    notification .twisty > .twistyImageWrapper
    {
        padding-left: 0;
        padding-bottom: 0;
    }

    notification .twistyImage
    {
        list-style-image: none;
        -moz-appearance: treetwisty;
    }

    notification[open] .twistyImage
    {
        list-style-image: none;
        -moz-appearance: treetwistyopen;
    }
}

/* Fix Notification twistyImage on Mac */
notification .twistyImage
{
    margin: -3px -10px 0 20px !important;
}

#dbExplorerPane > vbox > hbox > toolbarseparator
{
    display: none !important;
}

/* Breadcrumbs */

#breadcrumbBar
{
    padding: 2px 0;

    .breadcrumb
    {

        &.folder .breadcrumb-arrow
        {
            margin-right: -12px;
        }

    }

}
