@import url("chrome://komodo/skin/tabs/verticaltabs.css");
@import url("chrome://komodo/skin/test.css");
@import url("chrome://komodo/skin/_config/window.less"); 

/* "workspace_splitter": A splitter used between main panes in the
 * Komodo window.
 */
splitter[orient="vertical"].workspace_splitter {
  min-height: 3px;
  height: 3px;
  border: none;
  z-index: 100;
  position: relative;
  background: transparent;
  margin-bottom: -2px;
  border-top: 1px solid @main-border-color;
}
splitter[orient="vertical"].workspace_splitter:-moz-window-inactive
{
	border-color: @main-border-color-inactive;
}

splitter[orient="horizontal"].workspace_splitter {
  min-width: 3px;
  width: 3px;
  border: none;
}
splitter[orient="horizontal"].workspace_splitter_left {
	background: @sidebar-background-color;
	border-right: 1px solid @panel-border-color;
}
splitter[orient="horizontal"].workspace_splitter_right {
	background: @sidebar-background-color;
	border-left: 1px solid @panel-border-color;
}

/* "multiview_splitter": A splitter used for splitting tab groups in the main
 * Komodo editor pane.
 */
splitter[orient="vertical"].multiview_splitter {
  border-top: 1px solid #838383;
  background-color: #ccc;
  background-position: 50% 70%; /* center the grippy dot */
}
splitter[orient="horizontal"].multiview_splitter {
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  background-color: #ccc;
}



.projectTree:-moz-tree-twisty
{
  padding: 0px;
  margin: 0px;
  /* breaks single click on twisty margin-right: -8px; */
}

.projectTree:-moz-tree-twisty(open) {
  padding: 0px;
  margin: 0px;
  /* breaks single click on twisty margin-right: -8px; */
}

/* bug 91561: projects list needs to be at least 56 pixels high on mac to have
   a working scrollbar */
#placesSubpanelDeck {
  min-height: 56px;
}


/* output pane toolbars and other toolbar backgrounds */

.toolbar-background {
  background-color: #C9C9C9;
  border-bottom: 1px solid rgba(0,0,0,0.50);
}

toolbar[mode="full"] > toolbaritem > .toolbar-background {
  background-color: #C9C9C9;
  border-bottom: 1px solid rgba(0,0,0,0.50);
}


/* main workarea tweaks */

#komodo-vbox, #komodo-box, #komodo-hbox {
  padding: 0px;
  margin: 0px;
  border: none;  
}

#komodo-box {
}

#workspace_left_area {
  padding: 0px;
  margin: 0px;
  border: none;
}

#workspace_right_area {
  padding: 0px;
  margin: 0px;
  border: none;
}

.blank-workspace {
  padding: 0px;
  margin: 0px;
  border: none;
}


.divot_splitter,
.thin-inset-border,
.thin-outset-border {
  border: none;
}

/* toolbar button outlines */
toolbarseparator {
  padding: 2px;
  margin: 0px;
}

.toolbar-hbox {
  padding: 3px 4px;
}

.toolbar-hbox,
toolbarbox,
toolbar {
  -moz-box-align: center;
  -moz-box-pack: center;
}

toolbar[mode="full"] > toolbaritem > toolbarbutton {
  background: transparent;
  border: none;
}

#toolbox_main toolbar[mode="full"] {
  margin-bottom: 4px;
}

/**
 * No menu icons on mac please
 */
//#toolbar-menubar menu.menu-iconic,
//#toolbar-menubar menuitem.menuitem-iconic {
//  list-style-image: none;
//}

/**
 * Put toolbar buttons in a bordered box.
 */
//#toolbox_main[mode]:not([mode="full"]) :not(toolbarbutton) > toolbarbutton,
//.solo-toolbaritem > toolbarbutton,
//.solo-button {
//  border: 1px solid rgba(0,0,0,.5);
//  border-bottom: 2px groove grey;
//  background-image: -moz-linear-gradient(center top,
//                                         rgb(255, 255, 255),
//                                         rgb(204, 204, 204));
//  margin: 0px;
//  margin-right: -1px;
//}

#toolbox_main toolbar > toolbaritem.no-children {
	display: none;
}

/*
border: 1px solid #6f6f6f;
border-radius: 3px;
background-image: -moz-linear-gradient(top, #ececec, #c2c2c2);
box-shadow: 1px 1px 1px rgba(255,255,255,0.75), inset 0 1px 0 rgba(255,255,255,0.5);
*/

#toolbox_main toolbar > toolbaritem {
	
	border: 0;
	height: 24px;

	> toolbarbutton {
		height: 24px;
		padding: 0 0 0 6px !important;
		
		border-top-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 0;
		border-right-width: 0;
		border-style: solid;
		border-color: @menubar-group-border-color;
		
		box-shadow: @menubar-button-shadow, @menubar-button-shadow-inset;
		
		margin: 0;
		
		background-color: #f6f6f6;
		background-image: @menubar-button-separator, @menubar-button-background;
		background-position: right center;
		background-repeat: no-repeat;
		
		-moz-transition: all 0.20s linear;
		
		image {
			filter: ~"url(chrome://komodo/skin/filters.svg#monochrome)";
			padding-right: 5px;
		}
		
		&.last-child image {
			padding-right: 0;
			border-right: 0;
		}
		
		&.last-child {
			background-position: 100px, center center;
			padding-right: 5px !important;
			border-right-width: 1px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		
		&.first-child {
			border-left-width: 1px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		
		&[open="true"], &:active {
			box-shadow: @menubar-button-shadow;
			background-image: @menubar-button-separator, @menubar-button-background-active;
		}
		
		&:-moz-window-inactive {
			border-color: @menubar-group-border-color-inactive;
		}
		
	}
	
}

#toolbox_main toolbar > toolbaritem > toolbarbutton.first-child {
	
}

//#toolbox_main toolbar > toolbaritem {
//	background-image: @menubar-group-start-image, @menubar-group-end-image;
//	background-position: top left, top right;
//	background-repeat: no-repeat, no-repeat;
//	height: 27px;
//	padding: 0;
//	margin-right: 5px;
//}
//
//#toolbox_main toolbar > toolbaritem > toolbarbutton {
//	background: @menubar-group-background;
//	height: 16px;
//	padding-top: 5px;
//	margin: 0;
//	border-radius: 0 !important;
//	
//	image {
//		padding-right: 5px;
//		border-right: 1px solid #b2b2b2;
//	}
//	
//	&.last-child image {
//		padding-right: 0;
//		border-right: 0;
//	}
//}

/**
 * Want to have the main toolbar buttons a little higher than normal.
 */
#main-toolboxrow toolbarbutton {
  min-width: 24px;
}

#main-toolboxrow > hbox {
	border-bottom: @menubar-border-bottom;
	padding-bottom: 3px;
}

.solo-toolbaritem > toolbarbutton {
  min-width: 24px;
}

/* for fullscreen use */
#komodo_main #restore-button {
  list-style-image: url(chrome://komodo/skin/images/fullscreen.png);
  -moz-image-region: rect(0, 40px, 20px, 20px);
}

#window-controls {
  -moz-appearance: toolbar;
}

/**
 * Use a different background to distinguish when a toolbar button is checked.
 */
toolbarbutton[type="checkbox"][checked] {
  box-shadow: inset #2A2A2A 0 3px 3.5px, 0 1px rgba(255, 255, 255, .4);
}

toolbarbutton[type="checkbox"][checked]:-moz-window-inactive {
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 3.5px, 0 1px rgba(255, 255, 255, .4);
}

.solo-button {
  border-radius: 4px;
}

/**
 * Specific toolbar elements
 */
#toolbox_main #findToolbar {
  /* Add padding to make the last button not run into the window border */
  padding-right: 2px;
}
#toolbox_main #find-toolbar-browsedirectory > image {
  /* Add a little margin to make the image not run into the toolbar button
   * borders. (This is only needed on Mac because others don't have borders.)
   */
  margin: 2px;
}

/**
 * Toolboxrow overflow chevron
 */
#toolbox_main #main-toolboxrow > .overflow-toolbarbutton {
  border: none;
  background: none;
  list-style-image: url("chrome://global/skin/icons/chevron.png");
  -moz-box-pack: center;
  margin-top: 4px;
}
#main-toolboxrow > .overflow-toolbarbutton > .toolbarbutton-text {
  display: none; /* use the image instead */
}

/*---- history toolbar items
 * Based on FF back/forward buttons,
 * http://mxr.mozilla.org/firefox/source/browser/themes/pinstripe/browser/places/organizer.css#104 for mac-specific stylings.
 * back-forward.png comes from
 * http://mxr.mozilla.org/firefox/source/browser/themes/pinstripe/browser/places/back-forward.png
 */

toolbar #historyRecentLocations {
  list-style-image : url("chrome://komodo/skin/images/firefox-Toolbar.png");
  min-width: 12px;
    /*
  -moz-box-orient: vertical;
  -moz-margin-start: 0;
  -moz-margin-end: 3px;
  -moz-padding-start: 0;
  -moz-padding-end: 1px;
       */
    /*
  border-left: none;
       */
}

toolbar #historyRecentLocations {
  -moz-image-region: rect(0px, 664px, 23px, 649px);
}
toolbar #historyRecentLocations[disabled="true"] {
 -moz-image-region: rect(23px, 664px, 46px, 649px);
}

/**
 * The Mac menu's are mis-aligned when mixing menuitems that contain an images
 * with ones that do not. We try to fix this by giving the non-image menuitems
 * the same indentation as the imaged ones.
 *
 * Unfortunately this does not get applied to the main menubar (I'm not sure
 * why), so this styling is applied to context menus, toolbar menus, etc...
 */
menupopup.has-iconic-menuitems .menu-text {
  padding-left: 20px;
}

menupopup.has-iconic-menuitems menuitem[type="checkbox"] .menu-iconic-text {
  padding-left: 20px;
}

menupopup.has-iconic-menuitems menuitem[type="radio"] .menu-iconic-text {
  padding-left: 20px;
}


/* ---- Rounded search/filter textbox ---- 
 * Based on "search-box" in "toolkit/themes/pinstripe/global/textbox.css".
 * Usage:
 *   <textbox class="search-box" .../>
 * and optionally for a different icon *also* specify one of the other
 * "search-box-*-icon" classes.
 *
 * Used by the open-find toolbar.
 */
 
textbox.search-box,
textbox.search-box-no-icon,
textbox.search-box-open-icon {
  -moz-appearance: none;
  border: 3px solid;
  -moz-border-top-colors: #5F5F5F #CFCFCF -moz-Field;
  -moz-border-bottom-colors: #9F9F9F #EEE -moz-Field;
  -moz-border-right-colors: #7F7F7F #EEE -moz-Field;
  -moz-border-left-colors: #7F7F7F #EFEFEF -moz-Field;
  border-radius: 11px;
  background-clip: border-box !important;
  padding: 0 2px 0 8px;
}
textbox[focused="true"].search-box {
  outline: 2px solid #4A8BC7;
  outline-offset: -2px;
  -moz-outline-radius: 11px;
}

textbox.search-box {
  background: url("chrome://global/skin/icons/search-textbox.png") -moz-Field no-repeat 1px center;
  -moz-padding-start: 17px !important;
}
textbox.search-box-no-icon {
  background: url(none) -moz-Field no-repeat 1px center !important;
  -moz-padding-start: 0px !important;
}
textbox.search-box-open-icon {
  background: url("chrome://komodo/skin/images/open.png") -moz-Field no-repeat 1px center;
  -moz-padding-start: 17px !important;
}

textbox[type="autocomplete"].search-box {
}

#find-toolbar-browsedirectory {
  background-image: none;
}

/**
 * File status icons for the editor tabs.
 */
.file-status-icons {
  padding-right: 0; /* remove 2px padding set in komodo.css */
  /*margin-bottom: -4px;*/
  margin-left: -4px; /* move icons closer to the left side of the tab */
}
.file-readonly-icon[file_readonly="readonly"] {
  /* Crop the image region, otherwise there's too much space between the icon
     and the tab label. */
  -moz-image-region: rect(0px, 9px, 9px, 0px);
}
/**
 * File Status within menu items.
 */
.menu-file-status-image-box {
  padding-left: 0; /* remove 2px padding set in widgets.css */
  /* Ensure these is enough room to display all icons evenly - keeps the
     list of menuitems a uniform width (16px for image, 4px for padding). */
  min-width: 20px;
}

@-moz-document url(chrome://komodo/content/notifications/notificationsWidget.xul) {
  notification .twisty > .twistyImageWrapper {
    padding-left: 0;
    padding-bottom: 0;
  }
  notification .twistyImage {
    list-style-image: none;
    -moz-appearance: treetwisty;
  }
  notification[open] .twistyImage {
    list-style-image: none;
    -moz-appearance: treetwistyopen;
  }
}

/* Panels */

#workspace_left_area, #workspace_right_area {
	background: @sidebar-background-color;
	
	&:-moz-window-inactive {
		background: @sidebar-inactive-background-color;
	}
}

#workspace_bottom_area {
	background: @bottom-background-color;
	
	&:-moz-window-inactive {
		background: @bottom-inactive-background-color;
	}
}

/* Statusbar */

statusbar {
	padding: 0 !important;
	font-family: @statusbar-font;
	font-size: 10px;
	color: @statusbar-text-color;
	
	statusbarpanel {
		padding: 2px;
		background: @statusbar-background;
		border-right: 1px solid transparent;
		-moz-border-image: @statusbar-panel-border-image;
		//less.inject('statusbar statusbarpanel { -moz-border-image: url(\'chrome://komodo/skin/images/status-separator.png\'); } ');
		toolbarbutton[type="menu"] > dropmarker {
			list-style-image: url("chrome://komodo/skin/images/status-menu-arrows.png");
		}
		
		&:last-child, &#statusbar-line-col {
			border-right: 0;
		}
	}
	
}

/* hidden statusbar icons */
#statusbar-language-menu > .toolbarbutton-icon,
#statusbar-sectionlist > deck > hbox > image:first-child {
	display: none;
}

/* Code collab sidebar */

#collab-pane, #collab-panel-container {
	background: @sidebar-background-color;
  
	&:-moz-window-inactive {
		background: @sidebar-inactive-background-color;
	}
}