

/* "workspace_splitter": A splitter used between main panes in the
 * Komodo window.
 */
splitter[orient="vertical"].workspace_splitter {
  min-height: 3px;
  height: 3px;
  background-image: none !important;
  background-color: rgba(0,0,0,0.10); /* same as '.whiteout > tabs' for bottom pane tabs */
  border: none;
  border-top: 1px solid #404040;
  z-index: 100;
}
splitter[orient="horizontal"].workspace_splitter {
  min-width: 3px;
  width: 3px;
  background-color: rgba(0,0,0,0.10); /* same as '.whiteout > tabs' for bottom pane tabs */
  background-image: none !important;
  border: none;
}
splitter[orient="horizontal"].workspace_splitter_left {
  border-right: 1px solid #404040;
}
splitter[orient="horizontal"].workspace_splitter_right {
  border-left: 1px solid #404040;
}

/* "multiview_splitter": A splitter used for splitting tab groups in the main
 * Komodo editor pane.
 */
splitter[orient="vertical"].multiview_splitter {
  min-height: 1px;
  height: 2px;
  background-image: none !important;
  background-color: rgba(0,0,0,0.35);
}
splitter[orient="horizontal"].multiview_splitter {
  min-width: 1px;
  width: 3px;
  background-image: none !important;
  background-color: rgba(0,0,0,0.35);
}



.projectTree:-moz-tree-twisty
{
  padding: 0px;
  margin: 0px;
  /* breaks single click on twisty margin-right: -8px; */
}

.projectTree:-moz-tree-twisty(open) {
  padding: 0px;
  margin: 0px;
  /* breaks single click on twisty margin-right: -8px; */
}


/* output pane toolbars and other toolbar backgrounds */

.toolbar-background {
  background-color: #C9C9C9;
  border-bottom: 1px solid rgba(0,0,0,0.50);
}

toolbar[mode="full"] > toolbaritem > .toolbar-background {
  background-color: #C9C9C9;
  border-bottom: 1px solid rgba(0,0,0,0.50);
}


/* main workarea tweaks */

#komodo-vbox, #komodo-box, #komodo-hbox {
  padding: 0px;
  margin: 0px;
  border: none;  
}

#komodo-box {
}

#project_toolbox_area {
  padding: 0px;
  margin: 0px;
  border: none;
}

#right_toolbox_area {
  padding: 0px;
  margin: 0px;
  border: none;
}

.blank-workspace {
  padding: 0px;
  margin: 0px;
  border: none;
}


.divot_splitter,
.thin-inset-border,
.thin-outset-border {
  border: none;
}

/* toolbar button outlines */
toolbarseparator {
  padding: 2px;
  margin: 0px;
}

.toolbar-hbox {
  padding: 3px 4px;
}

.toolbar-hbox,
toolbarbox,
toolbar {
  -moz-box-align: center;
  -moz-box-pack: center;
}

toolbar[mode="full"] > toolbaritem > toolbarbutton {
  background: transparent;
  border: none;
}

/**
 * Put toolbar buttons in a bordered box.
 */
toolbar:not([mode="full"]) > toolbaritem > toolbarbutton,
.solo-toolbaritem > toolbarbutton,
.solo-button {
  border: 1px solid rgba(0,0,0,.5);
  border-bottom: 2px groove grey;
  background-image: url("chrome://global/skin/icons/button-gradient.png");
  margin: 0px;
  margin-right: -1px;
}

/**
 * Want to have the main toolbar buttons a little higher than normal.
 */
#main-toolboxrow > toolbaritem > toolbarbutton {
  min-width: 24px;
  height: 24px;
}

/**
 * Use a different background to distinguish when a toolbar button is checked.
 */
toolbarbutton[checked="true"] {
  background-image: url(chrome://komodo/skin/images/button-gradient-inactive.png);
}

toolbar:not([mode="full"]) > toolbaritem > toolbarbutton:first-child,
.solo-toolbaritem > toolbarbutton:first-child {
  margin-left: 3px;
  padding-left: 3px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}

toolbar:not([mode="full"]) > toolbaritem > toolbarbutton:last-child,
.solo-toolbaritem > toolbarbutton:last-child {
  margin-right: 3px;
  padding-right: 3px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.solo-button {
  -moz-border-radius: 4px;
}

/* ---- Rounded search/filter textbox ---- 
 * Based on "search-box" in "toolkit/themes/pinstripe/global/textbox.css".
 * Usage:
 *   <textbox class="search-box" .../>
 * and optionally for a different icon *also* specify one of the other
 * "search-box-*-icon" classes.
 */

textbox.search-box {
  -moz-appearance: none;
  border: 3px solid;
  -moz-border-top-colors: #5F5F5F #CFCFCF -moz-Field;
  -moz-border-bottom-colors: #9F9F9F #EEE -moz-Field;
  -moz-border-right-colors: #7F7F7F #EEE -moz-Field;
  -moz-border-left-colors: #7F7F7F #EFEFEF -moz-Field;
  -moz-border-radius: 11px;
  -moz-background-clip: border !important;
  padding: 0 8px;
}
textbox[focused="true"].search-box {
  outline: 2px solid #4A8BC7;
  outline-offset: -2px;
  -moz-outline-radius: 11px;
}

textbox.search-box {
  background: url("chrome://global/skin/icons/search-textbox.png") -moz-Field no-repeat 1px center;
  -moz-padding-start: 17px !important;
}
textbox.search-box-no-icon {
  background: url(none) -moz-Field no-repeat 1px center !important;
  -moz-padding-start: 0px !important;
}
textbox.search-box-open-icon {
  background: url("chrome://komodo/skin/images/open.png") -moz-Field no-repeat 1px center;
  -moz-padding-start: 17px !important;
}

textbox[type="autocomplete"].search-box {
  padding: 0 2px 0 8px;
}




/*---- history toolbar items
 * Based on FF back/forward buttons,
 * http://mxr.mozilla.org/firefox/source/browser/themes/pinstripe/browser/places/organizer.css#104 for mac-specific stylings.
 * back-forward.png comes from
 * http://mxr.mozilla.org/firefox/source/browser/themes/pinstripe/browser/places/back-forward.png
 */

toolbar #historyRecentLocations {
  list-style-image : url("chrome://komodo/skin/images/firefox-Toolbar.png");
  min-width: 12px;
    /*
  -moz-box-orient: vertical;
  -moz-margin-start: 0;
  -moz-margin-end: 3px;
  -moz-padding-start: 0;
  -moz-padding-end: 1px;
       */
    /*
  border-left: none;
       */
}

toolbar #historyRecentLocations {
  -moz-image-region: rect(0px, 664px, 23px, 649px);
}

toolbar #historyRecentLocations[disabled="true"] {
 -moz-image-region: rect(23px, 664px, 46px, 649px);
}

toolbar #historyRecentLocations:hover:active:not([disabled]),
toolbar #historyRecentLocations[open="true"] {
  -moz-image-region: rect(46px, 664px, 69px, 649px);
}
