@import url("chrome://komodo/skin/plat/shared/scrollbars.less");

@media all and (-moz-overlay-scrollbars)
{
    scintilla[virtualScrollbars="true"]
    {
        /* Something is hiding the scrollbar on OSX when "only on scroll" OS
           setting is enabled, by making space for the virtual scrollbar we force
           it to show */
        embed[anonid="scimoz"]
        {
            margin-right: 11px;
        }
        
        /* Only force bottom scrollbar when wrapping is off */
        &[wrapped="false"] embed[anonid="scimoz"]
        {
            margin-bottom: 11px;
        }
        
        /* Hide bottom scrollbar when wrapping is turned on */
        &[wrapped="true"] row > scrollbar[orient="horizontal"]
        {
            visibility: collapse !important;
        }
    }
}