

#komodo_main {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#unifiedWindow");
}

#komodo_main[chromehidden~="toolbar"][chromehidden~="location"][chromehidden~="directories"] {
  border-top: 1px solid rgba(0,0,0,0.65);
  -moz-appearance: none;
  background-color: #C9C9C9;
}

#toolbox_main > menubar,
#toolbox_main > toolbar,
#main-toolboxrow,
#main-toolboxrow > toolbar {
  background-color: #C9C9C9;
  border: none;
  background-image: url("chrome://komodo/skin/images/toolbar-background.gif");
}


#toolbox_main {
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.50);
}

/* height same as background image */
#toolbox_main > toolbar,
#main-toolboxrow > toolbar {
  height: 31px;
}

#toolbox_main > toolbar,
#main-toolboxrow > toolbar {
  padding-right: 3px;
  padding-left: 3px;
}

toolbox[mode="full"] #main-toolboxrow,
toolbox[mode="full"] #main-toolboxrow > toolbar {
  background-color: #C9C9C9;
  border: none;
  background-image: none;
}

#main-toolboxrow > toolbar[mode="full"] {
  background-image: none;
  height: 50px;
}

/* ----- INACTIVE WINDOW ----- */

#komodo_main:not([active="true"]) > #toolbox_main,
#komodo_main:not([active="true"]) > #toolbox_main > menubar,
#komodo_main:not([active="true"]) > #toolbox_main > toolbar,
#komodo_main:not([active="true"]) > #toolbox_main > #main-toolboxrow,
#komodo_main:not([active="true"]) > #toolbox_main > #main-toolboxrow > toolbar {
  background-color: #E4E4E4;
  background-image: url("chrome://komodo/skin/images/toolbar-background-inactive.png");
}

#komodo_main:not([active="true"]) > #toolbox_main {
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.10);
}

#komodo_main:not([active="true"]) #toolbox_main[mode="full"] > #main-toolboxrow,
#komodo_main:not([active="true"]) #toolbox_main[mode="full"] > #main-toolboxrow > toolbar {
  background-color: #E4E4E4;
  border: none;
  background-image: none;
}

#komodo_main:not([active="true"]) #main-toolboxrow > toolbar[mode="full"] {
  background-image: none;
}
