#komodo_main[chromehidden~="toolbar"][chromehidden~="location"][chromehidden~="directories"] {
  -moz-appearance: none;
  background-color: #C9C9C9;
}

#komodo_main > #toolbox_main {
  padding: 0px;
  margin: 0px;
  border: none;
}

/**
 * Ensure the main toolbox row extends with the same color, instead of showing a
 * different color after the end of the toolbaritems - bug 86812.
 */
#main-toolboxrow {
  -moz-appearance: none;
}

#main-toolboxrow
{
  border-style: none;
}
#main-toolboxrow > toolbar,
#main-toolboxrow > toolbaritem,
#findToolbar > toolbaritem
{
  border-style: none;
  /* height same as background image */
  height: 31px;
}

#main-toolboxrow[mode="full"],
#main-toolboxrow[mode="full"] > toolbar {
  border: none;
  background-image: none;
}

#main-toolboxrow[mode="full"] {
  height: 50px;
}

/**
 * Fake the unified toolbar look
 */
#komodo_main > #toolbox_main > toolbar {
  -moz-appearance: none;
  background-color: -moz-mac-chrome-active;
  margin-top: -2px; /* hide the bottom border of the toolbar above */
  border-bottom: 1px solid rgba(0, 0, 0, 0.57);
}
#komodo_main > #toolbox_main > toolbar:-moz-window-inactive {
  background-color: -moz-mac-chrome-inactive;
  border-bottom-color: rgba(0, 0, 0, 0.32);
}

/**
 * Do not display the menubar toolbar on Mac - as it already has it's own
 * top-level menu - ToddW.
 */
#toolbar-menubar {
  display: none;
}

/**
 * Remove the additional padding around the toolbar buttons. Without this the
 * toolbar menu buttons are mis-aligned and there are spaces between the
 * menu buttons and the regular buttons - ToddW.
 */
toolbarbutton {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
