@import url("chrome://komodo/skin/plat/current/platform.less");

#main-toolboxrow-wrapper
{
    padding-top: 3px;
}

#main-toolboxrow
{
    padding-bottom: 0;
}

tabpanels caption
{
    -moz-appearance: none;
}

menuitem[type="checkbox"] > .menu-iconic-left
{
    min-width: 2.45em;
    min-height: 16px;
}

menuitem.languageicon[type="checkbox"] image
{
    margin-left: 22px !important;
    margin-right: 4px !important;
}

view tabbox:not(.tabs-bottom) > tabpanels,
#workspace_bottom_area,
#statusbarviewbox,
#customizingPlaceHolder
{
    border-left: 0 !important;
    border-right: 0 !important;
}

#komodo-box
{
    padding-top: 0 !important;
}