<!-- --django-- -->
<stuff>
{% block ok were here 'now' %}
{% ifchanged blah %}
<tag>
awp not a tag!
</tag>
{% endifchanged %}
{% ssi 'fdsa' ssi "fsdf\ \
fdsafasd"fdsa" %}
{{ ssi /blah/fesa\ fdafsd/\ \ \ \ fdsafsda }}
{{ ssi2 /fds/fd/fds }}
<style>
thing { color : red; /* {{ comment */
        background-color: {{ green }};
};
</style>
{% comment %}
ignore this 
{% endcomment %}
<xtag a="blah2 {{ cycle in something? "nested string" this right? }}" />
{{ 'beep'|bip.bip.bip.beep.if }}
{{ ssi /aga/rea/fgsda\ffdsa bork ssi 'mooserino' }}
</stuff>
