<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>foo.py</title>
<![CDATA[ blip
mor]]>
</head>
<script type="application/x-javascript">
if (1) {
    if (2) {
        if (3) {
            var x;
            var q = {1:2};
            /* comment test
             * another
             * more and more
             */
        }
    }
}

    function show_class(span) {
        var infobox = document.getElementById("infobox");
        infobox.innerHTML = span.getAttribute("class");
    }
    moo$abc = 33;
    var bl = "fdsasfs\\";//\
    $ = 34;
    $jef = 35;
    stew = $jef;
    a = f(1,
          2,
          g(34,
            45),
          z());
    var a = 0.innn345;
    var b = 12.eat34; b1 = 12.3e42abc, 12.3e-4abc, zoon, /345/.e34 + .e34, 12.3e45
    var c = 12.345;
    var d = 0.inn3;
    /*
     * fdsa
     *
     * fads
     *
     */

    e = [1,2
         ,3,4]
    f = {'abc': 1,
    'def' : 2
    'ghi' : 3}

    e = (12,
         34);
    f = {'abc': 1,
    'def' : 3,
    };

</script>
<style>
#infobox {
    margin-test : moo(1,
                      2,
                      3, g11(abcdef,
                             blah + blah,
                             ok),
                      zip,
                      fsad);
    other : "hmmm";
    /* test multi-line comments
     * continuation
     *
     */
    border: 4px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    top: 5px;
    right: 5px;
}
</style>

<body>
<%= $x %>
<%
def m1(a,b)
end
puts %Q(start:#{2 + 2}:end")

if xyz
    if www
end
class C1
    def f1(a,bc)
        zrea
    end
end
goose.new.def.e def ezzxer
$abc.def
def::def::def

a1 = 's1'
a2 = %q(syz
sda)

if $abc $ @ . ::
... more body
  q = /zip\/stuff/

</body>
</html>
