<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="less://komodo/skin/global/global.less" />
<link rel="stylesheet" href="less://console/content/less/console.less" />

<!--<link rel="stylesheet" type="text/css" href="../less/console.css" />-->

</head>
<body class="editor-field">
    
<div id="console" class="editor-field">
  <ul id="output"></ul>
</div>

<form class="widgetToolbarWrap" id="statusbar">
    <div id="input-wrapper" class="input-field">
        <textarea id="input" wrap="off"></textarea>
<span id="input-mock">a
a</span> <!-- Used to measure char width/height, do not alter contents -->
    </div>
</form>

<script src="../js/auto-complete.js"></script>
<script src="../js/console.js"></script>
<script src="../js/observer.js"></script>

</body>
</html>
