
/* Komodo XUL <tab> styling for Mac OS X (based on FF3 styles).
 *
 * Dev Notes:
 * - The mozilla pinstrip theme (i.e. for Mac) has a matching <xul:label>
 *   in tabs and toolbarbutton text with class "tab-text-shadow" and
 *   "toolbarbutton-shadow". Those are there to provide a white shadow
 *   on that text. Komodo doesn't currently do this, but it should eventually.
 *   Compare the tab text in FF3/Mac to K5/Mac.
 */

/* ::::: tabbrowser ::::: */

.native .tab-icon-image {
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://global/skin/tree/item.png");
}

.native .tab-icon {
  margin: 0 0 4px 0;
  opacity: 0.7;
}

.native .tab-text {
  margin-bottom: 0;
  font: message-box;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  height: 16px;
}

.native tab[selected="true"] .tab-text {
  opacity: 0.6;
}

view[lastfocused="true"] .native tab[selected="true"] .tab-icon,
view[lastfocused="true"] .native tab[selected="true"] .tab-text {
  opacity: 1.0;
}

.native tab:hover .tab-icon,
.native tab:hover .tab-text {
  opacity: 1.0 !important;
}


.native tab[busy] > .tab-icon-image,
.native tab[busy] > .tab-image-middle > .tab-icon > .tab-icon-image {
 list-style-image: url("chrome://global/skin/icons/loading_16.png") !important; 
}

.native tab {
  -moz-appearance: none;
  -moz-border-radius: 0 0 6px 6px;
  color: #222;
  margin: 0 0 1px;
  padding: 0 5px;
  border-style: none solid solid;
  border-width: 3px;
  -moz-border-right-colors: rgba(0, 0, 0, .08) rgba(0, 0, 0, .17) rgba(180, 180, 180, .29);
  -moz-border-bottom-colors: rgba(0, 0, 0, .08) rgba(0, 0, 0, .17) rgba(180, 180, 180, .29);
  -moz-border-left-colors: rgba(0, 0, 0, .08) rgba(0, 0, 0, .17) rgba(180, 180, 180, .29);
  -moz-background-clip: padding;
  min-width: 1px !important;
  text-align: center;
  height: 24px;
}

.native tab[selected="true"] {
  -moz-user-focus: normal;
  /* Make the background color of the tab be the same color as the toolbar. */
  background-color: rgba(201,201,201,1);
}

.native tab[selected="true"]:focus > .tab-image-middle > .tab-text-stack > .tab-text {
  outline: 2px solid #4F8EC9;
  -moz-outline-radius: 3px;
}

.native tab[selected="true"],
.native tab:hover {
  color: #000000;
}

.native .tab-image-left,
.native .tab-image-right {
  width: 8px;
  margin: 0px;
  padding: 0px;
}

.native tab > .tab-image-right,
.native tab[chromedir="rtl"] > .tab-image-left {
  background: url("chrome://komodo/skin/tabs/tab-right.png") no-repeat;
}

.native tab:not([selected="true"]) > .tab-image-right,
.native tab:not([selected="true"])[chromedir="rtl"] > .tab-image-left {
  background: url("chrome://komodo/skin/tabs/tab-right-bkgnd.png") no-repeat;
}

.native tab > .tab-image-left,
.native tab[chromedir="rtl"] > .tab-image-right {
  background: url("chrome://komodo/skin/tabs/tab-left.png") no-repeat;
}

.native tab:not([selected="true"]) > .tab-image-left,
.native tab:not([selected="true"])[chromedir="rtl"] > .tab-image-right {
  background: url("chrome://komodo/skin/tabs/tab-left-bkgnd.png") no-repeat;
}

/*
 Don't think this is needed. Toddw.
.native tab > .tab-image-middle,
.native tab > .tab-closebutton {
  -moz-box-pack: center;
}
*/

.native tab:not([selected="true"]) > .tab-image-middle > .tab-icon > .tab-icon-image  {
  list-style-image: url("chrome://global/skin/tree/item-grayscale.png");
}

.native .tabs-closebutton {
  margin: 0;
  list-style-image: url("chrome://global/skin/icons/closetab.png") !important;
}

.native .tabs-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/closetab-active.png") !important;
  border: none !important;
}

.native .tabstrip-box {
  border-bottom: none;
  background-color: rgba(0,0,0,0.20); /* controls darkness of unselected tabs */
}

.native tabs {
  border: none;
  -moz-box-pack: center;
  -moz-box-align: center;
  background: url("chrome://komodo/skin/tabs/tabbrowser-tabs-bkgnd.png") repeat-x;
  height: 24px;
}

.native .tabs-left {
  display: -moz-box;
  width: 3px;
}

.native tabs[overflow="true"] .tabs-left {
  display: none;
}

.native > tabpanels {
  -moz-appearance: none !important;
}

/**
 * Tab Drag and Drop
 */

.tab-drop-indicator-bar {
  height: 10px;
  margin-top: -10px;
  position: relative;
  /* set -moz-margin-start to -1/2 indicator width: */
  -moz-margin-start: -4px;
}

.tab-drop-indicator {
  height: 33px;
  width: 10px;
  margin-bottom: -24px;
  position: relative;
  background: url('chrome://komodo/skin/tabs/tabDragIndicator.png') 50% 40% no-repeat;
}

/**
 * In-tab close button
 */

.native .tab-close-button > .toolbarbutton-icon {
  -moz-margin-end: 0px !important;
}

.native tab[selected="true"] .tab-close-button {
  list-style-image: url("chrome://global/skin/icons/closetab.png");
  -moz-appearance: none;
  border: none !important;
  padding: 0 0 0 0;
  margin: 0;
  margin-bottom: 1px;
  background: inherit;
  cursor: default;
}

.native tab[selected="true"] > .tab-close-button:hover {
  list-style-image: url("chrome://global/skin/icons/closetab-hover.png");
}

.native tab[selected="true"] > .tab-close-button:hover:active {
  list-style-image: url("chrome://global/skin/icons/closetab-active.png");
}

.native tab > .tab-close-button {
  background-image: url("chrome://komodo/skin/tabs/tab-middle.png");
  background-repeat: repeat-x;
}

.native tab[selected="true"] > .tab-close-button {
  /* Make this button focusable so clicking on it will not focus the tab while
     it's getting closed */
  -moz-user-focus: normal;
}

.native tab:not([selected="true"]) > .tab-close-button {
  background-image: url("chrome://komodo/skin/tabs/tab-middle-bkgnd.png");
}

.native .tabs-select-button {
  list-style-image: url("chrome://komodo/skin/images/alltabs-box-bkgnd-icon.png");
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.native .tabs-select-button > image {
  opacity: 0.7;
}

.native .tabs-select-button:hover > image {
  list-style-image: url("chrome://komodo/skin/images/alltabs-box-bkgnd-icon.png");
  opacity: 1.0;
}

.native .tabs-select-button  > .toolbarbutton-menu-dropmarker {
  display: none;
}

.native .tabs-select-button  > .toolbarbutton-text {
  display: none;
}

.native .tabs-select-button > .toolbarbutton-icon {
  -moz-margin-end: 2px;
}

.tab-arrowscrollbox > .scrollbutton-up,
.tab-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down[chromedir="rtl"] {
  border: 0;
  border-right: 2px solid;
  -moz-border-right-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
  list-style-image: url("chrome://komodo/skin/tabs/tab-arrow-start.png");
  -moz-image-region: rect(0px, 7px, 11px, 0px);
  padding: 0;
  width: 16px;
  margin: 0;
}

.tab-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down[chromedir="rtl"] {
  -moz-border-end: none;
}

.tab-arrowscrollbox > .scrollbutton-up:hover {
  background-color: rgba(0,0,0,0.10);
}

.tab-arrowscrollbox > .scrollbutton-up:hover:active {
  background-color: rgba(0,0,0,0.20);
}

.tab-arrowscrollbox > .scrollbutton-up[disabled="true"],
.tab-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down[disabled="true"][chromedir="rtl"] {
  -moz-image-region: rect(0px, 28px, 11px, 21px);
  background-color: transparent !important; 
}

.tab-arrowscrollbox .scrollbutton-down,
.tab-arrowscrollbox > .scrollbutton-up[chromedir="rtl"] {
  border-left: 2px solid;
  -moz-border-left-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
  list-style-image: url("chrome://komodo/skin/tabs/tab-arrow-end.png");
  -moz-image-region: rect(0px, 44px, 11px, 37px);
  -moz-padding-start: 2px;
  -moz-padding-end: 0;
  width: 16px;
  margin: 0;
}

.tab-arrowscrollbox > .scrollbutton-up[chromedir="rtl"] {
  -moz-border-start: none;
}

.tab-arrowscrollbox .scrollbutton-down:hover {
  background-color: rgba(0,0,0,0.10);
}

.tab-arrowscrollbox .scrollbutton-down:hover:active {
  background-color: rgba(0,0,0,0.20);
}

.tab-arrowscrollbox > .scrollbutton-down-stack > .scrollbutton-down[disabled="true"],
.tab-arrowscrollbox > .scrollbutton-up[disabled="true"][chromedir="rtl"] {
  -moz-image-region: rect(0px, 23px, 11px, 16px);
  background-color: transparent !important;
}


.native .tabs-closebutton {
  padding-right: 4px;
  list-style-image: url("chrome://global/skin/icons/closetab.png") !important;
  list-style-image: none;
  border: none;
  -moz-box-align: stretch;
}

.native .tabs-closebutton:hover > .toolbarbutton-icon {
	background-image: none !important;
}

.native .tabs-closebutton:hover:active {
	list-style-image: url("chrome://global/skin/icons/closetab-active.png") !important;
}

.native tabpanels.plain {
	background-color: #fff !important;
}


.native > tabpanels
{
    -moz-appearance: none;
    border: None;
    -moz-border-bottom-colors: none ;
    border-top: 1px solid #404040;
    padding: 0px;
    margin: 0px;
}

.native > tabpanels > tabpanel {
    padding: 0px;
    margin: 0px;
}


#komodo_main:not([active="true"]) .native .tabstrip-box {
  background-color: rgba(0,0,0,0.10); /* controls darkness of unselected tabs */
}

#komodo_main:not([active="true"]) .native tab[selected="true"] {
  background-color: #CCCCCC;
}

#komodo_main:not([active="true"]) .native tab[selected="true"] > .tab-image-left,
#komodo_main:not([active="true"]) .native tab[selected="true"][chromedir="rtl"] > .tab-image-right {
  background: url("chrome://komodo/skin/tabs/tab-left-inactive.png") no-repeat;
}

#komodo_main:not([active="true"]) .native tab[selected="true"] > .tab-image-right,
#komodo_main:not([active="true"]) .native tab[selected="true"][chromedir="rtl"] > .tab-image-left {
  background: url("chrome://komodo/skin/tabs/tab-right-inactive.png") no-repeat;
}

tabbox {
  /* Remove the default 5px margin around a xul tabbox. */
  margin-left: 0px;
  margin-right: 0px;
}

tabbox > tabs {
  /* remove the -12px margin set by the global tabbox.css */
  margin-bottom: 0px;
  /* remove the 10px padding set by the global tabbox.css */
  padding-left: 0px;
  padding-right: 0px;
}
