
/**
 * Vertical sidebar tabs - Mac specific settings.
 */
tabbox.vertical_tabs
{
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: #d4dde5;
}

#komodo_main:not([active="true"]) tabbox.vertical_tabs {
  background-color: #E4E4E4;
}

tabbox.vertical_tabs tabpanel label.tab-text {
    /* Same style as for `sidebar-title` in Mozilla's 
       "pinstripe/browser/browser.css". */
    font-weight: bold !important;
    font-size: small;
    color: #535f6d;
}

tabbox.vertical_tabs tab > .tab-text,
tabbox.vertical_tabs .tab-middle {
  /* Remove left/right padding around the tab */
  padding-left: 0;
  padding-right: 0;
}
