
/**
 * Vertical sidebar tabs - Mac specific settings.
 */
ko-pane[type="vertical"]
{
  border: none;
  padding: 0px;
  margin: 0px;
}

ko-pane[type="vertical"] tabs
{
  /* Remove native tab background image (nativetabs.css) */
  background-image:     none;
}

ko-pane[type="vertical"] tab
{
  width: 2em;
  -moz-border-top-colors: rgba(0, 0, 0, .08) rgba(0, 0, 0, .17) rgba(180, 180, 180, .29);
}

ko-pane[type="vertical"] tabs[rotation="270"] tab
{
  -moz-border-radius: 6px 0 0 6px;
  border-bottom: 3px solid;
  border-top: 1px solid;
  border-right: none;
}

ko-pane[type="vertical"] tabs[rotation="90"] tab
{
  -moz-border-radius: 0 6px 6px 0;
  border-bottom: 3px solid;
  border-top: 1px solid;
  border-left: none;
}

ko-pane[type="vertical"] tabpanel label.tab-text {
    /* Same style as for `sidebar-title` in Mozilla's 
       "pinstripe/browser/browser.css". */
    font-weight: bold !important;
    font-size: small;
    color: #535f6d;
}

ko-pane[type="vertical"] tab > .tab-text,
ko-pane[type="vertical"] .tab-middle {
  /* Remove left/right padding around the tab */
  padding-left: 0;
  padding-right: 0;
}

/* Drop the default margin around widgets */
ko-pane tabpanels {
  padding: 0;
}

ko-vertical-text .label {
  padding-bottom: 0px;
}

/* align the labels to not centered */
ko-pane[type="vertical"][rotation="270"] ko-vertical-text .label {
  margin: 2px 0 5px 2px;
}
ko-pane[type="vertical"][rotation="90"] ko-vertical-text .label {
  margin: 5px 0 2px 2px;
}
