
/**
 * Vertical sidebar tabs - Mac specific settings.
 */
tabbox.vertical_tabs
{
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: #d4dde5;
}

#komodo_main:not([active="true"]) tabbox.vertical_tabs {
  background-color: #E4E4E4;
}

tabbox.vertical_tabs tabs
{
  /* Remove native tab background image (nativetabs.css) */
  background-image:     none;
}

tabbox.vertical_tabs tab
{
  width: 2em;
  -moz-border-top-colors: rgba(0, 0, 0, .08) rgba(0, 0, 0, .17) rgba(180, 180, 180, .29);
}

tabbox.vertical_tabs[rotation="270"] tab
{
  -moz-border-radius: 6px 0 0 6px;
}

tabbox.vertical_tabs[rotation="90"] tab
{
  -moz-border-radius: 0 6px 6px 0;
  margin-left: -5px;
}

tabbox.vertical_tabs tabpanel label.tab-text {
    /* Same style as for `sidebar-title` in Mozilla's 
       "pinstripe/browser/browser.css". */
    font-weight: bold !important;
    font-size: small;
    color: #535f6d;
}

tabbox.vertical_tabs tab > .tab-text,
tabbox.vertical_tabs .tab-middle {
  /* Remove left/right padding around the tab */
  padding-left: 0;
  padding-right: 0;
}
