
treechildren#mainTree_treechildren::-moz-tree-image(app_open) {
  list-style-image: url("chrome://komodo/skin/images/famfamfam/arrow_in.png");
  margin-right: 2px;
}
treechildren#mainTree_treechildren::-moz-tree-image(app_closed) {
  list-style-image: url("chrome://komodo/skin/images/famfamfam/arrow_out.png");
  margin-right: 2px;
}
treechildren#mainTree_treechildren::-moz-tree-image(app_simple) {
  list-style-image: url("chrome://komodo/skin/images/famfamfam/bullet_black.png");
  margin-right: 2px;
}

hbox textbox.stackatoUserTextBox {
  max-width: 18em;
}

hbox.stackato_header {
  min-height: 21px;
  margin: 0px;
  -moz-box-orient: horizontal;
  -moz-box-align: center;
}

/* The :root here just boosts this selector's specificity */
:root .async_operation {
    list-style-image : url("chrome://global/skin/icons/loading_16.png");
    -moz-box-align: center;
}

caption.user-label {
    list-style-image : url("chrome://fugue/skin/icons/user.png");
    -moz-box-align: center;
}

caption.target-label {
    list-style-image : url("chrome://fugue/skin/icons/target.png");
    -moz-box-align: center;
}

box.icon-wrapper {
    -moz-box-align: center;
}

/*vbox#vbox_applications[hbox > image.openbox-icon] tree#mainTree {
    visibility: collapse;
}
vbox#vbox_applications[hbox > image.closebox-icon] tree#mainTree {
    visibility: visible;
}*/

vbox.stackato_vbox_part {
  /*border: thin solid pink;*/
  margin: 2px 1px 0px 2px;
  padding: 2px 2px 2px 2px;
}

#stackato_apps_toolbar {
    -moz-appearance: none;
    border: none;
    /*color: white;*/
    padding: 2px 2px 2px 8px;
    margin-left: 8px;
}

toolbarbutton#stb_update {
  list-style-image: url("chrome://fugue/skin/icons/application-tree.png");
}

toolbarbutton#stb_restart {
  list-style-image: url("chrome://fugue/skin/icons/application-import.png");
}

toolbarbutton#stb_start {
  list-style-image: url("chrome://fugue/skin/icons/control.png");
}

toolbarbutton#stb_stop {
  list-style-image: url("chrome://fugue/skin/icons/control-stop-square.png");
}

toolbarbutton#stb_rename {
  list-style-image: url("chrome://fugue/skin/icons/application-rename.png");
}

toolbarbutton#stb_delete {
  list-style-image: url("chrome://fugue/skin/icons/application--minus.png");
}

toolbarbutton#stb_add {
  list-style-image: url("chrome://fugue/skin/icons/application--arrow.png");
}

view#stackato_output_view {
    cursor: text;
    margin: 3px 1px 1px 3px;
    padding: 1px;
    min-height: 2em;
}

/* Applications // ProvisionedServices splitter */

image.applications_button {
  list-style-image: url("chrome://famfamfamsilk/skin/icons/application_view_list.png");
}

#post_applications_splitter {
}

splitter.section_splitter {
  margin: 2px 6px 0px 6px;
  background: transparent !important;
  border: none;
}

splitter.section_splitter > grippy {
  background-image: none !important;
}
splitter.section_splitter,
splitter.section_splitter label {
  cursor: ns-resize;
}
splitter.section_splitter toolbarbutton  {
  cursor: default;
}

toolbarbutton.splitter_toggle_button[state="open"] {
  list-style-image : url("chrome://fugue/skin/icons/control-270.png");
}
toolbarbutton.splitter_toggle_button[state="collapsed"] {
  list-style-image : url("chrome://fugue/skin/icons/control-090.png");
}

image.system_services_button,
image.provisioned_services_button {
  list-style-image: url("chrome://fugue/skin/icons/servers.png");
}

image.output_view_button {
  list-style-image: url("chrome://fugue/skin/icons/monitor.png");
}

image.frameworks_runtimes_button {
  list-style-image: url("chrome://crystal/skin/icons/frame_spreadsheet.png");
}

image.targets_button {
  list-style-image: url("chrome://fugue/skin/icons/target.png");
}
