[class*='-icon '][disabled="true"] > image,
[class$='-icon'][disabled="true"] > image,
[class*='_icon '][disabled="true"] > image,
[class$='_icon'][disabled="true"] > image
{
    opacity: 0.20 !important;
}

.history-back-icon {
    -moz-image-region: rect(0px 16px 16px 0px) !important;
}

.history-forward-icon {
    -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}