@import url("chrome://komodo/skin/plat/current/_config/tabs.less");

@tab-box-border:                        1px solid #ACAFAC;
@tab-box-background-icons:              #cfd2cf -moz-linear-gradient(top, #bec1be 0%, #cfd2cf 25%, #d9dbd9 100%);

@tab-moz-appearance-icons:              none;
