@import url("chrome://komodo/skin/plat/current/_config/window.less");

@sidebar-background:                    #F8F8F6;
@sidebar-inactive-background:           @sidebar-background;

@main-toolbox-appearance:               none;

@panel-border-color:                    #BCBCBC;
@main-border-color:                     #BCBCBC;
@main-border-color-inactive:            #BCBCBC;
