/* {{{ as brand fonts */
/* Swiss 721 Condensed Bold. Used for ActiveState's site banner headers.
 * Note: The name of the font files from ShannonP had "Swis" instead of
 * "Swiss". Don't know why. I'm intentionally using "swiss" for the class
 * name.
 */
@font-face {
  font-family: 'Swis721CnBTBold';
  src: url('../font/swis721_cn_bt_bold-webfont.woff') format('woff'), url('../font/swis721_cn_bt_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.as_font_swiss721cnbold {
  font-weight: normal; 
  font-style: normal;
  line-height: normal;
  font-family: 'Swis721CnBTBold', sans-serif;
}

/* Swiss 721 Light Condensed. A lighter version of the above for some
 * non-heading copy.
 */
@font-face {
  font-family: 'Swis721LtCnBTLight';
  src: url('../font/swis721_ltcn_bt_light-webfont.woff') format('woff'), url('../font/swis721_ltcn_bt_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.as_font_swiss721ltcnlight {
  font-weight: normal; 
  font-style: normal;
  line-height: normal;
  font-family: 'Swis721LtCnBTLight', sans-serif;
}

/* See the ActiveState Web Styleguide for more color specs. */
.as_brand_red {
  color: #ae1a27;  
}
.as_brand_blue {
  color: #026981;
}
/* }}} */


/* {{{{ awesome buttons */

.awesome, .awesome:visited {
  /* use a data uri for the overlay instead of a file so that IE6 ignores it and displays the background color of the button instead of pale blue PNG failure */
  background: #222 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC") repeat-x;
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff !important; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  /* Linux browsers */
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.awesome:hover					{ background-color: #111; color: #fff; }
.awesome:active					{ top: 1px; }
.medium.awesome, .medium.awesome:visited 	{ font: 12px/1.3em Arial,sans-serif; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.blue.awesome, .blue.awesome:visited		{ background-color: #007d9a; }
.blue.awesome:hover				{ background-color: #0090B3; }
/* }}} */


body {
  font-family: Arial;
  font-size: 12px;
  color: #666;
  margin: 0;
  padding: 0;
  background: #fff url("../img/gradient_right.png") repeat-y right;
}

a {
  color: #026981;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding: 0;
  margin: 0px 0 0 15px;
  list-style-image: url("../img/chevron_bullet.png");
}
ul li {
  margin-bottom: 3px;
}

#content {
  width: 100%;
}
#left {
  padding: 5px 15px 5px 15px;
}
#msg {
  vertical-align: top;
  padding: 10px;
  width: 250px;
}
#msg_title {
  color: white;
  font-size: 22px;
  text-shadow: 1px 1px 4px #000000;
}
#msg_body {
  margin-top: 5px;
  font-size: 16px;
  color: #333;
}
#msg_button {
  margin-top: 5px;
}
#links {
  position: absolute;
  bottom: 5px;
  width: 247px;
  right: 0;
}

#title {
  color: black;
  font-size: 30px;
}
#icon256 {
  position: fixed;
  bottom: -50px;
  bottom: -150px;
  right: -50px;
  z-index: -10;
}
#icon128 {
  position: fixed;
  bottom: -40px;
  right: -20px;
  z-index: -10;
}
#icon64 {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: -10;
}
