/* Folder Icons */
@icon-folder-open:              url("moz-icon://stock/gtk-directory?size=16");
@icon-folder-closed:            url("moz-icon://stock/gtk-directory?size=16");
@icon-folder-remote:            url("chrome://famfamfamsilk/skin/icons/folder_link.png");
@icon-project:                  url("moz-icon://stock/gtk-home?size=16");
@icon-native-folder:            url("moz-icon://stock/gtk-directory?size=16");

/* Tab Icons */
@icon-tab-select-sidebar:       url("chrome://komodo/skin/images/tab_select.png");
@icon-tab-select-sidebar-hover: url("chrome://komodo/skin/images/select_sidebar_gnome.png");
@icon-tab-close-button:         url("moz-icon://stock/gtk-close?size=menu");
@icon-tab-select:               url("chrome://komodo/skin/images/alltabs-box-bkgnd-icon.png");

/* Global Icons */
@icon-help:                     url("moz-icon://stock/gtk-help?size=16");
@icon-open-file-toolbar:        url("moz-icon://stock/gtk-open?size=16");