@icon-history-back:             url("chrome://komodo/skin/images/browser_buttons.png");
@icon-history-forward:          url("chrome://komodo/skin/images/browser_buttons.png");
@icon-native-undo:              url("chrome://komodo/skin/images/undo.png");
@icon-native-redo:              url("chrome://komodo/skin/images/redo.png");
@icon-new-file-toolbar:         url("chrome://komodo/skin/images/newText.png");
@icon-open-file:                url("chrome://global/skin/dirListing/folder.png");

@menubar-button-icon-filter:    none;

.history-back-icon {
    -moz-image-region: rect(0px 16px 16px 0px);
}

.history-forward-icon {
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}