<h3>about us</h3>
<p><strong>Habitual Readers</strong> meet at the Upper Gumtree community hall, 9:30am on the first and third Tuesday of each month. New members are always welcome.</p>

<p>We read so much, we sometimes forget who has read what. We use this website to helps us remember.</p>
