<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
    <UI>
      <Dialog Id="MaintenanceWelcomeDlg" Width="370" Height="270" Title="[ProductName]">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
          <Publish Event="NewDialog" Value="[WixUI_MaintenanceWelcomeDlg_Next]">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="141" Height="234" TabSkip="no" Text="WixUI_Bmp_Dialog" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="&amp;Back" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="374" Height="0" />
        <Control Id="Description" Type="Text" X="155" Y="70" Width="205" Height="60" Transparent="yes" NoPrefix="yes">
          <Text>The [WixUI_Wizard_Name] allows you to change the way [ProductName] features are installed on your computer or to remove it from your computer. Click Next to continue or Cancel to exit the [WixUI_Wizard_Name].</Text>
        </Control>
        <Control Id="Title" Type="Text" X="155" Y="20" Width="205" Height="60" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Bigger}Welcome to the [ProductName] [WixUI_Wizard_Name]</Text>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
