<html>
<head>
<title>this RHTML file has JS and Ruby code</title>
<script type="application/x-javascript">
    function yoyoyo(span) {
        //...
    }
</script>
</head>
<body>
<h1>Gansta Rap</h1>

<%
def spitit
    "word"
end
%>

<ul>
  <li onclick="yoyoyo();"><%= spitit %></li>
</ul>

</body>
</html>
