@panel-border-color:                inherit;

@sidebar-background-color: 			#FFF;
@sidebar-inactive-background-color: #FFF;
@sidebar-splitter-color: 			#FFF;

@bottom-background-color: 			#FFF;
@bottom-inactive-background-color: 	#FFF;

@tree-item-highlight-background: 	highlight;