@import url("chrome://komodo/skin/plat/current/_config/tabs.less");

@tab-box-border:                        1px solid rgba(0,0,0,0.1);
@tab-box-background-icons:              #DCDCDC -moz-linear-gradient(top, #dcdcdc 0%, #bfbfbf 100%);

@tab-moz-appearance:                    none;
@tab-moz-appearance-vertical:           none;
@tab-moz-appearance-icons:              none;

@tab-text-shadow:                       0 1px 0 rgba(255, 255, 255, 0.7);

@tab-box-shadow:                        inset -1px 1px 0px rgba(255,255,255,0.5);
@tab-border:                            1px solid rgb(191,191,191);
@tab-transition:                        all 0.20s linear;
@tab-background:                        -moz-linear-gradient(90deg , rgb(200,200,200) 0%, rgb(230,230,230) 100%);
@tab-background-vertical:               @tab-background;
@tab-box-shadow-vertical:               @tab-box-shadow;

@tab-selected-border:                   @tab-border;
@tab-selected-background:               rgba(255,255,255,0.7);
@tab-selected-box-shadow:               @tab-box-shadow, inset 0px -1px 5px 0px rgba(0, 0, 0, 0.1);
@tab-selected-color:                    #1C1C1C;
@tab-selected-background-vertical:      @tab-selected-background;
@tab-selected-box-shadow-vertical:      @tab-selected-box-shadow;

@tab-hover-border:                      @tab-border;
@tab-hover-background:                  rgba(255,255,255,0.4);
@tab-hover-box-shadow:                  @tab-box-shadow;
@tab-hover-color:                       @tab-color;
@tab-hover-background-vertical:         @tab-hover-background;
@tab-hover-box-shadow-vertical:         @tab-hover-box-shadow;

@tab-active-border:                     @tab-border;
@tab-active-background:                 @tab-selected-background;
@tab-active-box-shadow:                 @tab-box-shadow, inset 0px -1px 5px 0px rgba(0, 0, 0, 0.2);
@tab-active-color:                      @tab-color;
@tab-active-background-vertical:        @tab-active-background;
@tab-active-box-shadow-vertical:        @tab-active-box-shadow;
