@import url("chrome://komodo/skin/plat/current/_config/window.less");

@sidebar-background:                    -moz-linear-gradient(-90deg , rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 500px);

@main-toolbox-findtoolbar-border:            1px solid rgba(0, 0, 0, 0.5);
@main-toolbox-findtoolbar-shadow:            0px 1px 3px 0px rgba(0, 0, 0, 0.2) inset;
@main-toolbox-findtoolbar-shadow-focus:      0px 0px 3px rgba(255, 255, 255, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.2) inset;
