@import url("chrome://komodo/skin/plat/current/platform.less");

/* Menu Tweaks */

menupopup
{
    label
    {
        font-size: 80%;
    }

    .menu-accel-container,
    .menu-right
    {
        margin-right: 0;
    }
}

#main-toolboxrow
{
    padding-bottom: 2px;
}
