@import url("chrome://komodo/skin/plat/current/_config/icons.less");

@icon-folder-open:              url("chrome://fugue/skin/icons/blue-folder-open.png");
@icon-folder-closed:            url("chrome://fugue/skin/icons/blue-folder.png");
@icon-folder-remote:            url("chrome://fugue/skin/icons/blue-folder-network.png");
@icon-project:                  url("chrome://fugue/skin/icons/blue-folder-open-document.png");
@icon-new-project:              @icon-project;
