

tabs[type="sidebar"]
{
  -moz-binding: url('chrome://komodo/content/bindings/scrolltabs.xml#tabs-droplist');
    padding: 0px;
    margin: 0px;
    -moz-appearance: none;
    border: none;
}

tabbox.sidepanel
{
  -moz-appearance: none;
  border: None;
  padding: 0px;
  margin: 0px;
}

tabbox.sidepanel > tabs,
tabbox.sidepanel > tabpanels,
tabbox.sidepanel > tabpanels > tabpanel,
tabbox.sidepanel > tabpanels > tabpanel > vbox,
tabbox.sidepanel > tabpanels > tabpanel > vbox > partviewer
{
  -moz-appearance: none;
  border: None;
  padding: 0px;
  margin: 0px;
}

tabbox.sidepanel .toolbar-box,
tabbox.sidepanel .partviewer-toolbar {
  margin-bottom: 6px;
}

tabbox.sidepanel partviewer,
tabbox.sidepanel tree
{
  border: None;
  padding: 0px;
  margin: 0px;
  border:none;
}

tabbox.sidepanel tree treechildren,
tabbox.sidepanel tree treechildren::-moz-tree-row,
tabbox.sidepanel partviewer treechildren,
tabbox.sidepanel partviewer treechildren::-moz-tree-row {
  padding-bottom: 1px;
  -moz-appearance: none;
  margin: 0;
  border: none;
}
/*
tabbox.sidepanel tree treechildren::-moz-tree-cell-text(selected), 
tabbox.sidepanel partviewer treechildren::-moz-tree-cell-text(selected) {  
  font-weight: bold !important;
}

tabbox.sidepanel tree treechildren::-moz-tree-row(selected),
tabbox.sidepanel partviewer treechildren::-moz-tree-row(selected) {  
  background-image: url("chrome://browser/skin/places/selected-gradient.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  border-top: 1px solid #979797;
}
*/
