
/* Spinning busy throbber. */
.throbber {
    list-style-image: none;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-margin-start: 5px;
    -moz-margin-end: 2px;
}

.throbber[busy="true"] {
    list-style-image: url("chrome://global/skin/icons/loading_16.png");
}


treechildren::-moz-tree-image {
    margin-right: 2px;
}


/* Styling of results view rows in the 'Go to File' dialog's <tree>.
 * Note: This is all disabled because can't find something that works well.
*/

/*
treechildren::-moz-tree-row(blockStart) {
    border-top: 1px solid #eee;
    padding-top: 5px;
}

// lame
treechildren::-moz-tree-row(open-view) { border-right: 3px solid red; }
treechildren::-moz-tree-row(path) { border-right: 3px solid blue; }
treechildren::-moz-tree-row(project-path) { border-right: 3px solid yellow; }
treechildren::-moz-tree-row(history-uri) { border-right: 3px solid green; }

// So far can't get the selected/focus ones to clean up.
treechildren::-moz-tree-row(odd_block) {
    background-color: #eee;
}
treechildren::-moz-tree-row(odd_block, selected) {
    background-color: threedface;
}
treechildren::-moz-tree-row(odd_block, selected, focus) {
    background-color: highlight;
}
*/