@panel-border-color:                    #929293;

@sidebar-background-color:              #D3D8E1;
@sidebar-inactive-background-color:     #EBEBEB !important;
@sidebar-splitter-color:                @panel-border-color;

@bottom-background-color:               #EDEDED;
@bottom-inactive-background-color:      #EDEDED;

@statusbar-background:                  #ebebeb url('chrome://komodo/skin/images/status-bg.png') top center repeat-x;
@statusbar-text-color:                  #4f4f4f;
@statusbar-font:                        "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
@statusbar-panel-border-image:          url('chrome://komodo/skin/images/status-separator.png') 1 1 stretch;

@main-border-color:                     #abacad;
@main-border-color-inactive:            #CCCCCC;

@menubar-group-border-color:            #969696;
@menubar-group-border-color-inactive:   #C4C4C4;

@menubar-button-separator:              url('chrome://komodo/skin/images/menubar-button-separator.png');
@menubar-button-background:             -moz-linear-gradient(top, #f6f6f6 0%, #f6f6f6 20%, #cfcfcf 100%);
@menubar-button-background-active:      -moz-linear-gradient(top, #8E8E8E 0%, #b3b3b3 5%, #d8d8d8 65%);
@menubar-button-shadow:                 1px 1px 0 rgba(255,255,255,0.30);
@menubar-button-shadow-inset:           inset 0 1px 0 rgba(255,255,255,0.40);

@menubar-border-bottom:                 1px solid #696969;

@tree-item-highlight-background:        highlight;