#hyperlink_gotodefinition_tooltip {
    -moz-appearance: none;
    -moz-border-radius: 6px 6px 6px 6px;
    background-color: rgb(128, 128, 128);
    /*opacity: 0.7;*/
}

#hyperlink_gotodefinition_div {
    padding: 6px;
}

.codehelper_name {
    font-weight: bolder;
}

.codehelper_signature {
    font-weight: bolder;
}

.codehelper_doc {
    white-space: pre-wrap !important;
    font-weight: lighter;
    font-size: smaller;
}
