#hyperlink_gotodefinition_tooltip {
    -moz-appearance: none;
    border-radius: 6px 6px 6px 6px;
}

#hyperlink_gotodefinition_tooltip.light {
    background-color: #CCCCCC;
}

#hyperlink_gotodefinition_tooltip.dark {
    background-color: #808080;
}

#hyperlink_gotodefinition_div {
    padding: 6px;
}

.codehelper_name {
    font-weight: bolder;
}

.codehelper_signature {
    font-weight: bolder;
}

.codehelper_doc {
    white-space: pre-wrap !important;
    font-weight: lighter;
    font-size: smaller;
}
