#toolbar {
  padding-left: 3px;
}

#toolbar > spacer {
  min-width: 5px;
}

#filter-error {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

#filter-warning {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

#filter-info {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

#filter-progress {
  list-style-image: url("chrome://fugue/skin/icons/clock-history.png");
}

#filter-search {
  -moz-box-flex: 1;
  margin: 0;
}

#message-container {
  -moz-box-flex: 1;
}

notification {
  -moz-binding: url("chrome://komodo/content/notifications/notification.xml#notificationMessage");
}

notification .twisty > box {
  -moz-box-orient: horizontal;
  -moz-box-align: start;
  padding: 4px;
}

notification[type="info"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

notification[type="warning"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

notification[type="error"] .messageImage {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

notification[type="info"][progress="done"] .messageImage {
  /* progress completed notifications with no errors */
  list-style-image: url("chrome://fugue/skin/icons/tick.png");
}

notification[progress]:not([progress="done"]) .messageImage {
  /* in-progress notifications */
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

notification[progress="done"] progressmeter {
  display: none;
}

notification .twistyImageWrapper {
  -moz-box-pack: start;
}

notification:not([details]) .twistyImageWrapper {
  display: none;
}

notification .twistyImage {
  margin-top: -moz-calc(16px - 9px);
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
}

notification[open] .twistyImage {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

notification [anonid="text"] {
  width: 0;
  -moz-box-flex: 1;
}
notification description[anonid="time"] {
  margin-left: 0;
}

notification .tag {
  background-color: rgb(96, 96, 96);
  color: rgb(252, 252, 252);
  border-radius: 10em; /* large enough to make rounded ends */
  padding-left: 0.75em;
  padding-right: 0.75em;
}

notification [anonid="details"] {
  overflow-x: auto;
  -moz-transition-property: height;
  -moz-transition-duration: 40ms;
}
notification [anonid="detail-text"] {
  font-family: monospace;
  -moz-user-select: text;
  cursor: text;
  white-space: pre;
  overflow-x: auto;
}

notification:not(:-moz-any([details][open])) [anonid="details"] {
  /* height is !important to override the style= set at runtime that is needed
   * to make things the right height.
   */
  height: 0 !important;
  overflow-y: hidden;
  -moz-transition-property: height;
  -moz-transition-duration: 40ms;
}

notification button[action-id="stop"],
notification button[action-id="abort"] {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

#notificationWidget toolbar
{
    border-bottom: 0;
}
