@import url("chrome://komodo/skin/_config/window.less");
@import url("chrome://komodo/skin/_helpers/shortcuts.less");

/* Toolbars */

/* Button Group */
#main-toolboxrow toolbar > toolbaritem {
    
    .border(@menubar-group-border-width, @menubar-group-border-style, @menubar-group-border-color);
    height: 24px;

    toolbarbutton
    {
        -moz-appearance: none;
    }

    /* Button */
    > toolbarbutton
    {
        min-width: 24px;
        height: 24px;
        padding: 0 0 0 6px !important;
        margin: 0;
        
        .border(@menubar-button-border-width, @menubar-button-border-style, @menubar-button-border-color);
        box-shadow: @menubar-button-shadow;
        
        border-radius: @menubar-button-border-radius;
        background-color: @menubar-button-background-color;
        background-image: @menubar-button-background-image;
        background-position: @menubar-button-background-position;
        background-repeat: @menubar-button-background-repeat;
        
        -moz-transition: all 0.20s linear;
        
        /* Button Icon */
        image
        {
            filter: @menubar-button-icon-filter;
            padding-right: 5px;
        }
        
        /* First button in group */
        &.first-child
        {
            background-position: 100px, center center;
            border-width: @menubar-button-first-border-width;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        
        /* Last button in group */
        &.last-child
        {
            padding-right: 5px !important;
            border-width: @menubar-button-last-border-width;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            
            image
            {
                padding-right: 0;
                border-right: 0;
            }   
        }
        
        &.first-child.last-child
        {
            border-width: @menubar-button-single-border-width;
        }
        
        /* Hovered Icon */
        &:hover
        {
            box-shadow: @menubar-button-shadow-hover;
            background-color: @menubar-button-background-color-hover;
            background-image: @menubar-button-background-image-hover;
        }
        
        /* Checked / Active Button */
        &[checked], &[open="true"], &:active
        {
            box-shadow: @menubar-button-shadow-active;
            background-color: @menubar-button-background-color-active;
            background-image: @menubar-button-background-image-active;
        }
        
        /* Inactive button */
        &:-moz-window-inactive
        {
            border-color: @menubar-button-border-color-inactive;
        }
        
        /*
         * The recent locations button is a bit special and needs to be merged
         * into it's previous sibling
        */
        &#historyRecentLocations
        {
            background-position: 100px, center center;
            list-style-image : url("chrome://komodo/skin/images/firefox-Toolbar.png");
            -moz-image-region: rect(0px, 664px, 23px, 649px);
            padding-left: 0;
            min-width: 0;
            margin-left: -8px;
           
            /* If it has no sibling, revert the "merge" */
            &.first-child {
                padding-left: 6px;
                min-width: 24px;
                margin-left: 0;
            }
            
            [disabled="true"]
            {
                -moz-image-region: rect(23px, 664px, 46px, 649px);
            }   
        }
    }
}

#main-toolboxrow toolbar
{

    &.first-child toolbaritem.has-children:first-child
    {
        border-width: @menubar-group-first-border-width;
    }
    
    &.last-child toolbaritem.has-children:last-child
    {
        border-width: @menubar-group-last-border-width;
    }
}

#main-toolboxrow > hbox
{
    border-bottom: @menubar-border-bottom;
    padding-bottom: 3px;
}

/* "workspace_splitter": A splitter used between main panes in the
 * Komodo window.
 */

splitter
{
    &[orient="vertical"].workspace_splitter
    {
        -moz-appearance: none;
        min-height: 3px;
        height: 3px;
        border: none;
        z-index: 100;
        position: relative;
        background: transparent;
        margin-bottom: -2px;
        border-top: @main-border;
        
        &:-moz-window-inactive
        {
            border-top: @main-border-inactive;
        }
    }
    
    &[orient="horizontal"]
    {
        &.workspace_splitter
        {
            -moz-appearance: none;
            min-width: 3px;
            width: 3px;
            border: none;
        }
        
        &.workspace_splitter_left
        {
            background: @sidebar-background-color;
            border-right: @panel-border;
            
            &:-moz-window-inactive
            {
                background: @sidebar-inactive-background-color;
            }
        }
        
        &.workspace_splitter_right
        {
            background: @sidebar-background-color;
            border-left: @panel-border;
            
            &:-moz-window-inactive
            {
                background: @sidebar-inactive-background-color;
            }
        }
    }
}

/* Widgets & Panes */

#workspace_left_area, #workspace_right_area {
	background: @sidebar-background-color;
	
	&:-moz-window-inactive {
		background: @sidebar-inactive-background-color;
	}
}

#workspace_bottom_area {
	background: @bottom-background-color;
	
	&:-moz-window-inactive {
		background: @bottom-inactive-background-color;
	}
}

#collab-pane, #collab-panel-container {
	background: @sidebar-background-color;
  
	&:-moz-window-inactive {
		background: @sidebar-inactive-background-color;
	}
}

#breakpoints-tabpanel-hbox, #runoutput-button-box
{
    padding: 5px;
}

#breakpoints-tree, #runoutput-scintilla, #sleuthPane > .sleuth-flex,
#notificationWidget #message-container, #klint-tree
{
    border-top: @main-border;
    box-shadow: @panel-separator-shadow;
}

#breakpoints-tree, #klint-tree
{
    background-color: @tree-background-color !important;
}

/* Statusbar */

statusbar
{
    padding: 0 !important;
    font-family: @statusbar-font;
    font-size: @statusbar-font-size;
    color: @statusbar-text-color;
    
    statusbarpanel
    {
        padding: 2px;
        background: @statusbar-background;
        border-right: 1px solid transparent;
        -moz-border-image: @statusbar-panel-border-image;
        
        &:last-child, &#statusbar-line-col
        {
            border-right: 0;
        }
    }
}

#notificationWidget
{
    #toolbar
    {
        border-right: 0px;
    }
    
    #message-container
    {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        border-left: 0px !important;
        border-right: 0px !important;
        
        notification
        {
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}

/*
 * Tabs
 */
.native 
{
    
    /* Remove the default 5px margin around a xul tabbox. */
    margin-left: 0px;
    margin-right: 0px;
    
    tabpanels
    {
        -moz-appearance: none !important;
        border: none;
        -moz-border-bottom-colors: none;
        padding: 0px;
        margin: 0px;
        
        & > tabpanel
        {
            margin: 0;
            padding: 0;
        }
    }
    
    tabs
    {
        border: none;
        -moz-box-pack: center;
        -moz-box-align: stretch;
        height: 25px;
        padding-bottom: 0;
        
        /* remove the -12px margin set by the global tabbox.css */
        margin-bottom: 0px;
        /* remove the 10px padding set by the global tabbox.css */
        padding-left: 0px;
        padding-right: 0px;
        
        .tabstrip-box
        {
            color: @tabs-color;
            font-family: @tabs-font;
            font-size: @tabs-font-size;
            box-shadow: @tabs-box-shadow;
            border-bottom: @tabs-box-border;
            background-color: @tabs-box-background-color;
            background-image: @tabs-box-background-image;
        }
        
        .tabs-left
        {
            display: -moz-box;
            width: 3px;
        }
        
        &[overflow="true"] .tabs-left
        {
            display: none;
        }
        
        /**
         * Tab Drag and Drop
         */
        .tab-drop-indicator-bar
        {
            height: 10px;
            margin-top: -10px;
            position: relative;
            /* set -moz-margin-start to -1/2 indicator width: */
            -moz-margin-start: -4px;
            
            .tab-drop-indicator
            {
                height: 33px;
                width: 10px;
                margin-bottom: -24px;
                position: relative;
                background: url('chrome://komodo/skin/tabs/tabDragIndicator.png') 50% 40% no-repeat;
            }
        }
        
        /*
         * Tab close button
         */
        .tab-close-button,
        .tabs-closebutton
        {
            -moz-appearance: none;
            opacity: 0.8;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            list-style-image: url("chrome://global/skin/icons/close.png");
            -moz-image-region: rect(0px, 16px, 16px, 0px);
            
            &[selected="true"]
            {
                opacity: 1;
                display: inherit;
            }
            
            &:focus
            {
                outline: none !important;
            }
            
            :hover
            {
                opacity: 1;
                -moz-image-region: rect(0px, 32px, 16px, 16px);
                
                &:active
                {
                    -moz-image-region: rect(0px, 48px, 16px, 32px);
                }
            }
        }
    }
    
    /**
     * Tab selection.
     */
    .tabs-select-button
    {
        list-style-image: url("chrome://komodo/skin/images/alltabs-box-bkgnd-icon.png");
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        background: inherit;
        
        & > image
        {
           opacity: 0.7;
        }
        
        &:hover > image
        {
            list-style-image: url("chrome://komodo/skin/images/alltabs-box-bkgnd-icon.png");
            opacity: 1.0;
        }
        
        & > .toolbarbutton-menu-dropmarker
        {
            display: none;
        }
        
        & > .toolbarbutton-text
        {
            display: none;
        }
        
        & > .toolbarbutton-icon
        {
            -moz-margin-end: 2px;
        }
    }
    
    /*
     * Tab scrollbox
     */
    .tab-arrowscrollbox
    {
        
        & > .scrollbutton-up,
        & > .scrollbutton-down-stack > .scrollbutton-down[chromedir="rtl"]
        {
            border: 0;
            border-right: 2px solid;
            -moz-border-right-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
            list-style-image: url("chrome://komodo/skin/tabs/tab-arrow-start.png");
            -moz-image-region: rect(0px, 7px, 11px, 0px);
            padding: 0;
            width: 16px;
            margin: 0;
        }
        
        & > .scrollbutton-down-stack > .scrollbutton-down[chromedir="rtl"]
        {
            -moz-border-end: none;
        }
        
        & > .scrollbutton-up
        {
            &[chromedir="rtl"]
            {
                -moz-border-start: none;
            }
            
            &:hover
            {
                background-color: rgba(0,0,0,0.10);
                
                &:active
                {
                    background-color: rgba(0,0,0,0.20);
                }
            }
        }
        
        & > .scrollbutton-up[disabled="true"],
        & > .scrollbutton-down-stack > .scrollbutton-down[disabled="true"][chromedir="rtl"]
        {
            -moz-image-region: rect(0px, 28px, 11px, 21px);
            background-color: transparent !important; 
        }
        
        .scrollbutton-down,
        & > .scrollbutton-up[chromedir="rtl"]
        {
            border-left: 2px solid;
            -moz-border-left-colors: rgba(0,0,0,0.25) rgba(255,255,255,0.15);
            list-style-image: url("chrome://komodo/skin/tabs/tab-arrow-end.png");
            -moz-image-region: rect(0px, 44px, 11px, 37px);
            -moz-padding-start: 2px;
            -moz-padding-end: 0;
            width: 16px;
            margin: 0;
        }
        
        & > .scrollbutton-up[chromedir="rtl"]
        {
            -moz-border-start: none;
        }
        
        .scrollbutton-down:hover
        {
            background-color: rgba(0,0,0,0.10);
            
            &:active
            {
                background-color: rgba(0,0,0,0.20);
            }
        }
        
        & > .scrollbutton-down-stack > .scrollbutton-down[disabled="true"],
        & > .scrollbutton-up[disabled="true"][chromedir="rtl"]
        {
            -moz-image-region: rect(0px, 23px, 11px, 16px);
            background-color: transparent !important;
        }
        
    }

    /*
     * For some bizarre reason this does not work when placed properly
     * under "tabs .tabstrip-box"
     */
    tab 
    {
        -moz-appearance: none;
        background: @tab-background;
        border-radius: 0 !important;
        box-shadow: @tab-box-shadow;
        border-right: @tab-border !important;
        margin: 0;
        padding: 0 5px;
        min-width: @tab-min-width !important;
        text-align: center;
        -moz-transition: @tab-transition;
        
        .tab-text
        {
            font-family: @tabs-font;
            font-size: @tabs-font-size;
            color: @tabs-color;
            margin: 0;
            text-shadow: @tabs-text-shadow;
            overflow: hidden;
        }
        
        ko-vertical-text
        {
            padding: 3px 0;
        }
        
        &[selected="true"] .tab-text
        {
            font-weight: bold;
        }
        
        &[selected="true"]
        {
            -moz-user-focus: normal;
            border-right: @tab-selected-border;
            background: @tab-selected-background;
            box-shadow: @tab-selected-box-shadow;
        }
        
        &:hover {
            border-right: @tab-hover-border;
            background: @tab-hover-background;
            box-shadow: @tab-hover-box-shadow;
        }
        
        &:active {
            border-right: @tab-active-border;
            background: @tab-active-background;
            box-shadow: @tab-active-box-shadow;
        }
        
        & .tab-image-left,
        & .tab-image-right
        {
            width: 8px;
            margin: 0px;
            padding: 0px;
        }
        
    }
}

/*
 * Vertical Tabs 
 */
ko-pane[type="vertical"] .pane-tabs-container tabs
{
    background: @tabs-box-background-image-vertical;
    box-shadow: @tab-box-shadow;
    
    tab
    {
        width: 2em;
        min-width: auto !important;
        border: 0;
        border-right: 0 !important;
        border-top: @tab-border !important;
        
        &:last-child
        {
            border-bottom: @tab-border !important;
        }
    }
}

#workspace_left_area .pane-tabs-container tabs
{
    border-right: @tabs-box-border;
}

#workspace_right_area .pane-tabs-container tabs
{
    border-left: @tabs-box-border;
}

/* Bottom Panel Tabs */

#workspace_bottom_area .tab-text
{
    font-size: @tabs-bottom-font-size;
}