
/* Special classes for XUL <splitter>'s in Komodo.
 *
 * See "plat/$PLAT/platform.css" for some plat-specific splitter classes.
 */


/* A splitter with a small divot grippy and no borders or padding. */

.divot_splitter {
  background-image: url("chrome://komodo/skin/images/grippy.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  padding: 0px; 
  border: none;
}

.divot_splitter[collapsed="true"] {
  visibility: collapse;
}


/* A splitter with a relatively small grippy and support for showing
 * collapsing state.
 */
.grippy_splitter_collapsable {
  background-image: none;
}

.grippy_splitter_collapsable > grippy {
  min-height: 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.grippy_splitter_collapsable[orient="vertical"] > grippy {
  min-width: 80px;
  background-position: center;
  background-repeat: no-repeat;
}


.grippy_splitter_collapsable[collapse="before"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_horizontal_left.png");
  background-repeat: no-repeat;
}

.grippy_splitter_collapsable[collapse="before"][state="collapsed"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_horizontal_right.png");
  background-repeat: no-repeat;
}

.grippy_splitter_collapsable[collapse="after"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_horizontal_right.png");
  background-repeat: no-repeat;
}

.grippy_splitter_collapsable[collapse="after"][state="collapsed"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_horizontal_left.png");
  background-repeat: no-repeat;
}


.grippy_splitter_collapsable[orient="vertical"][collapse="before"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_vertical_up.png");
  background-repeat: no-repeat;
}

.grippy_splitter_collapsable[orient="vertical"][collapse="before"][state="collapsed"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_vertical_down.png");
  background-repeat: no-repeat;
}

.grippy_splitter_collapsable[orient="vertical"][collapse="after"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_vertical_down.png");
  background-repeat: no-repeat;
}

.grippy_splitter_collapsable[orient="vertical"][collapse="after"][state="collapsed"] > grippy{
  background-position: center;
  background-image: url("chrome://komodo/skin/images/grippy_vertical_up.png");
  background-repeat: no-repeat;
}
