@icon-folder-open:              url("chrome://fugue/skin/icons/blue-folder-open.png");
@icon-folder-closed:            url("chrome://fugue/skin/icons/blue-folder.png");
@icon-folder-remote:            url("chrome://fugue/skin/icons/blue-folder-network.png");
@icon-project:                  url("chrome://fugue/skin/icons/blue-folder-open-document.png");
@icon-new-project:              @icon-project;

@icon-checkbox:                 url("@{icon-url-prefix}checkbox-unchecked3.png");
@icon-checkbox-checked:         url("@{icon-url-prefix}checkbox-checked2.png");
@icon-checkbox-background:      none;
@icon-radio:                    url("@{icon-url-prefix}radio-unchecked.png");
@icon-radio-selected:           url("@{icon-url-prefix}radio-checked.png");
@icon-radio-background:         none;
