@import url("chrome://komodo/skin/plat/current/_config/menus.less");

@main-menu-appearance:                  none;
@main-menu-item-appearance:             none;

@main-menu-item-color:                  #AFAFAF;
@main-menu-item-text-shadow:            0 1px 0 rgba(0, 0, 0, 0.7);
@main-menu-item-background:             transparent;
@main-menu-item-border-width:           0;
@main-menu-item-border-style:           solid;
@main-menu-item-border-color:           transparent;
@main-menu-item-box-shadow:             none;

@main-menu-item-color-hover:            #FFF;
@main-menu-item-text-shadow-hover:      @main-menu-item-text-shadow;
@main-menu-item-background-hover:       transparent;
@main-menu-item-border-width-hover:     0;
@main-menu-item-border-style-hover:     solid;
@main-menu-item-border-color-hover:     transparent;
@main-menu-item-box-shadow-hover:       none;

@main-menu-item-color-open:             #FFF;
@main-menu-item-text-shadow-open:       @main-menu-item-text-shadow;
@main-menu-item-background-open:        transparent;
@main-menu-item-border-width-open:      0;
@main-menu-item-border-style-open:      solid;
@main-menu-item-border-color-open:      transparent;
@main-menu-item-box-shadow-open:        none;

@menupopup-appearance:                  none;
@menupopup-menuitem-appearance:         none;
@menupopup-background:                  lighten(@window-background, 2%);
@menupopup-color:                       @window-color;
@menupopup-border:                      2px solid lighten(@main-border-color, 5%);
@menupopup-background-active:           -moz-linear-gradient(top, rgba(80, 157, 212, 0.05) 15%, rgba(80, 157, 212, 0.2) 100%);
@menupopup-color-active:                lighten(@window-color, 10%);
@menupopup-disabled-color:              fade(@window-color, 35%);
@menupopup-accelerator-color:           fade(@window-color, 35%);
@menupopup-separator-appearance:        none;
@menupopup-separator-background:        -moz-linear-gradient(left, fade(@window-background, 100%) 0%, rgba(80, 157, 212, 0.2) 50%, fade(@window-background, 100%) 100%);
@menupopup-menu-arrow-appearance:       none;

@menuitem-checkbox-icon-appearance:     none;
@menuitem-radiobox-icon-appearance:     none;