@import url("chrome://komodo/skin/plat/current/_config/modules.less");
@import url("chrome://komodo/skin/_config/window.less");

@tab-debug-box-background:              rgb(45, 45, 45) -moz-linear-gradient(90deg , rgb(45, 45, 45) 0%, rgb(55, 55, 55) 100%);

@tab-debug-color:                       @window-color;
@tab-debug-background:                  transparent;
@tab-debug-border-width:                1px;
@tab-debug-border-style:                solid;
@tab-debug-border-color:                transparent;
@tab-debug-border-radius:               4px;
@tab-debug-font-weight:                 normal;
@tab-debug-text-shadow:                 none;
@tab-debug-box-shadow:                  none;

@tab-debug-hover-color:                 @window-color;
@tab-debug-hover-background:            rgba(0,0,0, 0.25);
@tab-debug-hover-border-width:          @tab-debug-border-width;
@tab-debug-hover-border-style:          @tab-debug-border-style;
@tab-debug-hover-border-color:          rgba(255, 255, 255, 0.2);
@tab-debug-hover-border-radius:         @tab-debug-border-radius;
@tab-debug-hover-font-weight:           normal;
@tab-debug-hover-text-shadow:           none;
@tab-debug-hover-box-shadow:            none;

@tab-debug-selected-color:              #FFF;
@tab-debug-selected-background:         rgba(0,0,0, 0.35);
@tab-debug-selected-border-width:       @tab-debug-border-width;
@tab-debug-selected-border-style:       @tab-debug-border-style;
@tab-debug-selected-border-color:       rgba(255, 255, 255, 0.2);
@tab-debug-selected-border-radius:      @tab-debug-border-radius;
@tab-debug-selected-font-weight:        normal;
@tab-debug-selected-text-shadow:        none;
@tab-debug-selected-box-shadow:         none;

@breadcrumb-color:                      @window-color;
@breadcrumb-bar-background:             darken(@window-background, 3%);
@breadcrumb-border-color:               lighten(@main-border-color, 2%);
@breadcrumb-bar-border:                 1px solid @breadcrumb-border-color;
