@import url("chrome://komodo/skin/plat/current/_config/panes.less");
@import url("chrome://komodo/skin/_config/window.less");

@panel-label-color:                     #FFF;
@panel-label-weight:                    bold;
@panel-label-transform:                 none;
@panel-label-shadow:                    none;
@panel-label-font:                      inherit;

@panel-separator-shadow:                inherit;

@widget-splitter-background:            -moz-linear-gradient(left, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.25) 10%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.25) 90%, rgba(0,0,0,0.01) 100%);

@pane-splitter-appearance:              none;
@pane-splitter-border-color:            lighten(@main-border-color, 4%);
@pane-splitter-border:                  1px solid @pane-splitter-border-color;

@pane-text-color:                       #EDEDED;
