@import url("chrome://komodo/skin/plat/current/_config/window.less");

@window-color:                          #CACCD1;
@window-background:                     #27282B;
@workspace-background:                  #27282B;

@sidebar-background:                    darken(@window-background, 1%);
@sidebar-inactive-background:           @sidebar-background;

@bottom-background:                     darken(@window-background, 3%) -moz-linear-gradient(-90deg , rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 50px);
@bottom-inactive-background:            @bottom-background;

@main-border-color:                     #151516;
@main-border-color-inactive:            @main-border-color;
@main-border:                           1px solid @main-border-color;
@main-border-inactive:                  1px solid @main-border-color-inactive;

@panel-border-color:                    lighten(@main-border-color, 2%);
@panel-border:                          1px solid @panel-border-color;

@statusbar-appearance:                  none;
@statusbar-background:                  darken(@window-background, 5%) -moz-linear-gradient(-90deg , rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 50px);
@statusbar-text-color:                  darken(@window-color, 10%);
@statusbar-font:                        inherit;
@statusbar-font-size:                   inherit;
@statusbar-border-width:                1px 0 0 0;
@statusbar-border-style:                solid;
@statusbar-border-color:                @main-border-color;
@statusbar-panel-border-image:          none;

@tree-background:                       @window-background;
@tree-color:                            @window-color;
@tree-color-selected:                   lighten(@tree-color, 40%);
@tree-color-selected-focus:             lighten(@tree-color, 60%);
@tree-treecol-appearance:               none;
@tree-treecol-background:               darken(@window-background, 2%) -moz-linear-gradient(-90deg , rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
@tree-treecol-border:                   1px solid @main-border-color;
@tree-treecol-color:                    darken(@window-color, 5%);
@tree-row-background:                   transparent;
@tree-row-background-odd:               rgba(0, 0, 0, 0.1);
@tree-row-background-selected:          -moz-linear-gradient(top, rgba(80, 157, 212, 0.05) 15%, rgba(80, 157, 212, 0.2) 100%);
@tree-row-background-selected-focus:    -moz-linear-gradient(top, rgba(80, 157, 212, 0.1) 15%, rgba(80, 157, 212, 0.2) 100%);
