/**
 * CSS style rules specific to find2.xul (the find dialog)
 */

#pin-btn {
    list-style-image: url(chrome://fugue/skin/icons/pin-small.png);
}
#pin-btn[checked] {
    list-style-image: url(chrome://fugue/skin/icons/pin.png);
    -moz-appearance: toolbarbutton;
    /* These rules only apply on Mac OSX, where the -moz-appearance rule doesn't */
    background: none;
    border: 2px inset rgb(185, 185, 185);
    border-radius: 5px;
    -moz-border-top-colors:    rgb(185, 185, 185) rgb(128, 128, 128);
    -moz-border-right-colors:  rgb(255, 255, 255) rgb(185, 185, 185);
    -moz-border-bottom-colors: rgb(255, 255, 255) rgb(185, 185, 185);
    -moz-border-left-colors:   rgb(185, 185, 185) rgb(128, 128, 128);
    padding: 4px;
}

#pin-btn > label {
    display: none;
}

/* Todo: Remove this custom styling globally */
.rightarrow-button,
.button-toolbar-a {
    -moz-appearance: button;
}

.button-toolbar-a > .button-internal-box {
    border: 0 !important;
}

row > label {
    width: 85px;
}

spacer.button-spacer {
    width: 96px; /* Add margin of label above */
}

#find-buttons button,
#find-buttons checkbox {
    width: 150px;
}

window:not(.mode-replace) #repl-row {
    visibility: collapse;
}

.collapsed {
    visibility: collapse;
}