/**
 * Side panes - Vertical tabs
 */

ko-pane[type="vertical"] tabs[anonid="tabs"] tab
{
  /* Let our own native tab styling above work on the vertical tabs. */
  -moz-appearance: none;
  /* Undo horizontal-specific native tab css styling from above. */
  border-bottom: solid 1px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
}
