/**
 * Side panes - Vertical tabs
 */

/*
 * Add margin to tab headings (for vertical/sidebar only)
 */
ko-pane :not(ko-vertical-text).tab-text {
  padding-left: 6px;
}

/* Add border to tabs - we use .pane-tabs-container instead of the tab element
 * because the tab gets styled natively and this setting is then ignored.
 */
ko-pane[type="vertical"][rotation="270"] .pane-tabs-container
{
  border-right: 1px solid threedshadow;
}
ko-pane[type="vertical"][rotation="90"] .pane-tabs-container
{
  border-left: 1px solid threedshadow;
}

ko-pane[type="vertical"] tabs[anonid="tabs"] tab
{
  /* Let our own native tab styling above work on the vertical tabs. */
  -moz-appearance: none;
  margin-top: 0;
  border-width: 0;
  border-radius: 0;
  border-left-style: solid;
  -moz-border-top-colors: rgba(80, 80, 80, 0.35);
  -moz-border-bottom-colors: rgba(80, 80, 80, 0.35);
  -moz-border-left-colors: rgba(80, 80, 80, 0.35);
  -moz-border-right-colors: rgba(80, 80, 80, 0.35);
}

ko-pane[type="vertical"][rotation="90"] tabs[anonid="tabs"] tab
{
  border-bottom-width: 1px;
  border-right-width: 3px;
}
ko-pane[type="vertical"][rotation="90"] tabs[anonid="tabs"] tab:first-child
{
  border-top-width: 1px;
}

ko-pane[type="vertical"][rotation="270"] tabs[anonid="tabs"] tab
{
  border-top-width: 1px;
  border-left-width: 3px;
}
ko-pane[type="vertical"][rotation="270"] tabs[anonid="tabs"] tab:last-child
{
  border-bottom-width: 1px;
}

ko-pane[type="vertical"] tabs[anonid="tabs"] tab[selected="true"]
{
  -moz-border-top-colors: ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow;
  background-image: url("chrome://komodo/skin/tabs/tab-active-bkgnd.png");
  background-color: -moz-dialog;
}

ko-pane[type="vertical"][rotation="90"] tabs[anonid="tabs"] tab[selected="true"]
{
  border-top-width: 1px;
  border-left-style: none;
  -moz-border-right-colors: #ff9000;
}

ko-pane[type="vertical"][rotation="270"] tabs[anonid="tabs"] tab[selected="true"]
{
  border-bottom-width: 1px;
  border-right-style: none;
  -moz-border-left-colors: #ff9000;
}

ko-pane[type="vertical"][rotation="90"] tab .tab-text
{
  /* Otherwise the right pane tabs will crop the left-side of the text. */
  padding-left: 2px;
}
