#komodo_main[classic-toolbar="true"]
{
    #main-toolboxrow
    {
        -moz-box-ordinal-group: 0;
        overflow: -moz-hidden-unscrollable !important;
        width: auto !important;
        -moz-binding: none;
        -moz-box-flex: 0 !important;
    }
    
    #second-toolboxrow
    {
        -moz-box-ordinal-group: 1;
        overflow: -moz-hidden-unscrollable !important;
        -moz-box-pack: start !important;
        width: auto !important;
        -moz-binding: none;
        -moz-box-flex: 0 !important;
    }
    
    #middle-toolboxrow
    {
        -moz-box-ordinal-group: 2;
        -moz-box-flex: 1;
        -moz-box-pack: end !important;
    }
    
    #unifiedMenuButton
    {
        -moz-box-ordinal-group: 4;
    }
    
    #windowButtons
    {
        -moz-box-ordinal-group: 5;
    }
    
    #notification-widget #notification-widget-textbox
    {
        height: auto !important;
    }
}