#komodo_main[classic-toolbar="true"]
{
    #main-toolboxrow
    {
        -moz-box-ordinal-group: 0;
        width: auto !important;
        -moz-binding: unset !important;
    }
    
    #second-toolboxrow
    {
        -moz-box-ordinal-group: 1;
        width: auto !important;
        -moz-binding: unset !important;
        
        spacer
        {
            visibility: collapse;
        }
    }
    
    #middle-toolboxrow
    {
        -moz-box-ordinal-group: 2;
        -moz-box-flex: 1;
        -moz-box-pack: end !important;
        
        #notification-widget
        {
            min-width: 250px;
            max-width: 350px;
        }
    }
    
    #unifiedMenuButton
    {
        -moz-box-ordinal-group: 4;
    }
    
    #windowButtons
    {
        -moz-box-ordinal-group: 5;
    }
    
    #notification-widget #notification-widget-textbox
    {
        height: 26px !important;
    }
    
    #main-toolboxrow-wrapper .overflow-toolbaritem
    {
        visibility: collapse;
    }
}