@dark: 1;
@background: #21242A;
@foreground: #FFF;
@primary: #1C1E21;
@secondary: #1C1E21;
@special: #3F8AFF;
@border: #292C32;
@highlight: #3F8AFF;
@selected: #326ECD;
@selected-fg: #FFF;
@folder: #FFF;
@textbox: #1C1E21;
@textbox-foreground: #FFF;
@textbox-special: #FFF;
@textbox-foreground-special: #444444;
@caption: #FFF;
@button-primary: #326ECD;
@button: #326ECD;
@button-fg: #FFF;
@icons: #FFF;
@icons-selected: #FFF;
@icons-special: #3F8AFF;

@escaped-icons: %23FFF;
@escaped-icons-selected: %23FFF;
@escaped-folder: %23FFF;
@escaped-icons-special: %23FFF;
