#komodo_main {

/* Komodo Toolbox */

#toolbox_main
{
    border: 0;
    padding: 4px;
    color: @foreground-special;
    background: @special;
    
    toolbar toolbaritem
    {
        background: @contrast-special;
        border-radius: 1px;
        margin: 5px;
        padding: 0;
        
        & > toolbarbutton,
        .toolbaritem > toolbarbutton
        {
            width: 18px;
            margin: 0;
            padding: 5px;
            border-radius: 1px;
            color: @foreground-special;
            
            &:hover
            {
                background: darken(@contrast-special, 10%);
            }
        }
    }
    
    toolbar
    {
        width: auto;
        padding: 0;
    }
    
    toolboxrow [overflown="true"] {
      visibility: collapse;
    }
    
    .overflow-toolbarbutton > .toolbarbutton-menu-dropmarker {
      /* the dropmarker on the toolboxrow overflow button */
      visibility: collapse;
    }
}

#toolbox_main
{
    .overflows
    {
        visibility: collapse;
    }
    
    /**
     * Force 16px icons
     */
    toolbarbutton
    {
        font-size: 16px !important;
        
        &[class$='-icon'] image, [class$='-icon'] image,
        &[class$='_icon'] image, [class$='_icon'] image,
        image[class$='-icon'], image[class$='-icon'],
        image[class$='_icon'], image[class$='_icon']
        {
            &:not(.autorepeatbutton-icon)
            {
                max-width: 16px;
            }
        }
        
        dropmarker
        {
            font-size: 16px;
        }
        
        label.toolbarbutton-text
        {
            font-size: 0.9rem;
        }
    }
    
    /* Because we are using toolbaritem > toolbarbutton the text mode is bugged
       and we have to work around the issue */
    toolbar[_mode="text"]
    {
        toolbaritem
        {
            & > toolbarbutton,
            .toolbaritem > toolbarbutton
            {
                width: auto;
            }
        }
        
        toolbarbutton
        {
            min-height: 20px;
        }
        
        toolbarbutton:before, toolbarbutton > .toolbarbutton-icon:before
        {
            visibility: hidden;
            font-size: 0.001px;
            width: 0;
            height: 0;
            max-width: 0;
            max-height: 0;
            overflow: hidden;
        }
    }
    
    .overflow-toolbarbutton
    {
        height: 26px;
    }
    
    toolbar[_mode="full"]
    {
        label.toolbarbutton-text
        {
            margin-left: 4px;
        }
        
        toolbaritem
        {
            & > toolbarbutton,
            .toolbaritem > toolbarbutton
            {
                width: auto;
            }
        }
    }
}

#main-toolboxrow
{
    width: 50vw;
}

#second-toolboxrow 
{
    -moz-box-direction: reverse;
    width: 50vw;
    
    & > hbox
    {
        -moz-box-pack: end;
    }
}

// I really don't know why OSX is a special little butterfly this time around,
// but it  is. And we have to deal with it.
&[os-name="Darwin"]
{
    #main-toolboxrow
    {
        margin-right: -200px;
        padding-right: 200px;
    }
    
    #second-toolboxrow 
    {
        margin-left: -200px;
        padding-left: 200px;
    }
}

&:not([os-name="Darwin"])
{
    #main-toolboxrow
    {
        margin-right: -250px;
        padding-right: 250px;
    }
    
    #second-toolboxrow 
    {
        margin-left: -250px;
        padding-left: 250px;
    }
}

#middle-toolboxrow
{
    -moz-box-pack: center;
    -moz-box-flex: 1;
}

#notification-widget #notification-widget-textbox
{
    width: 350px;
    max-width: 350px;
    margin: 0 12px;
    padding: 0 8px;
    height: 32px;
    border: 0;
    border-radius: 2px;
    background: @textbox-special;
    
    label[anonid="notification-widget-text"]
    {
        margin: 0 8px;
        font-size: 1.2rem;
        text-align: center;
        color: @textbox-foreground-special;
        
        &.small
        {
            font-size: 0.9rem;
        }
    }
    
    button
    {
        background: transparent;
        color: @textbox-foreground-special;
        margin: 0 2px;
        padding: 0;
        min-width: 0;
    }
    
    .p-error > label, .p-error > .notification-icon { color: @state-error; }
    .p-warning > label, .p-warning > .notification-icon { color: @state-warning; }
    .p-notification > label, .p-notification > .notification-icon { color: @state-info; }
    .p-info > label, .p-info > .notification-icon { color: @state-info; }
    
    .clickable > label
    {
        cursor: pointer;
        
        &:hover
        {
            text-decoration: underline;
        }
    }
}

/* Side Toolbar */

#side-top-toolbar
{
    &[_mode="text"] toolbaritem
    {
        toolbarbutton:before, toolbarbutton > .toolbarbutton-icon:before
        {
            position: absolute;
        }
    }

    toolbaritem > toolbarbutton dropmarker.toolbarbutton-menubutton-dropmarker
    {
        margin-right: -6px;
    }
    
    &[_mode="text"]
    {
        toolbaritem > toolbarbutton dropmarker.toolbarbutton-menubutton-dropmarker
        {
            margin-right: 0;
        }
        
        .dynamic-button label.toolbarbutton-counter
        {
            margin-left: 0;
        }
    }
    
    toolbarbutton[type="menu-button"].dynamic-button:before,
    .dynamic-button label.toolbarbutton-counter:not([value])
    {
        visibility: collapse;
    }
    
    .dynamic-button[disabled="true"]
    {
        display: none;
    }
    
    .dynamic-button[type="menu-button"]:before
    {
        content: none !important; /* Remove icon from main element, it's added to a sub element */
    }
    
    .dynamic-button.show-label .toolbarbutton-text[value]
    {
        display: inherit;
        text-align: center;
        padding: 4px 0;
    }
    
    .dynamic-button label.toolbarbutton-counter
    {
        background: @state-info;
        border-radius: 12px;
        width: 16px;
        max-width: 16px;
        margin-left: -24px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }
    
    .dynamic-button.error label.toolbarbutton-counter { background: @state-error; }
    .dynamic-button.warning label.toolbarbutton-counter { background: @state-warning; }
    .dynamic-button.info label.toolbarbutton-counter { background: @state-info; }
    .dynamic-button.ok label.toolbarbutton-counter { background: @state-ok; }
}

/* Statusbar */

statusbar
{
    height: 28px;
    padding-bottom: 2px;
    border-bottom: 1px solid @background;
    background: @contrast !important;

    statusbarpanel > label
    {
        margin: 2px;
        padding: 3px;
    }
}

/* Workspace splitter */

splitter
{
    &.workspace_splitter
    {
        position: relative;
        z-index: 100;

        &[orient="horizontal"]
        {
            min-width: 5px;
            width: 5px;
        }

        &[orient="vertical"]
        {
            min-height: 5px;
            height: 5px;
        }
    }

    &#workspace_left_splitter
    {
        border-right: 1px solid @border;
        margin-left: -4px;
    }

    &#workspace_right_splitter
    {
        border-left: 1px solid @border;
        margin-right: -4px;
    }

    &#bottom_splitter
    {
        border-top: 1px solid @border;
        margin-bottom: -4px;
    }
}

/* Panels */

ko-pane:not([customizing]) .pane-drop-target
{
    display: none;
}

.pane-container tabs .tabstrip-box 
{
    /* Don't show buttons on pane tab bar */
    & > toolbarbutton
    {
        visibility: collapse;
    }
}

ko-pane[type="icons"] tab
{
    padding: 6px;
    -moz-box-flex: 1;
    
    .tab-icon
    {
        margin-right: 0;
    }
}

/* Quicklaunch */

#quicklaunch :not(button) > button
{
    width: 200px;
    height: 25px;
}

/* Quick Start */

vbox[anonid="quickstart"] .inner > button
{
    width: 200px;
    height: 25px;
    padding-bottom: 2px;
    margin: 3px;
    
    .box-inherit
    {
        width: 133px;
    }
}

}
