@import url("chrome://komodo/skin/global/global.less");
/* Komodo Toolbox */

#toolbox_main
{
    border: 0;
    padding: 4px;
    background: @special;
    
    toolbaritem
    {
        background: @button;
        border-radius: 3px;
        margin: 5px;
        padding: 0;
        
        & > toolbarbutton
        {
            width: 18px;
            margin: 0;
            padding: 5px;
            border-radius: 3px;
            
            &:hover
            {
                background: darken(@button, 10%);
            }
        }
    }
    
    toolbar
    {
        width: auto;
        padding: 0;
    }
    
    toolboxrow > [first-overflow] ~ *,
    toolboxrow > [first-overflow] [first-child-overflow],
    toolboxrow > [first-overflow] [first-child-overflow] ~ * {
      /* things that would overflow in the toolboxrow */
      visibility: hidden;
    }
    
    toolboxrow > .overflow-toolbarbutton > .toolbarbutton-menu-dropmarker {
      /* the dropmarker on the toolboxrow overflow button */
      visibility: collapse;
    }
}

#main-toolboxrow,
#second-toolboxrow
{
    width: ~"calc(50vw - 175px)";
}

#second-toolboxrow > hbox
{
    -moz-box-pack: end;
}

#toolbox_main #quickCommando
{
    width: 350px;
    
    #commando-search-quick
    {
        margin: 0 12px;
        -moz-box-flex: 1;
        height: 32px;
        line-height: 32px;
        font-size: 1.2rem;
        text-align: center;
        border: 0;
        border-radius: 5px;
        background: @textbox-special;
        color: fade(@textbox-foreground-special, 60%);
    }
}

/* Side Toolbar */

#toolbox_side
{
    width: 48px;
    background: @primary;
    -moz-box-orient: vertical;
    
    toolbaritem
    {
        -moz-box-orient: vertical;
        margin: 5px 0;
        
        & > toolbarbutton
        {
            margin: 5px 0;
        }
    }
    
    toolbaritem > toolbarbutton > dropmarker
    {
        width: 12px;
        margin-right: -12px;
    }
    
    #side-top-toolbar toolbarbutton[disabled="true"]
    {
        visibility: collapse;
    }
}

/* Statusbar */

statusbar
{
    height: 28px;
    padding-bottom: 2px;
    border-bottom: 1px solid @background;
    background: @primary;

    statusbarpanel > label
    {
        margin: 2px;
        padding: 3px;
    }
}

/* Workspace splitter */

splitter
{
    &.workspace_splitter
    {
        position: relative;
        z-index: 100;

        &[orient="horizontal"]
        {
            min-width: 5px;
            width: 5px;
        }

        &[orient="vertical"]
        {
            min-height: 5px;
            height: 5px;
        }
    }

    &#workspace_left_splitter
    {
        border-right: 1px solid @border;
        margin-left: -4px;
    }

    &#workspace_right_splitter
    {
        border-left: 1px solid @border;
        margin-right: -4px;
    }

    &#bottom_splitter
    {
        border-top: 1px solid @border;
        margin-bottom: -4px;
    }
}

/* Places */

#placesSubpanelSplitterHboxBorder
{
    margin: 0 !important;
    background: transparent !important;
}

#placesSubpanelSplitter vbox,
#placesSubpanelDeck
{
    /*background: @secondary !important;*/
}

/* Panels */

ko-pane:not([customizing]) .pane-drop-target
{
    display: none;
}

.pane-container tabs .tabstrip-box 
{
    /* Don't show buttons on pane tab bar */
    & > toolbarbutton
    {
        visibility: collapse;
    }
}

ko-pane[type="icons"] tab
{
    padding: 6px;
    -moz-box-flex: 1;
    
    .tab-icon
    {
        margin-right: 0;
    }
}

/* Pref Windows */

.pref-window:not(#prefWindow)
{
    padding: 0 24px;
}

/* HUD elements */

.hud, #editorTooltip
{
    background: @primary;
    
    &:not(.widget):not(.kodialog):not([anonid="quickstart"])
    {
        border: 1px solid @border;
    }
}

#commando-panel
{
    label,
    description
    {
        font-size: 1rem !important;
        color: @selected-fg;
    }

    separator
    {
        height: 1px;
        background: @border;
    }

    #commando-tip
    {
        background: @secondary;
    }
}

.widgetToolbarWrap
{
    background: @primary;
    border-top: 1px solid @border;
    -moz-box-pack: center;
    -moz-box-align: center;
}

/* Quicklaunch */

#quicklaunch :not(button) > button
{
    width: 200px;
    height: 25px;
}

/* Special Classes */

.editor-field
{
    color: @foreground;
    background: @background;
}

.statusbar
{
    border: 0;
    border-top: 1px solid @border !important;
    background: @primary;
}