.normalize-colors(main);

/* Fonts and colors */
:root
{
    font: message-box;
}

label, description, button, toolbarbutton, textbox
{
    line-height: 1.5rem;
}

description, listitem, richlistitem, label[id], treecol label, listheader,
checkbox, radio
{
    padding: 0.2rem 4px;
}

popup, panel
{
    background: @background;
    color: @foreground;
}

caption
{
    margin-top: 1.5rem;
    
    label
    {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

groupbox
{
    padding: 5px;
    
    .groupbox-body
    {
        padding-left: 10px;
    }
}

input.textbox-input
{
    padding: inherit;
    border: inherit;
    background-color: inherit;
    color: inherit;
    font: inherit;
    line-height: inherit;
    
}

menupopup
{
    background: transparent;
    
    & > .popup-internal-box
    {
        border-radius: 2px;
        border: 1px solid @background;
        background: @contrast;
    }
    
    /* We don't use menu icons, unless otherwise specified */
    menuitem:not(.force-icon) > * > .menu-iconic-icon
    {
        visibility: collapse;
    }
    
    menuitem:not(.force-icon):before
    {
        visibility: collapse;
        display: none;
    }
    
    menuitem, menu
    {
        border-radius: 2px;
    }
    
    menu > .menu-right
    {
        color: @special;
    }
    
    menu:hover > .menu-right
    {
        color: @foreground;
    }
}

*, ::-moz-tree-cell-text
{
    font-family: 'Lucida Grande', 'Segoe UI', 'Droid Sans', 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

/* Helpers */

[kohidden="true"], [collapsed="true"]
{
    visibility: collapse;
}

.disabled, [disabled="true"]
{
    opacity: 0.5;
}


/* Toolbars */

toolbarbutton {
  -moz-box-align: center;
  -moz-box-pack: center;
}

toolbaritem > toolbarbutton
{
    margin: 4px 6px;
}

toolbar
{
    padding: 4px;
}

toolbarbutton.menu-icon > label
{
    visibility: collapse;
}

toolbarbutton:not(.box-inherit)
{
    padding: 2px;
    margin: 2px;
}


/* Tabs */

tab
{
    padding: 2px 6px;
    
    label
    {
        padding: 0;
    }
}

tabs
{
    /* box-shadow defined in normalize-colors() */
    
    tab
    {
        -moz-box-pack: center;
        -moz-box-align: center;
        min-height: 32px;
    }
    
    tab:not([selected]) 
    {
        border-bottom: 2px solid transparent;
        
        label.tab-text
        {
            opacity: 0.7;
        }
    }
    
    tab[selected]
    {
        position: relative;
        z-index: 100;
        border-bottom: 2px solid @special;
    }
}

/* Form Elements */

checkbox + *, radio + *
{
    margin-left: 1.5rem;
}

checkbox, radio
{
    -moz-box-pack: center;
    -moz-box-align: center;
}

textbox, menulist
{
    padding: 0 4px;
    border-radius: 2px;
    margin: 2px;
    
    min-height: 1.5rem;
}

menulist > .menulist-label-box 
{
    -moz-box-align: center;
}

/* Trees & listboxes */

treecol
{
    label
    {
        padding: 0.5rem 4px;
        font-weight: bold;
    }
}

treecolpicker
{
    visibility: collapse;
}

::-moz-tree-row {
    min-height: 1.6rem;
}

treechildren::-moz-tree-twisty {
    -moz-appearance: none;
    width: 14px;
    height: 14px;
    margin-right: -6px;
}

treechildren::-moz-tree-cell {
    margin-left: 4px;
}

treechildren::-moz-tree-cell-text
{
    padding-left: 2px;
}

tree.twisty-only treechildren::-moz-tree-image
{
    margin-left: -14px;
}

/* Splitters */

splitter[orient="horizontal"]
{
    min-width: 1px;
}

splitter[orient="vertical"]
{
    min-height: 1px;
}

separator
{
    height: 1rem;
    
    &.slim
    {
        height: 0.5rem;
    }
}

.menu-accel-container
{
    opacity: 0.6;
    font-family: monospace;
    margin-left: 2rem;
}

menu, menuitem
{
    min-height: 1.6rem; /* Consistent with trees, listboxes, etc */
    -moz-box-align: center;
    
    padding: 0 6px;
}

menupopup menu:hover,
menupopup menuitem:hover
{
    background: @special;
    color: @foreground-special;
}

menuseparator
{
    height: 1px;
    background: @background;
}

.menu-iconic-left
{
    visibility: collapse;
    margin-left: 6px;
}

.menu-iconic-left,
.menu-iconic-left
{
    margin-right: 4px;
}

/* Panes */

page.widget listitem,
page.widget richlistitem
{
    padding-left: 4px;
    padding-right: 4px;
}


/* Buttons */

button.unstyled
{
    -moz-appearance: none;
}

:not(button) > button:not(.button-toolbar-a):not(.unstyled)
{
    -moz-appearance: none;
    margin: 4px;
    padding: 0.3rem 1.5rem;
    border-radius: 2px;
}

/* Modals */

:root[hidechrome="true"].dialog .window-wrapper,
:root:not([hidechrome="true"]).dialog,
dialog, :root.dialog, :root.pref-window
{
    color: @foreground;
    background: @contrast;
    
    .dialog-content-box
    {
        background: @contrast;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 6px;
    }
    
    .dialog-button-box
    {
        -moz-box-pack: center;
        -moz-box-align: center;
        background: @contrast;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 6px;
        
        spacer
        {
            visibility: collapse;
        }
    }
    
    .normalize-colors(modal);
    
    tabbox tabpanel
    {
        background: @background;
        color: @foreground;
        padding: 10px;
        
        .normalize-colors(main);
    }
}