:root wizard
{
    overflow: -moz-hidden-unscrollable !important;
    
    wizardpage > hbox,
    wizardpage groupbox > hbox,
    {
        -moz-box-align: center;
    }
    
    wizardpage .ui-radiogroup-wrapper
    {
        -moz-box-align: center;
        -moz-box-pack: center;
    }
    
    wizardpage .ui-label:not(.fullwidth)
    {
        width: 30vw;
        text-align: right;
    }
    
    wizardpage .ui-checkbox:not(.fullwidth)
    {
        margin-left: 30vw;
    }
    
    view
    {
        height: 200px;
    }
    
}

.wizard-buttons
{
    button
    {
        margin-left: 4px !important;
    }
}

#startup-wizard
{
    max-width: 600px;
}